%ul
  = menu(name_for_directory(@active_tab, 'search'), url_for_directory(@active_tab, 'search'), active_tab_for_nav(@second_nav, 'all'))
  - if @active_tab == :people
    = menu(name_for_directory(@active_tab, 'peers'), url_for_directory(@active_tab, 'peers'), active_tab_for_nav(@second_nav, 'peers'))
  = menu(name_for_directory(@active_tab, 'my'), url_for_directory(@active_tab, 'my'), active_tab_for_nav(@second_nav, 'my'))
