%hr
%div{:align => 'right'}
  = spinner('close_button')
  #close_button
  = button_to_function I18n.t(:close_and_reload_gallery), "$('close_button').hide(); $('close_button_spinner').show(); window.location='"+page_url(@page,:action => 'edit')+"';"