#update_message{:style => "color: red;"}
#show-image= render :partial => 'show_image', :locals => {:size => 'medium', :no_link => true}
#upload-new-image
  = render_image_form_with_progress
.gallery_item
  = image_title @image

