<%= render :partial => 'gallery_navigation' %>

<div class="gallery-item">
  <%= link_to thumbnail_img_tag(@showing.image, 'large'), @image.url %>
  <%= h(@showing.image.caption) %>
</div>

<%= gallery_display_image_position %>

