<%= render :partial => 'gallery_navigation' %>

<div class="gallery-item">
  <%= render :partial => 'show_image' %>
  <p><%= h(@showing.image.caption) %></p>
</div>

<span><%= gallery_display_image_position %></span>

