%h2.big_icon.page_gallery_48.title
  = I18n.t :edit_image_header

= link_to thumbnail_img_tag(@image, 'medium'), @image.url

.gallery_item
  = image_title @image

#div{:align => 'right'}
  = close_modal_button(:close)