<%
  showing ||= @showing
  image = showing.image
  detail_view_navigation(@page, @previous, image, @next)
  @info_box = gallery_navigation
-%>

<div class="gallery-item">
  <%= link_to thumbnail_img_tag(image, 'large'), image.url %>
  <%= image_title(image) %>
</div>

