$masthead_css: false !default;

@if $masthead_style == 'grid' {
  // there is only an enclosing container for the 'grid' style.
  #masthead_container {
    @include container;
  }
}

#masthead {
  height: $masthead_height;
  @if $masthead_border { border: $masthead_border; }
  @if $masthead_style == 'full' {
    width: 100%;
    margin: 0;
  } @else if $masthead_style == 'grid' {
    // 'full' in the susy context means up to the edge of the grid
    // which we are calling masthead_style == 'grid'
    @include full;
  }
  @if $masthead_css { @include masthead_css; }
}

#masthead_content {
  @if $masthead_content_padding { padding: $masthead_content_padding; }
  overflow: hidden;
  white-space: nowrap;
}

@if $masthead_content_vertical_align == 'center' {
  // note: this only works if #masthead {position: relative;}
  #masthead_content {
    @include center-vertically($masthead_content_height);
  }
}

