//
// global navigation menus
// (aka masthead menus, masthead nav)
//

$masthead_nav_tab_css: false !default;
$masthead_nav_tab_inactive_css: false !default;
$masthead_nav_tab_active_css: false !default;
$masthead_nav_tab_padding: 0.5em !default;
$masthead_nav_tab_margin: 0 !default;

$masthead_nav_dropdown_border_size: 1px; 

//
// menu tabs
//

// cutout style tabs
@if $masthead_nav_style == 'cutout' {
  #masthead {
    $ul_id: 'menu';
    @include cutout_menu(
      $ul_id,
      $masthead_nav_tab_padding,
      $background_color,
      $masthead_border
    );
  }
} @else {
  #menu li.tab {@include inline-list;}
}

#menu li.tab {
  position: relative;  // requires for the submenus to line up under the menu titles
}

// make the menu title look different when the dropdown is visible
// this is super cool, not sure if it works in ie.

#masthead ul#menu li.menu_visible a.tab {
  border: $masthead_nav_dropdown_border_size solid $masthead_nav_dropdown_border_color;
  border-bottom: 0;
  z-index: $zindex_menu + 1;
  position: relative;
  background-color: $masthead_nav_dropdown_background_color;
  &.active {
    background-color: $masthead_nav_dropdown_background_color;
    border: $masthead_nav_dropdown_border_size solid $masthead_nav_dropdown_border_color;
    border-bottom: 0;
  }
}

//
// the dropdown menu items
//

// menu_items are the actual dropdown menus that appear when you hover over the
// menu tabs.
//
// to debug how menu_items look, you may want to make them visible by default.
// this can be controlled in layouts/menu/boxes by setting :style=>"display: block"

#menu .menu_items {

  // positioning:
  // makes the menu items fall under the menu title (li.tab).
  // the actual magic that makes them appear is the in javascript class DropMenu. 
  position: absolute; 
  left: 0;

  // this positions the top of the menu items exactly under the menu tab.
  // not sure if it works in all browsers.
  margin-top: $masthead_nav_tab_padding/2 + $masthead_nav_dropdown_border_size;

  // appearance
  background-color: $masthead_nav_dropdown_background_color;
  padding: $grid_column_gutter;
  border: $masthead_nav_dropdown_border_size solid $masthead_nav_dropdown_border_color;
  z-index: $zindex_menu;

  // the name icons have a fancy hover effect
  // which requires adjusting the padding and position
  // of the icon. 
  a.name_icon {
    display: block;
    border: 1px solid $masthead_nav_dropdown_background_color;
    background-position: 4px 50%;
    padding: 12px 5px 12px 45px;
    &:hover {
      background-color: $masthead_nav_dropdown_hover_background_color;
      border: $masthead_nav_dropdown_hover_border;
    }
  }

  // allow menus to contain normal lists
  li {display: block;}
}

//
// menu columns
//

#menu {
  // columns
  div.leftcol {
    width: 17em;
    float: left;
  }
  div.rightcol {
    width: 17em;
    margin-left: 18em;
  }
  // make the me menu a little less wide
  div.leftcol.menu_me {width:10em;}
  div.rightcol.menu_me {margin-left:11em;}
}


