<div class='tab_content tab_area' id="color_theme_tab" <%= tab_style 'color_theme' %> >
  <% form_for @appearance do |f| %>
    <%= input_selected_tab('color_theme') %>
    <%= submit_tag I18n.t(:update_thing, :thing => I18n.t(:color_theme)), :class => "submit" %>
  <% end %>
</div>
