<table class="layout right_layout"><tr>
<td class="main_column">
<!-- BEGIN MAIN COLUMN -->
  
<%= yield %>
  
<!-- END MAIN COLUMN -->
</td>
<td class="right_column">
<!-- BEGIN RIGHT COLUMN -->
  
<%= @right_column %>
  
<!-- END RIGHT COLUMN -->
</td>
</tr></table>
