<html>
<head>
  <title>Action Controller: Exception caught</title>
  <style>
    body {
      background-color: #fff;
      color: #333;
      padding: 1em;
    }
    div#wrapper {
      background: #fafafa;
      border: 4px solid #000;
    }
    div#header {
      color: #fff;
      background: #159;
      padding: 10px;
    }
    div#header h1 {
      font-size: 1.5em;
    }
    div#content {
      display: none;
      padding: 20px;
    }
    body, p, ol, ul, td {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }
    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
    }
    a { color: #fff; }
    a:visited { color: #999; }
    a:hover { color: #fff; background-color:#000; }

  </style>

  <script type="text/javascript">
    function toggleDetails() {
      content = document.getElementById("content");
      detailsLink = document.getElementById("details");
      if (content.style.display == "block") {
        detailsLink.value = "Show Details";
        content.style.display = "none";
      }else {
        detailsLink.value = "Hide Details";
        content.style.display = "block";
      }
    }
  </script>

</head>
<body>
  <div id='wrapper'>
    <div id='header'>
      <h1>You have encountered a crabgrass error!</h1>
      <input type="submit" value="Show Details" id="details" onclick="toggleDetails()" />
<!--      <a id="details" href="#" onclick="toggleDetails()">Show details</a> -->
    </div>
    <div id='content'>
      <%= @contents %>
    </div>
  </div>
</body>
</html>

