/* set the font */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
.normal {font-size: 13px;font-weight:normal;}

body {
  background: #fff;
}

/* the grey background */
.colmask,
.holygrail .colleft,
.holygrail .colmid,
.leftmenu .colright, 
.rightmenu .colleft {
  background: #EFECE8;
}

div#footer {
  color: #528CBD;
  background-color: #EFEBE5;
}