-content_for :full_content_header do
  = render :partial => 'me/dashboard/header_identity'
- content_for :secondary_nav do
  = render :partial => 'me/dashboard/tabs'


= render :partial => 'message_thread_main_content'
