<h4> Superadmin </h4>
<ul>
  <li><%= link_to 'create users', new_user_path %></li>
  <li><%= link_to 'edit users', users_path %></li>
  <li><%= link_to 'create groups', new_group_path %></li>
  <li><%= link_to 'edit groups', groups_path %></li>
</ul>
