<h2 class="alert">Super Admin Powers</h2>
<ul class="side_list">
  <li class="small_icon user_add_16">
    <%= link_to_active 'Create User', new_admin_user_path, controller?('admin/users') && action?(:new) %>
  </li>
  <li class="small_icon user_16">
    <%= link_to_active 'Edit Users', users_path, controller?('admin/users') && !action?(:new) %>
  </li>
  <li class="small_icon membership_add_16">
    <%= link_to_active 'Create Groups', new_group_path, controller?('admin/groups') && action?(:new) %>
  </li>
  <li class="small_icon group_contributions_16">
    <%= link_to_active 'Edit Groups', groups_path, controller?('admin/groups') && !action?(:new) %>
  </li>
</ul>
