  <div style="display:inline; margin-left:2em;'">
    <%= "Public:"%>&nbsp;
    <span class='small_icon page_white_world_16'><%= tab_link('requested', 'public requested')%></span>&nbsp;
    <span class='small_icon world_16'><%= tab_link('approved', 'public')%></span>
  </div>

