%article
  %h4.small_icon.arrow_right_16
    = link_to h(announcement.title), page_url(announcement)
  = text_with_more(announcement.wiki.body_html, 'p', :length => 250, :omission => '... ') do
    = link_to(I18n.t(:more), page_url(announcement))
