<%- @info_box_class = "tabs" -%>
<%- @info_box = capture do -%>
<%=
if logged_in? and current_user.may?(:admin, @page)
  Formy.tabs do |f|
    f.tab do |t|
      t.label I18n.t(:show)
      t.url page_url(@page)
      t.selected action?(:show)
    end
    f.tab do |t|
      t.label I18n.t(:edit)
      t.url page_url(@page, :action => 'edit')
      t.selected action?(:edit)
    end
  end
end
%>
<% end -%>
<div class='wiki'>
  <div id='wiki_html'>
    <%= @wiki.body_html %>
  </div>
  <br style='clear:both' />
</div>

