%div.stats_container
  %h2 Current Live Stats
  %div.wrapper
    %div.stats
      %h2.subhead Number of
      %table= show_results_for(@current_live_stats)
    %div.stats
      %h2.subhead 
        User Activity
        %span (active = logged in within last 30 days)
      %table
        %tr
          %td Active Users
          %td= @active_users
        %tr
          %td Inactive Users
          %td= @inactive_users
