%div.stats
  %h2 Number of Pages Created
  %ul= show_results_for(@pages_created_totals)
%div.stats
  %h2 Number of Comments Posted to
  %ul= show_results_for(@posts_created_totals)
%div.stats
  %h2 Number of Pages Shared
  %ul= show_results_for(@pages_shared_totals)
