%table
  = show_results_for(@pages_created_totals, 'Number of Pages Created')
  = show_results_for(@posts_created_totals, 'Number of Comments Posted to')
  = show_results_for(@pages_shared_totals, 'Number of Pages Shared')
