= render :partial => 'stats_head', :locals => {:section => 'Users and Groups'}
= render :partial => 'current_live_stats', :locals => {:h2 => 'Current Live Stats'}
%div.stats_container
  %h2 Select a Date Range
  = render :partial => 'select_date_range',:locals => { :controller => '/admin/stats/people'}
  - if @show_things_created 
    = render :partial => 'things_created_results'
