#update_message{:style => "color: red;"}
#show-audio
  -if @track && !@track.new_record?
    = render :partial => 'gallery_audio/show'
  -else
    .info
      Please upload an audio file!
#upload-new-audio
  = render_audio_form_with_progress
