%div{:class => "spinner"}
  - width = local_assigns[:width] || 500
  %object{:height => "81", :width => width}
    %param{:name => "movie", :value => gallery_audio_player}
    %param{:name => "allowscriptaccess", :value => "always"}
    %embed{:src => gallery_audio_player, :allowscriptaccess => "always", :height => "81", :type=> "application/x-shockwave-flash", :width => width, :id => 'soundcloud_player', :style => 'display:none'}
