%ul
  = menu((I18n.t(:settings)).upcase, edit_group_path(@parent || @group), active_tab_for_nav(@third_nav, 'settings'))
  = menu((I18n.t(:members)).upcase, {:controller => 'groups/memberships', :action => 'list', :id => @group}, active_tab_for_nav(@third_nav, 'members'))
  = menu((I18n.t(:requests)).upcase, {:controller => 'groups/requests', :action => :list, :id => @group}, active_tab_for_nav(@third_nav, 'requests'))
