%ul
  = menu(I18n.t(:home), url_for_group(@group), :class => 'first')
  = menu(I18n.t(:all_content), group_search_url(:action => 'all_content'))
  = menu(I18n.t(:tasks), group_search_url(:action => 'tasks'))
