<%= form.text_field :label, :size => 83 %>
<input type="text" size="53" disabled="disabled" value="<%= their_answer_goes_here %>"/>
<span class="small_icon mime_image_16">Image</span>
<input type="button" value="Browse..." disabled="disabled">
<input type="button" value="Upload" disabled="disabled">
