<br /><h2 class="bright">Next Up</h2><br />
<%= javascript_tag "$('next_ids').value = '#{responses.map(&:id).to_json}';" %>
<% responses.each do |resp| -%>
  <div class="big_icon page_survey_48 <%='grey' if current_user.rated?(resp)%>">
    <%= "survey response by {login}"[:response_by_login,  
      {:login => (resp.user ? resp.user.login : resp.name) }] %>
  </div>
<% end -%>
