<%= render :partial => 'tabs' %>

<div id='rate_survey'>
  <%= render :partial => 'rate_form' %>
</div>

<% @right_column = capture do %>
  <div id="next_responses">
    <%= render :partial => 'next_responses', :locals => {:responses => @next} %>
  </div>
<% end %>

