<%= render :partial => 'tabs' %>

<% if current_user.may?(:edit, @page) %>
  <p>
    <%= link_to :edit.t, page_url(@page, :action => 'respond') %>
    <%= link_to :delete.t, page_url(@page, :action => 'delete_response', :id => @response.id), :method => :post, :confirm => "Do you really want to delete your response?"[:really_delete_your_response] %>
  </p>
<% end %>

<%= render :partial => 'answers' %>

