- content_for :html_head do
  = stylesheet_link_tag('style', :plugin => 'openlayers')
  - if @map.override_stylesheet
    = stylesheet_link_tag(@map.override_stylesheet)
  = javascript_include_tag("OpenLayers", :plugin => 'openlayers')
  = javascript_include_tag("OpenStreetMap", :plugin => 'openlayers')

