#map-container{:"data-height" => '355px', :"data-width" => '500px'}
  #map-center{:"data-long" => @map.mapcenterlong, :"data-lat" => @map.mapcenterlat}
  #map-zoom{:"data-level" => @map.zoomlevel}
-# the javascript loads everything: the js and css in the html head, the map div, and the js that loads the OpenLayers var
= render :partial => 'locations/openlayers_js'
