- content_for :html_head do
  = render :partial => 'locations/map_stylesheets_and_js'
#map{:style => "width: #{@map.width}px; height: #{@map.height}px;"}
= render :partial => 'locations/openlayers_js'
