log/*.log
log/searchd.*
tmp/**/*
.DS_Store
config/*.sphinx.conf
doc/api
doc/app
database.yml
*~
public/plugin_assets/*
db/*.sqlite3
db/sphinx
db/development_structure.sql
/assets
public/avatars/*/*
!public/avatars/0/*
public/stylesheets/all.css
public/javascripts/all.js
public/assets/*
lang/la_US.yml
