log/*.log
log/searchd.*
tmp/**/*
tmp/*
.DS_Store
.idea
.AppleDouble
:2eDS_Store
:2e_*
config/*.sphinx.conf
config/secret.txt
doc/api
doc/app
doc/coverage
database.yml
*~
public/plugin_assets/*
db/*.sqlite3
db/*.sql
db/sphinx
db/development_structure.sql
/assets
public/avatars/*/*
!public/avatars/0/*
public/stylesheets/all.css
public/stylesheets/themes
.sass-cache
.sass-cache/*
public/javascripts/all.js
public/assets/*
lang/la_US.yml
tmp/webrat-*
webrat-*.png
