<% 
  # locals to take:
  contributors ||= []
 -%>
<ul class='side_list names'>
  <% if contributors.any? -%>
    <% contributors.each_with_index do |k,v| %>
      <li style="display:inline; margin-left:12px;">k<%# participator_checkbox_line(cont) %></li>
    <% end -%>
  <% end -%>
</ul>>
