<% 
  # locals to take:
  contributors ||= []
 -%>
<ul class='side_list names'>
  <% if contributors.any? -%>
    <% contributors.each do |cont| %>
      <li style="display:inline; margin-left:12px;"><%= participator_checkbox_line(cont) %></li>
    <% end -%>
  <% end -%>
</ul>>
