<div class='landing'>
  <%= render :partial => 'me/filterbar' %>
  <div id='titlebox'>
    <div id='info_panel' ><%= render :partial => 'infopanel' %></div>
  </div>
  <style>div.timeclump {font-weight: bold; font-size: 1.2em; margin: 8px 0;}</style>
  <div id='page_list'>
    <%= render :partial => 'pages/list/activity_log', :locals => {:pages => @pages} %>
    <%= link_to 'more &raquo;', me_url(:action => 'search') + "/descending/updated_at" %>
  </div>
</div>
