<div class="other_contribute" >
  <a  class="small_icon plus_16" href="#">contribute something else</a>
</div>

<h1 class="contribute_page_title">Contribute
  <span>
    <a class="small_icon article_16">
      Write an Article 
    </a>
  </span>
</h1>

<div id="summary">
  cus in, lectus. Sed et magna. Sed porttitor ornare tellus.
</div>

