<%# this is a totally silly partial to created links to the test data directories %>
<div id="top_menu_box">
  
  <div id="account">
    <a hre="#">account</a>
    &bull;
    <a hre="#">logout</a>
  </div>
  
  
<ul id='top_menu'>
<% Dir.glob(File.dirname(__FILE__)+'/*/').each do |dir|%>
  <li><%= link_to_active File.basename(dir).gsub('_', ' ').titlecase, :action => nil, :data => File.basename(dir) %></li>
<% end %>
</ul>
</div>


