<h4>Files</h4>
<%
  pages = find_pages(options_for_group(@group),'/type/asset')
  columns = [:icon, :title, :created_by, :created_at]
%>
<%= render :partial => 'pages/list/table', :locals => {:pages => pages, :columns => columns} %>

<%= link_to 'more &raquo;', groups_url(:id => @group, :action => 'search') + "/type/asset" %>
