<h4>New Pages</h4>
<% 
  pages = find_pages(options_for_group(@group),'/descending/created_at/limit/10')
  columns = [:icon, :title, :created_by, :created_at, :contributors_count]
-%>
<%= render :partial => 'pages/list/table', :locals => {:pages => pages, :columns => columns} %>

<%= link_to 'more &raquo;', groups_url(:id => @group, :action => 'search') + "/descending/created_at" %>
