/** masthead **/

#masthead-table {
  border-collapse: collapse;
  width: 100%;
  background: #cc9 url(/riseup/bg-top.png) repeat-x bottom left;
}
#masthead-table td {
  vertical-align: bottom;
}
#masthead-image {
  background: url(/riseup/riseup.net.png) no-repeat;
  width: 166px;
  height: 30px;
}

#topmenu, #topmenu ul {
  padding: 0; margin: 0;
  list-style: none;
}
#topmenu li span a {display: block;}
#topmenu > li {float: left;}
#topmenu li ul {
  position: absolute;
  left: -999em;
  z-index: 100;
}
#topmenu li:hover ul {
  left: auto;
}

/* menu tabs styling */

#topmenu > li {
  margin: 0 4px;
  position: relative;
  top: 1px;
}

#topmenu li ul li {
  margin: 0 0 -2px 0;
}

#topmenu a:hover {
  text-decoration: underline;
}

/* normal tab */
#topmenu li span a {
  color: #fff;
  text-decoration: none;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid transparent;
  border-bottom: 0; 
  /* margin-bottom: -1px; */
}

/* normal tab hover */
#topmenu li:hover span a {
  background: #000;
  color: #fff;
  xborder-color: #fff;
/*  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px; */
}

/* selected tab */
#topmenu li.selected span a {
  background: #fff url(/images/shadows/small-top.png) repeat-x top;
  color: black;
  border-color: #000;
}

/* selected tab hover */
#topmenu li.selected:hover span a {
  color: white;
  background: black;
/*  border-color: #fff; */
/*  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px; */
}

/* drop down menu */
#topmenu li ul {
  background: #000;
/*  border: 1px solid white; */
  padding: 0 4em 2px 0;
/*  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px; */
}
/* drop down menu line */
#topmenu li ul li {
  padding: 2px 4px;
}
/* drop down link */
#topmenu li ul li a {
  color: white;
  font-weight: bold;
  padding: 4px;
  display: block;
  text-decoration: none;
}
/* drop down link hover */
#topmenu li:hover ul li:hover {
}

/* the bottom of the tabs */
#masthead {border-bottom: 1px solid transparent;}

ul.submenu {
  display: block;
}













/**
 theme.css: colors for the default theme.
 any color that might be changed by the theme goes in here.
 colors which do not change, such as UI elements, do not go here.
 **/

/* body {background: #e6e6e6;} */
/*
body {
  background: #eee;
}
#main {
  background: url(/images/test/grey-to-light-grey.jpg) repeat-x;
}
*/

#maincolumn, #tabarea {
  border-color: #999;
}
#tabarea {border-top: 1px solid transparent;}

div.sidehead {
  /* color: #fff; */
  /* background: #1B5790; */
  /* background-color: #A5CC7A; */
  /* background-color: #73B32D; */
}

div.sidesection {
  /* background-color: #AFC7DD; */
  /* background-color: #E9FFD1; */
  /* background-color: #A5CC7A; */
  /* background: white url(/images/shadows/small-left-a.png) repeat-y; */
  /* border-color: white; */
}

div.sideline a {
}

/* title and info panel */

#titlebox, .titlebox {
  background: #E6F2FF;
  border: 2px solid white;
}

/* banner */

div#banner {border-color: white;}
#masthead {border-color: black;}

