- avatar = activity.avatar
- avatar_size = local_assigns[:avatar_size] || 'medium'

%tr
  %td.avatar
    = link_to avatar_for(avatar, avatar_size), url_for_entity(avatar) unless avatar.blank?
  %td
    %span.small_icon{:class => "#{activity.icon}_16"}
  %td.description
    = linked_activity_description(activity)
  - unless local_assigns[:no_date]
    %td.date
      = friendly_date(activity.created_at)
