- subject = activity.subject
- object = activity.object

%tr
  %td.avatar
    = link_to avatar_for(subject), url_for_entity(subject) unless subject.blank?
  %td.avatar_xsmall
    = link_to avatar_for(object, 'xsmall'), url_for_entity(object) unless object.blank?
  %td.description
    = linked_activity_description(activity)
  %td.date
    = friendly_date(activity.created_at)
