%section#social-activities
  %header
    %div#info-box-full
      = pagination_for(@activities)

  %table
    = render :partial => 'activity', :collection => @activities

  %footer
    = pagination_for(@activities)
