- text = params[:post].try[:body] if text.nil?
- if !defined? recipient_name
  - recipient_name = nil

%div#say
  - form_tag do
    = recipient_field(recipient_name)
    = text_area_tag 'post[body]', text, :id => 'say_msg', :class => 'textarea', :rows => '1'
    = button_to_function I18n.t(:send_button), send_message_function(recipient_name), :class => 'say-submit'

