<%= render :partial => 'me/messages/tabs' %>

<% if @activities.any? %>
  <%= render :partial => 'activity/list', :locals => {:activities => @activities} %>
<% else %>
  <p><%= I18n.t(:empty_results) %></p>
<% end %>

