<div class='wiki'>
  <% form_tag(page_url(@page,:action=>'edit')) do -%>

<% for page in @pages %>
<%= "<p>" + h(page.title) + "</p>" %>
<% end %>

   <div>
     <%= submit_tag 'Save', :name => 'save' %>
     <%= submit_tag 'Cancel', :name => 'cancel' %>
   </div>
  <% end -%>

</div>
