<% content_for :style do -%>
p#inbox_buttons {
  text-align: right;
}
<% end -%>
<% @title_box = content_tag :h1, "My Inbox"[:my_inbox_headline] %>
<% @info_box = "Inbox of pages I am actively participating in or watching for changes."[:inbox_description] %>


<%= render :partial => 'pages/search', :locals => {:users => @user.friends, :groups => @user.groups, :show_extras => 'true', :url => url_for(:action => 'search')} %><br/>

<% form_tag({:controller => 'me/inbox', :action => 'update', :path => params[:path]}, {:id => 'inbox_form'}) do -%>  

<%= render :partial => 'pages/list', :locals => {:heading => true, :checkbox => true, 
    :columns => [:checkbox, :icon, :title, :owner, :updated_by, :updated_at, :contributors]} %>

<p id='inbox_buttons'>
  <%= link_to_function 'Toggle Selection'[:toggle_selection], "$$('.page_check').each(function(cb) {cb.checked = !cb.checked})" %> &nbsp;&nbsp;
  <%= submit_link 'Remove from inbox'[:remove_from_inbox], :name => 'remove' %> 
</p>
  
<% end # form -%>

<link rel="alternate" href="/me/inbox/rss" title="RSS Feed" type="application/rss+xml" />

