<table class='pretty'>
    <tr>
      <th></th>
      <th>login</th>
      <th>name</th>
      <th>organization</th>
      <th>location</th>
      <th>last seen</th>
    </tr>
<%= render :partial => 'user', :collection => users %>
</table>
