<%= render :partial => 'tabs' %>

<% if logged_in? %>
  <div class='workarea'>
  <%= render :partial => 'users' %>  
  <br class='clear' />
  <h3 class='dim pagination_label'>
    <%= "new people in last 2 weeks"[:new_people_in_weeks]%>
  </h3>
  <%= pagination_links @users %>
  </div>

  <%= call_hook :bottom_people_list %>

<% else %>
  <%= "No public profiles yet..."[:no_public_profiles] %>
<% end %>

