<% for column in User.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @user.send(column.name) %>
</p>
<% end %>
<b>Groups:</b><br />
<% @user.groups.each do |u| %>
        <%= h u.name %><br>
<% end %>
<% if @user.groups.count == 0 %>
No groups.<br>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
