<% @title_box = capture do -%>
<h1><%= "Search"[:my_search_headline] %></h1>
<div class='info_box'><%= "Search through all pages you have access to."[:me_search_description] %></div>
<% end %>

<%= render :partial => 'pages/search', :locals => {:users => @user.contacts, :groups => @user.groups} %>

<br/>

<%= render :partial => 'pages/list', :locals => {:heading => true} %>

