<% @title_box = capture do -%>
<%= "Search through all pages you have access to."[:search_description] %>
<% end %>

<%= render :partial => 'pages/search', :locals => {:users => @user.contacts, :groups => @user.groups} %>

<br/>

<div class='pretty'>
<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>
</div>

