<p>
  <b>Text:</b>
  <%=h @translation.text %>
</p>

<%= render :partial => 'translations', :locals => { :translations => [@translation] } %>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<!-- %= link_to 'Back', translations_path % -->

<%= link_to 'Back', key_path(@translation.key) %>
