.pagination {
  padding: 1em 0;
  text-align: center;
}

.pagination a, .pagination a:visited {
  padding: 0 5px 1px 5px;
  border: 1px solid #9aafe5;
  text-decoration: none;
  color: #2e6ab1;
  
}

.pagination a:hover, .pagination a:active {
  border: 1px solid #2b66a5;
  color: #000;
  background-color: #ffffe0;
  text-decoration: none;
}

.pagination span.current {
  padding: 0 5px 1px 5px;
  border: 1px solid black;
  background-color: #2e6ab1;
  color: #FFF;
}
  
.pagination span.disabled {
  padding: 0 5px 1px 5px;
  border: 1px solid #929292;
  color: #929292;
}
   

