ul.tabset {
  overflow:hidden;
}

/* left */
ul.tabset.left {
  list-style: none;
  padding: 0 20px 0 0;
}
ul.tabset.left li.tab {
  border: 1px solid transparent;
}
ul.tabset.left li.tab.selected {
  background: #eef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
ul.tabset.left li.tab:hover {
  background: #ffc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
ul.tabset.left a.tab-link {
  display: block;
  text-decoration: none;
  padding: 1.5em;
  padding-left: 56px;
}
ul.tabset a.tab-link:hover {
  text-decoration: underline;
}

/* top */
ul.tabset.top {
  margin: 0; padding: 0;
  clear:left; float:left;
  width:100%;
  height: 1%;
  list-style: none;
  font-size: 0.8em;
  background: url(/images/grey9.png) repeat-x bottom;
}
ul.tabset.top li {
  display:inline;
}
ul.tabset.top a {
  display:block;
  float:left;
  text-align:center;
  text-decoration:none;
  position:relative;
  left:15px;
  line-height:1.3em;
  padding: 5px 10px;
}
ul.tabset a:hover {
  text-decoration: underline;
}
ul.tabset.top a.selected {
  background: white;
  border: 1px solid #999;
  border-bottom: 0;
}
.tab-area {
  background-color: white;
  padding: 1em;
  border: 1px solid #999;
  border-top: 0;
  clear:left;
}

/** little side tabs that are for editing something (like on wikis) **/

div.edit-tab {
  float: left;
  margin: 10px;
  margin-left: -20px;
}
div.edit-tab span {
  background: #C2D4FF;
  padding: 4px 16px;
  border: 1px solid #ADBDE3;
  border-left: 0;
  display: block;
}
div.edit-tab a {
  color: #669;
  font-weight: bold;
  text-decoration: none;
}
div.edit-tab a:hover {text-decoration: underline;}

