/* get hover to work in ie */
body {behavior:url("/javascripts/ie/csshover.htc");}

div.content_box {
  height: 1%; /* ie hack so that tables don't spill the margins */
}

ul.side_list li {
  height: 1%;
}
input.check {
  margin-top: 2px;
}

/* is this really the best we can do? */
hr.thin {
  border: 0; size: 0; padding: 0; margin: 0;
}

/* pages */

td.post-body div.negativespace {
  margin: -4px 0 -16px 0;
}

div.popup_arrow {
  right: -20px;
}
div.popup legend {
  border: 0;
  font-size: 1em;
  margin-left: -2em;
}
div.popup fieldset {
  border: 0;
}
div.popup blockquote {
  padding: 1em 1em 0 1em;
}
/* layout */

#wrapper {
  position: relative; overflow:hidden; /* needed for ie6 bug */
  float: left;
}
.leftmenu .col1wrap {
  right: 18.95em; /* fixes a rendering bug in ie */
}
/*
.leftmenu {
  display:inline;
  margin-left: 1.5em;
  margin-top: 1.5em;
}
*/

/* ui */

fieldset textarea {
  position: relative;
}
div.edit-tab {
  position: relative;
  left: 0px;
}
div.edit-tab span {
}

/* minisearch */
/*
input.minisearch_text {
  border: 0;
}
input.minisearch_submit {
  border: 0;
  background: #999;
  color: white;
  margin-bottom: -1px;
}
input.minisearch_submit:hover {
  background: #666;
}
form.minisearch {
  margin: 0;
  border: 1px solid #000;
  background: white;
}
*/

/* search form in banner */
div#bannercontent form {
	width:223px;
	height:23px;
}

/*Announcement*/
.announcement2box1{
	position:relative;
	float:left;
}
.announcement2box2{
	display:inline;
	margin-top:-5em;
}

/*CREATE PAGE*/
.create_page table{
} 
.create_page .right { 
	padding-left:5px;
}
.create_page .right .share_page{
	padding:0.5em;
}


/* the top menu collapses, because it only contains
 * floating elements, so keep its height synchronized
 * with the first child element (usually div#account) */
#top_menu_box {
  height: expression(this.childNodes[0].style.pixelHeight + "px");
  padding-bottom: 1px;
}

/* center align the login box (margin: 0 auto doesn't
 * work when not in ie6 standards mode (we're not) */
#loginwrap { text-align: center; }
#loginwrap #loginformbox { text-align: left; }

/* ie6 doesn't collapse div#message when its empty,
 * so hack in the behavior via css expressions */
#message {
	display: expression(
		(this.innerHTML == "") ? "none" : "block");
}

/* emulate :first-child in ie6, if prototype is
 * available (this is just too painful if it's not),
 * to add the left border to the first menu item */
ul#top_menu li a {
  border-left: expression(
    window.Prototype && ($(this).up().up().previous() == null) ? "1px solid #1e2f37" : "none"
  );
}

