/* layout */

#wrapper {
  position: relative; overflow:hidden; /* needed for ie6 bug */
  float: left;
}
#message {
  height: 1%; /* needed because of #wrapper float */
  margin: 0;
  line-height: 1px;
}

.leftmenu .col1wrap {
  right: 18.95em; /* fixes a rendering bug in ie */
}



/* the top menu collapses, because it only contains
 * floating elements, so keep its height synchronized
 * with the first child element (usually div#account) */

/* #top_menu {
  height: expression(this.childNodes[0].style.pixelHeight + "px");
} */


/* GIGANTIC HACKS AHOY:
 * ie6 refuses to collapse div#message, which is always rendered,
 * even when it's empty (for ajax to pop things into), resulting
 * in a huge (height + margin-bottom (1.5em)) gap at the top of
 * the #wrapper - so we remove the margin and fix the height
 * when div#message is empty, with the same pixel results */ 
/*
#wrapper div#message {
  xheight: expression((this.innerHTML == "") ? "1.5em" : "auto");
  xmargin-bottom: expression((this.innerHTML == "") ? "0" : "1.5em");
}
*/


/* search form in banner */
/* div#banner .content form {
	width:223px;
	height:23px;
} */

/*Announcement*/
/* .announcement2box1{
	position:relative;
	float:left;
}
.announcement2box2{
	display:inline;
	margin-top:-5em;
} */


/* td.post-body div.negativespace {
  margin: -4px 0 -16px 0;
} */



/* is this really the best we can do? */
/* hr.thin {
  border: 0; size: 0; padding: 0; margin: 0;
} */

