/* get hover to work in ie */
body {behavior:url("/javascripts/ie/csshover.htc");}

/* hide the message area */
#message {line-height: 1px;}

/* status hack to make set_status form not get too big */
table.set_status {width:80%;}

/* autocomplete */
.autocomplete_holder {z-index: 10000}
.autocomplete-w1 {background: none; top: 1px;}
.autocomplete {height: 350px; margin: 0px 6px 6px 0;}

/* sidebar */
ul.side_list li {height: 1%;} /* force has layout */
#page_sidebar input.check {margin-top: 3px; margin-left: -25px} /* move check up slightly */
ul.names li span {border: 1px solid #d6d6d6;} /* this hack makes the access icons appear */
div.popup_arrow {right: -16px} /* move popup nub slightly */

/* page list */
/* .page_icon {line-height: 1px; vertical-align: top;} */

/**
 ** FIRST-CHILD EMULATION
 **/

.post-body p {
  margin: expression( this == this.parentNode.firstChild || this == this.parentNode.lastChild ? "0em" : "1em 0" );
}

/* this one is special, because the :first-child is on the <li>, not the <a> */
#top_menu ul li a {
  border-left: expression(
    window.Prototype && ($(this).up().up().previous() == null) ? "1px solid" : "none"
  );
}

#page_sidebar ul.names li {
  border-top: expression( this == this.parentNode.firstChild ? "0" : "1px dotted white" )
}

