/* page sidebar */
#page_sidebar input.check {margin-top: 3px; margin-left: -25px} /* move check up slightly */
ul.names li span {border: 1px solid #d6d6d6;} /* this hack makes the access icons appear */

/* simulate :last-child */
.post-body p {
  margin: expression( this == this.parentNode.firstChild || this == this.parentNode.lastChild ? "0em" : "1em 0" );
}

/* status hack to make set_status form not get too big */
table.set_status {width:80%;}

/* clearing */
.selfclear {
  zoom: 1; /* triggers hasLayout */
  display: block; /* resets display */
}

/* ie7 puts the scroll bar over top the enclosed content */
div.page_scroll {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 16px;
}
/* this is required to get ie7 to actually show scrollbars */
div.page_list {width: 100%;}

/* autocomplete */
.autocomplete_holder {z-index: 10000}
.autocomplete-w1 {background: none; top: 1px;}
.autocomplete {height: 350px; margin: 0px 6px 6px 0;}

/* hide the message area */
#message {line-height: 1px;}

/* temp hack for temp site home */
form.mini_search table {width: 17em;}

/* opacity fix */
.shy { filter: alpha(opacity=0); zoom: 1; background-color: white; }
.shy_parent:hover .shy { filter: alpha(opacity=100)}
.shy:hover { filter: alpha(opacity=100)}

/* fixes columns for drop down boxes in ie6/7 */
span.topnav a {
  position: relative;
}
.menu_items {
  zoom: 1;
  display: block;
  width: 34em
}
div.leftcol {
  width: 16em;
  overflow: hidden;
}
div.rightcol {
  position: absolute;
  left: -.5em;
  width: 16em;
  top: 2.4em;
  padding-bottom: 0;
}
#menu_me div.menu_items{
  width: 14em;
}
#menu_me div.leftcol{
  width: 12em;
}
#menu_me div.rightcol{
  display: none;
}

/* stacking problem between drop down boxes and people/groups/networks tabs */
li.menu {
  z-index: 100;
}
ul.tabset.top li {
  z-index: 1;
}

/* for hover over entity boxes on sidebar of dashboard */
ul.icon_boxes li:hover span {
  display: block;
  width: 10em;
}
