/* allows for checkbox and link to the on the same line */
ul.side_list a.check {
  display: inline;
  line-height: 1.9em;
}
input.check {
  margin-top: 0px;
}
ul.side_list a {
  padding: 1px 0 1px 26px;
}

/* pages */

td.post-body div.negativespace {
  margin: -4px 0 -16px 0;
}
.popup h1, .popup h4, .popup td, .popup blockquote {
  white-space: nowrap;
}
div.popup legend {
  border: 0;
  font-size: 1em;
  margin-left: -1.2em;
}
div.popup fieldset {
  width: 30em;
  border: 0;
}
div.popup blockquote {
  padding: 1em 1em 0 1em;
}

/* layout */

.leftmenu .col1, .rightmenu .col1 {
  margin: 0.5em 1.5em 1.5em 20.35em;
}
.holygrail .col1 {
  margin: 0.5em 11em;
}
.fullpage .col1 {
  margin: 0.5em;
}
.leftmenu .col2 {
  padding-top: 0.5em;
	padding-right:30em;
}
.left menu .col1{

}

/* ui */

.tab-area fieldset textarea {
  width: 100%;
  margin-left: -18px;
}

/* minisearch */

form.minisearch input.minisearch_submit[type=submit] {
  border: 0px;
  margin: 0 0 -1px 0;
}

