- content_for :banner do
  = render :partial => 'search/banner'


= render :partial => 'pages/search', :locals => {:users => @user.friends, :groups => @user.groups}
%br/
= render :partial => 'pages/list', :locals => {:heading => true, :full_width => true}

- if @pages.blank?
  %h2
    = I18n.t(:no_search_results)
