%footer#footer
  %div(class='language-menu')
    = render :partial => 'layouts/headers/language'
  %div{:style =>'margin: 1em auto; width: 73px; height: 33px; background: url(/images/crabgrass-xsmall.png)'}
  - if RAILS_ENV == 'development'
    = render :partial => 'common/debug/footer'

