<h1>
  Edit translation
  <%= "(for #{@site.name})" if @site %>
</h1>


<% form_for(@translation) do |f| %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit "Save", :name => 'save' %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.submit "Destroy", :name => 'destroy' %>
  </p>
<% end %>

