/* line 226 */
table.login td.login { padding: 2em; vertical-align: top; }

/* line 230 */
table.signup td { vertical-align: top; }
/* line 232 */
table.signup td.title { border: 1px solid #cccccc; padding: 1em; background: #eeeeed; }
/* line 236 */
table.signup td.right { padding: 1em 0 0 1em; text-align: center; }
/* line 239 */
table.signup td .agreement { height: 30em; overflow: scroll; text-align: left; border: 1px solid #cccccc; padding: 1em; }
/* line 245 */
table.signup td .agreement h1 { margin: 1em 0; color: #999999; }
