/* line 233 */
#messages-forms { overflow: visible; height: 35px; padding-top: 10px; }
/* line 237 */
#messages-forms #say-box { border: 1px solid #dddddd; position: relative; float: left; padding: 8px 8px 0 8px; margin-bottom: 10px; background: #eef5fc; }
/* line 244 */
#messages-forms #say-box img { position: relative; top: 4px; }
/* line 247 */
#messages-forms #say-box #say { position: relative; overflow: visible; height: 30px; }
/* line 248 */
#messages-forms #say-box #say .textinput { vertical-align: top; margin-top: 1px; width: 150px; height: 15px; }
/* line 256 */
#messages-forms #say-box #say textarea { height: 20px; width: 300px; position: relative; font-family: monospace; overflow: visible; }
/* line 262 */
#messages-forms #say-box #say textarea .tall { height: 120px; }
/* line 264 */
#messages-forms #say-box #say input.say-submit { position: relative; vertical-align: top; }
/* line 267 */
#messages-forms #say-box #say label { vertical-align: top; }

/* line 270 */
#select-messages-from { border: 1px solid #dddddd; background: #f5f5f5; margin-bottom: 10px; padding: 8px 8px 0 8px; position: relative; overflow: visible; height: 30px; }
/* line 278 */
#select-messages-from input { vertical-align: top; margin-top: 1px; }

/* line 287 */
.messages .message { color: #333333; padding-left: 38px; background-position: 0px 4px; margin: 1em 0; }
/* line 295 */
.messages .date { font-style: italic; }
/* line 297 */
.messages .date_heading { clear: both; text-transform: capitalize; font-weight: bold; color: #ce4a48; }
/* line 303 */
.messages .body p { margin: 0; }
/* line 305 */
.messages .body br + br { display: none; }
