#title
  span
    a
      font-size: 11px
      font-weight: normal
      text-decoration: none
      color: #5a98c8
      margin-left: 15px
      &:hover
        text-decoration: underline

.cover
  margin-bottom: 1em
  .thumbnail
    margin: 0 auto

h2.title
  margin-top: 30px

.info
  font-style: italic
  margin-bottom: 10px
  margin-top: 10px

.gallery-item img
  margin-top: 15px

.action
  margin-bottom: 20px
  margin-top: 20px

ul#sort_gallery, ul#show_gallery
  width: 532px
  li.image_asset
    margin: 0 16px 10px 0
    float: left
    max-width: 90px
    max-height: 111px
    overflow: hidden
    div.control_image_asset
      height: 21px
      span.right
        float: right
    span
      display: none
  li.image_asset:hover
    div.control_image_asset
      span
        display: block


#save_caption_buttons
  display: block
  
.progress
  border: 1px #CCC solid
  .bar
    background: #CCC
    text-align: center
    width: 10%

#gallery-navigation
  ul
    display: inline
    li
      list-style: none
      display: inline
      a 
        display: inline
        width: 16px

.pencil_16
  &:hover
    text-decoration: none
  color: #534741
