- options = options_for_task_list

%ul.tasks
  - @task_lists.each do |list|

    - if !(@tasks = list_for_task(list, options)).empty?
      %li.task

        %p
          = link_to list.page.title, page_url(list.page)
          = "(#{link_to_entity(list.page.owner)})" if list.page.owner

        %ul.task_list
          = render :partial => 'task_list_page/task', :collection => @tasks, :locals => {:sortable => false}

- # this is just here so that we don't get an ajax error when a task is marked completed or pending
%ul(id="sort_list_completed" style="display:none")
  %li(id="no_completed_tasks")

%ul(id="sort_list_pending" style="display:none")
  %li(id="no_pending_tasks")
