<div class='tab-content tab-area' id="color_theme_tab" <%= tab_style 'color_theme' %> >
  <% form_for @appearance do |f| %>
    <%= input_selected_tab('color_theme') %>
    <%= submit_tag 'Update Color Theme'.t, :class => "submit" %>
  <% end %>
</div>