<br/>
<h2 class='section'>
  <div style='padding: 8px;'>
    <%= 'Network Membership' %>
  </div>
</h2>
<p>
  <label for="network_membership">
    <%= I18n.t(:network_initial_member) %>
  </label><br/>
  <%= select_tag 'group_id', options_for_my_groups(params[:group_id]) %>
</p>

