<%# locals: form %>
    <div id="questions">
      <% @survey.questions.each do |question| %>
        <div class="question">
          <h2 class="dim question_label"><%= h question.label %>
            <% if question.private? -%>
              <span>&bull;&nbsp;<%= "private"[:private] %></span>
            <% end -%>
          </h2>
          <br/>
          <% with_error_proc method(:wrap_error_html).to_proc do %>
            <%= respond_to_question_form(form, question) %>
          <% end %>
        </div>
      <% end %>
    </div>

