<%= render :partial => 'survey_page/tabs' %>

<div id="respond_to_questions_container" class="survey_questions_container">
  <% form_for :response, @response, :url => page_url(@page, :action => 'response-update', :id => @response.id), :html => { :multipart => true } do |f| %>

    <%= render :partial => 'response_form', :locals => {:form => f} %>
    <%= submit_tag I18n.t(:survey_respond_button), :class => "submit" %>
  <% end %>
</div>
