<h1>Create Groups</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>
<table class="create_form">
  <%= render :partial => 'form', :locals => {:f => f} %>
  <tr>
    <td colspan="2"><%= f.submit "Create" %></td>
  </tr>
<% end %>
