<div id="posts">
  <table border="0" cellspacing="0" cellpadding="0" class="posts">
    <%= render :partial => 'posts/reply',
         :locals => {:show => true, :form_method => :put, :url => conversation_url(:id => @user)} %>

    <%= post_pagination_links %>

    <%- for post in @posts do -%>
      <%= render :partial => 'posts/post', :locals => {:post => post} %>
    <%- end -%>

    <%= post_pagination_links %>
  </table>
</div>

