/** standard scaffold **/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

a.active {
  background: #666;
  color: white;
  text-decoration: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

.errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

.errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* top notice area */

div.notice {
  padding: 1em 4em 0 4em;
}
div.notice h2 {
  font-weight: bold;
  padding: 0.5em;
  background-color: #ccc;
  border-bottom: 1px solid #999;
  margin: 0;
}
div.notice h2 img {
  vertical-align: middle;
}

div.error {
  border: 2px solid red;
  color: #900;
  background-color: #fafafa;
}
div.info {
  border: 2px solid green;
  color: #090;
  background-color: #fafafa;
}
div.update {
  border: 2px solid blue;
  color: #009;
  background-color: #fafafa;
}
div.notice p, div.notice li {
  color: black;
  margin-left: 2em;
}



/**** translator styles ****/

body {
  background:#ccc;
  padding: 20px;
}
#container {
  background: #fafafa;
  border-right: 4px solid #aaa;
  border-bottom: 4px solid #aaa;
}
#header {
 color: #999;
 background: #dfd;
 padding: 10px;
}
#header h1 {
 font-size: 1.5em;
}
#content {
  padding: 20px;
}
.toplink {float: right; padding:4px;}

div.language {
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 2em;
  float: left;
}
div.language span {
  color: #666;
  font-size: 0.8em;
}
