<div id="summary">
  cus in, lectus. Sed et magna. Sed porttitor ornare tellus.
</div>
	


<div class="gallery-item">
	<img src="/images/temp/gallery-item.gif" width="610" height="400" alt="image desc." />
	
	<p class="description">
		This is lopem ipsum
	</p>
	
	<p class="meta">
		<a href="#">Daniel</a>
		&bull; 25 Aug 08
	</p>
</div>
	
<div id="posts">
	
	<div class="comments-head">
		<h2 class="title2">Comments</h2>
	</div>


	  <table border="0" cellspacing="0" cellpadding="0" class="posts">
	      <tbody id="posts-11992">
	<tr class="post-spacer-top shade-odd post-border-top ">
	  <td colspan="2">
	    <a name="posts-11992">&nbsp;</a>
	  </td>
	</tr>
	<tr class="post shade-odd">
	  <td>
	    <div class="post-author" style="background: url(https://we.riseup.net/avatars/1160/small.jpg) no-repeat top right;">

	      <div class='username'><a href="/terraw" class="name_link">terraw</a></div>
	      <div class='date'><label title='Fri Oct 24 20:26:16 UTC 2008'>24/Oct</label></div>   
	    </div>
	  </td>
	  <td class="post-body" id="post-body-11992">
	    <div style='position:relative'>
	<div class='negativespace'><p>Hi all &#8211; I understand we can&#8217;t have the social feed at this point, but I&#8217;d like to figure out other attractive elements that we might be able to show at the top of the page&#8230; above the feed.</p>

	<p>Maybe something like:<br />
	- most popular photo or video<br />
	- most recent member to join one of your groups<br />
	- hot discussion topics<br />
	- most recent announcement from your group moderators (in the box, not list format)<br />
	&#8230;<br />
	what do you guys think &#8230;. and what is possible right now?</p></div>

	  <div class='post_action_icon'>
	        <a href="#" onclick="new Ajax.Request('/posts/twinkle/11992', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f53f9a068daeac5ea4aaa09bf392a4a6f20eaa70')}); return false;"><img alt="Star-plus" src="/images/actions/star-plus.png?1224461198" /></a>

	    </div>
	</div>

	  </td>
	</tr>
	<tr class="post-spacer-bottom shade-odd"><td colspan="2">&nbsp;</td></tr>
	</tbody>


	      <tbody id="posts-11993">
	<tr class="post-spacer-top shade-even  ">
	  <td colspan="2">
	    <a name="posts-11993">&nbsp;</a>

	  </td>
	</tr>
	<tr class="post shade-even">
	  <td>
	    <div class="post-author" style="background: url(https://we.riseup.net/avatars/1443/small.jpg) no-repeat top right;">
	      <div class='username'><a href="/mkhandekar" class="name_link">mkhandekar</a></div>
	      <div class='date'><label title='Fri Oct 24 20:53:54 UTC 2008'>24/Oct</label></div>   
	    </div>
	  </td>

	  <td class="post-body" id="post-body-11993">
	    <div style='position:relative'>
	<div class='negativespace'><p>- Most recent (1 to 3) comments on your &#8220;wall&#8221;</p>
	<p>&amp; these are more list-type things that could be added to the social feed later<br />
	- Notification when someone stars your content<br />
	- Notification when someone approves your request</p></div>

	  <div class='post_action_icon'>
	        <a href="#" onclick="new Ajax.Request('/posts/twinkle/11993', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f53f9a068daeac5ea4aaa09bf392a4a6f20eaa70')}); return false;"><img alt="Star-plus" src="/images/actions/star-plus.png?1224461198" /></a>

	    </div>
	</div>

	  </td>
	</tr>
	<tr class="post-spacer-bottom shade-even"><td colspan="2">&nbsp;</td></tr>
	</tbody>


	      <tbody id="posts-12026">
	<tr class="post-spacer-top shade-odd  ">
	  <td colspan="2">
	    <a name="posts-12026">&nbsp;</a>

	  </td>
	</tr>
	<tr class="post shade-odd">
	  <td>
	    <div class="post-author" style="background: url(https://we.riseup.net/avatars/804/small.jpg) no-repeat top right;">
	      <div class='username'><a href="/elijah" class="name_link">elijah</a></div>
	      <div class='date'><label title='Sun Oct 26 09:43:32 UTC 2008'>Sunday</label></div>   
	    </div>
	  </td>

	  <td class="post-body" id="post-body-12026">
	    <div style='position:relative'>
	<div class='negativespace'><p>well, i am super genius, so i decided to create <a href="/unicefdev/activity-feed">activity feed</a> while blind-folded. it was quite a feat.</p></div>

	  <div class='post_action_icon'>
	        <a href="#" onclick="new Ajax.Request('/posts/twinkle/12026', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f53f9a068daeac5ea4aaa09bf392a4a6f20eaa70')}); return false;"><img alt="Star-plus" src="/images/actions/star-plus.png?1224461198" /></a>
	    </div>
	</div>

	  </td>

	</tr>
	<tr class="post-spacer-bottom shade-odd"><td colspan="2">&nbsp;</td></tr>
	</tbody>


	    <tr><td colspan="2"></td></tr>



	<tbody>


	<tr class="post-spacer-top shade-even ">
	  <td colspan="2">
	    <a name="reply-form">&nbsp;</a>
	  </td>

	</tr>

	<tr class="post shade-even">
	  <td>
	    <div class="post-author" style="background: url(https://we.riseup.net/avatars/804/small.jpg) no-repeat top right;">
	      <div class='username'><a href="/elijah" class="name_link">elijah</a></div>
	      <div class='date'><label title='Sun Oct 26 09:43:32 UTC 2008'>Sunday</label></div>   
	    </div>
	  </td>
	  <td class="post-body" id="reply">


	    <form action="/posts/create" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="f53f9a068daeac5ea4aaa09bf392a4a6f20eaa70" /></div>

	      <fieldset><div>
	        <textarea class="post_body" cols="40" id="post_body" name="post[body]" rows="8"></textarea>    
	        <input id="page_id" name="page_id" type="hidden" value="14042" />
	        <input id="paging" name="paging" type="hidden" value="1" />
	        <input id="from" name="from" type="hidden" value="groups" />
	        <input id="from_id" name="from_id" type="hidden" />

	        <div style="float: left"><input name="post_message" onclick="Form.getInputs(this.form, 'submit').each(function(x){if (x!=this) x.disabled=true}.bind(this))" type="submit" value="Post Message" /></div>
	        <div style="text-align: right"><a  href="javascript:quickRedReference();">formatting reference</a></div>

	      </div></fieldset>
	    </form>  </td>
	</tr>

	<tr class="post-spacer-bottom shade-even">
	  <td colspan="2">&nbsp;</td>
	</tr>

	</tbody>

	  </table>
	
</div>