<div id="summary">
  cus in, lectus. Sed et magna. Sed porttitor ornare tellus.
</div>
	
<div class="gallery-nav">
	
	<a class="next button" href="">Next &rsaquo;</a>
	<a class="previous button" href="">&lsaquo; Previous</a>
	
	<p class="meta">Photo 4 of 11</p>
	
	<a class="edit link" href="">Edit Gallery</a>
	<a class="download link" href="">Download Gallery</a>
	<a class="slideshow link" href="">View Slideshow</a>
	
</div>

<div class="gallery-item">
	<img src="/images/temp/gallery-item.gif" width="610" height="400" alt="image desc." />
	
	<p class="description">
		This is lopem ipsum
	</p>
	
	<p class="meta">
		<a href="#">Daniel</a>
		&bull; 25 Aug 08
	</p>
</div>

<div class="comments-box">

	<div class="comments-head">
		<h2 class="title2">Comments</h2>
	</div>
	
	<table class="comments">
		
		<tr class="odd">
			<td class="user-info">
				<img src="/images/temp/commentator.gif"/>
				<a href="#">Daniel</a>
				<p>25 Aug 08</p>
			</td>
		
			<td class="comment">
				ooh, this is looking more and more like it should.
			</td>
		</tr>
		
		<tr>
			<td class="user-info">
				<img src="/images/temp/commentator.gif"/>
				<a href="#">Daniel</a>
				<p>25 Aug 08</p>
			</td>
		
			<td class="comment">
				ooh, this is looking more and more like it should.
			</td>
		</tr>
		
		<tr class="odd">
			<td class="user-info">
				<img src="/images/temp/commentator.gif"/>
				<a href="#">Daniel</a>
				<p>25 Aug 08</p>
			</td>
		
			<td class="comment">
				<form method="post" action="">
					<fieldset>
						<textarea rows="6" cols="100" name="comment"></textarea>
						
						<a href="#">Formatting Reference</a>
						<input type="submit" value="Post Message"/>
					</fieldset>
				</form>
			</td>
		</tr>
		
	</table>
	
</div>