<ul class='side_list'>
  <li class="small_icon" id="watch_li"><input class="check" id="watch_checkbox" name="watch_checkbox" type="checkbox" value="1" /><a class="check" href="#">Watch For Updates</a></li>
  <li class="small_icon add_star_16"><a href="/base_page/participation/add_star?page_id=5811">Add Star (2)</a></li>
</ul>
 
<hr class="thin" />  

<ul class='side_list'>      
  <li class="small_icon group_16" id="delete_li"><a href="#">Share Gallery</a></li>
  <li class="small_icon" id="watch_li"><input class="check" id="watch_checkbox" name="watch_checkbox" type="checkbox" value="1" /><a class="check" href="#">Public</a></li>
</ul>
 
 <hr class="thin" />

 <ul class='side_list'>      
   <li class="small_icon minus_16" id="delete_li"><a href="#">Delete Gallery</a></li>
   <li class="small_icon application_go_16" id=" move_li"><a href="#">Move Gallery</a></li>
   <li class="small_icon table_16" id="details_li"><a href="#">Gallery Details</a></li>
 </ul>
   
  <hr class="thick" />  

 <h3 class="dim">groups</h3>
 <ul class='side_list'>
     
   <li><a href="/rails" class="name_icon small" style="background-image: url(https://we.riseup.net/avatars/592/small.jpg)"><span class="admin">Ruby on Rails</span></a></li>

 </ul>
 
  <hr class="thick" />  

<h3 class="dim">people</h3>
     
<ul class='side_list'>
 <li><a href="/elijah" class="name_icon small" style="background-image: url(https://we.riseup.net/avatars/804/small.jpg);"><span>elijah</span></a></li> 
 <li><a href="/felix" class="name_icon small" style="background-image: url(https://we.riseup.net/avatars/0/small.jpg);"><span>felix</span></a></li>
 <li><a href="/msutton" class="name_icon small" style="background-image: url(https://we.riseup.net/avatars/636/small.jpg);"><span>Maira</span></a></li>
 <li><a href="/suqzi" class="name_icon small" style="background-image: url(https://we.riseup.net/avatars/176/small.jpg);"><span>suqzi</span></a></li>
</ul>

<hr class="thick" /> 

<h3 class="dim">tags</h3>

<div class='tags'>
 <a href="#" class="tag1">ajax</a>
 <a href="#" class="tag1">apache</a>
 <a href="#" class="tag2">api</a>
 <a href="#" class="tag3">bugs</a>
 <a href="#" class="tag1">cache</a>
 <a href="#" class="tag2">crabgrass</a>
</div>

