<div class='page_title'>
  <div class="breadcrumb">
	  <a href="#">Some nav</a> &raquo;
	  <a href="#">Some nav 2</a> &raquo;
	  <a href="#">Some nav 3</a>
  </div>
  <h1>Gallery Name <span><a href="#">Back to Gallery</a></span></h1>
  <div class="summary">
    Here is the summary of this page. Sed et magna. Sed porttitor ornare tellus.
  </div>
</div>

