<div class="breadcrumb">
	<a href="#">Some nav</a> &raquo;
	<a href="#">Some nav 2</a> &raquo;
	<a href="#">Some nav 3</a>
</div>

<div class="page_title">
	
	<h1>
		Gallery Name
		<a href="#">Back to Gallery</a>
	</h1>
	
</div>


<div class="gallery-nav">
	
	<a class="next button" href="">Next &rsaquo;</a>
	<a class="previous button" href="">&lsaquo; Previous</a>
	
	<p class="meta">Photo 4 of 11</p>
	
	<span class="gallery-actions">
		<a class="small_icon picture_edit_16" href="">Edit Gallery</a>
		<a class="small_icon folder_picture_16" href="">Download Gallery</a>
		<a class="small_icon application_view_gallery_16" href="">View Slideshow</a>
	</span>
	
</div>