<div class="autocomplete_results_area" id="menu_items_list">
  <table>
    <tbody class="autocomplete_results_table" id="menu_items_ids">
      <% @menu_items.each do |menu_item| %>
      <%= render :partial => :menu_item %>
      <% end %>
    </tbody>
  </table>
  <% spinner_id = "menu_items_ids_" + rand(10000).to_s %>
  <%= spinner(spinner_id)%>
  <%= handle_update_menu_item_order_javascript('menu_items_ids', spinner_id) %>
</div>
