<div class='hover'>
  <b><%= menu_item.title %></b>
  <br/>
  <%= menu_item.link %>
  <% button_id = dom_id(menu_item, :minus_buttons) # id used to show the spinner %>
  <%= link_to_function_icon('minus', destroy_menu_item_remote_function(menu_item, button_id), :id => button_id)%>
</div>
