div.swatch_list {
  a {
    float: left;
    background: black; }
  label {
    img {
      vertical-align: middle; } } }

.markdown_example {
  width: 100%;
  height: 200px; }

.markdown_toolbar {
  position: relative;
  list-style: none;
  border: 1px solid #d7d7d7;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  height: 18px;
  margin-bottom: 2px;
  max-width: 70em;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    a {
      width: 24px;
      height: 16px;
      float: left;
      display: block;
      background-image: url("/images/ui/markdown_icons.gif");
      border: 1px solid white;
      border-right-color: #d7d7d7;
      &:hover {
        border-color: #990000; }
      &.markdown_help_button {
        position: absolute;
        top: 0;
        right: 0;
        border-left-color: #d7d7d7;
        border-right-color: white;
        &:hover {
          border-left-color: #990000;
          border-right-color: #990000; } } }
    span {
      display: none; } } }

.markdown_italics_button {
  background-position: 0 -119px; }

.markdown_bold_button {
  background-position: 0 -102px; }

.markdown_link_button {
  background-position: 0 0; }

.markdown_image_button {
  background-position: 0 -170px;
  text-align: center; }

.markdown_unordered_list_button {
  background-position: 0 -34px; }

.markdown_ordered_list_button {
  background-position: 0 -51px; }

.markdown_quote_button {
  background-position: 0 -68px; }

.markdown_code_button {
  background-position: 0 -136px; }

.markdown_help_button {
  background-position: 0 -153px; }

.markdown_heading_button {
  background-position: 0 -85px; }
