#loginformbox {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 3em auto;
  width: 15em;
  background: #eee;
}

/* signup */
table.signup td {vertical-align: top;}
table.signup td.title {
  border: 1px solid #ccc;
  padding: 1em;
  background: #eee;
}
table.signup td.right {
  padding: 1em 0 0 1em;
  text-align: center;
}
table.signup td .agreement {
  height: 30em;
  overflow: scroll;
  text-align: left;
  border: 1px solid #ccc;
  padding: 1em;
}


/* password strength-meter */
.pw_meter { height:1em; width:10em; border:1px solid black;}
#pw_bar { height:100%;}
.pw_bar_25  { background:#f00; width:25%; }
.pw_bar_50  { background:#ff0; width:50%; }
.pw_bar_75  { background:#0ff; width:75%; }
.pw_bar_100 { background:#0f0; width:100%; }
