#detail_view {
    text-align:center;
}
#detail_view_navigation {
    text-align:center;
}

#detail_view_navigation a {
    margin:1em;
}

#detail_image {
    text-align:center;
}

#detail_image_title {
    font-weight:bold;
    font-style:italic;
}

#gallery_navigation {
    margin-bottom:2em;
}

#gallery_navigaton span a {
    text-decoration:none;
}

#gallery_navigation span {
    padding-right:2em;
    border-style:none dotted none none;
    border-width:1px;
    padding-left:1em;
}

#gallery_overview {
    padding:1em;
    border:solid 1px #ddd;
    max-height: 29em;
    overflow:auto;
}

.gallery_swatch {
    position:relative;
    width:7em;
    height:7em;
    max-width:7em;
    max-height:7em;
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
    text-align:center;
    overflow:hidden;
    margin:1em;
}

.gallery_swatch_edit {
    position:absolute !important;
    margin:0em !important;
}

.gallery_swatch img {
    max-height:7em;
    vertical-align:middle;
    text-align:center;
}

.swatch_container {
    position:relative;
    max-height:7em;
    max-width:7em;
    height:7em;
    width:7em;
    float:left;
    margin:1em;
    padding:0em;
}

.swatch_container_hover {
    border:dashed 2px #ccc;
    height:8em;
    width:8em;
}


.image_control {
    position:absolute;
    bottom:0px;
}