.wall_posts {
  /* background: #fff; */
  /* border: 1px solid #ccc; */
}

.wall_posts table td.icon {
  width: 1%;
}

.wall_posts table td {
  vertical-align: top;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.wall_posts table td.date {
  background: #eee;
  color: #738899;
  text-transform: capitalize;
  font-weight: bold;
}

