/* title */
.h1 {font-size: 2em; font-weight: bold; line-height: 1.2em;}
form .h1 {line-height: 1em; margin:0; padding:0}

.h2 {font-size: 1.5em; font-weight: bold; line-height: 3em; padding:0px 0px 0px 20px;}
form .h2 {line-height:2em; margin:0; padding:1;}

.h3 {font-size: 1.5em; font-weight: normal; line-height: 1.2em;}
form .h3 {line-height:.5em; margin:0; padding:1}

div#title_edit_link {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
div.title_box:hover #title_edit_link {
  display: block;
}

/* attachment formatting */
/*
a.asset div {
  border: 1px solid white;
  outline: 1px solid #999;
  margin: 0 5px 5px 0;
  background: white;
}
a.asset div:hover {
  border: 1px solid #cdf;
  outline: 1px solid black;
}
a.asset {
  outline: 0;
}
*/
