/** page creation **/

div.page-class {
  margin-bottom: 4px;
}
div.page-class div:hover {
  background: #ffc;
  outline: 1px solid #cc9;
}
div.page-class .page-link {
  text-decoration: none;
  padding: 20px 0 20px 58px;
  display: block;
  outline: 0;
}

/*
previously.....

.create_page td {
  padding: 8px;
}
.create_page td.label {
  font-weight: bold;
  text-align: right;
}
.create_page input[type=text],
.create_page textarea {
  width: 25em;
  font-family: serif; font-size: 1em;
}

h2.section {
  margin-top: 0.5em;
}
*/

/**
 ** PAGE CREATION
 **/

/* titlebox */
/* .other_contribute{
  float:right;
  margin-right:1.5em;
  height:60px;
  line-height:60px;
}
.contribute_title_page{
  height:60px;
  line-height:60px;
}
.other_contribute a, .other_contribute a:hover{
  color:#428521;
} */

.create_page .left, .create_page .right{
  display:inline;
  float:left;
}

/* bottom */

div.buttons {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* left side */

.create_page input[type=text], .create_page textarea {
  width: 23em;
  font-family: serif; font-size: 1em;
}
.create_page .left table{
  margin-top: 1em;
}

.create_page .left table td.label {
  text-align:right;
  color: #999;
  font-weight:bold;
  padding-right:1em;
}

/* right side */

.create_page .right {
  padding-left: 2em;
}
.create_page .share_page h2 {
  color: #999;
  font-size:1em;
  margin: 1em 0;
}
.create_page .share_page ul {
  list-style:none;
}

/*** 
from design tester

.other_contribute{
  float:right;
  margin-right:1.5em;
  height:60px;
  line-height:60px;
}
.contribute_title_page{
  height:60px;
  line-height:60px;
}
.other_contribute a, .other_contribute a:hover{
  color:#428521;
}

.create_page .left{
  margin:0;
  padding:0;
  margin-left:7px;
}
.create_page .left, .create_page .right{
  display:inline;
  float:left;
}
.create_page .left2{
  clear:both;
  float:none;
}

.create_page .left h2.info_16, .left h2.article_16, .right h2.group_16{
  color:#72899B;
}
.create_page .left h2.article_16{
	margin:20px 0;
}

.create_page .left table{
  margin-top:20px;
  }
.create_page .left table td input, .left table td textarea {
  margin:0;
  padding:0;
  width:340px;
  border:1px solid #E1E1E1;
  margin-bottom:20px;
}
.create_page .left table td input{
  height:26px;}

.create_page .left table td.label {
  padding:0; margin:0;
  text-align:right;
  color:#898989;
  font-size:1em;
  font-weight:bold;
  padding-right:1em;
  padding-bottom:none;
}
.create_page .left table td{
  padding:0;
}
.create_page td .legend{
  color:#898989;
  font-size:0.8em;
}
.create_page .article_data{
  padding:0;
}
.create_page .separation{
  border-top:1px dotted #E1E1E1;
}

.create_page .right {
  padding-left:20px;
  }
.create_page .share_page h2{
  color:#898989;
  font-size:1em;
  font-weight:bold;
  margin-top:20px;
}
.create_page .right ul.tabset{
	list-style:none;
}
.create_page .right .share_page{
	padding:1em;
	border:1px solid #E1E1E1;
	margin-top:20px;
}

.create_page .right th{
	border:1px solid  #E1E1E1;

}
.create_page .right table th{
  color:#72889A;
  font-size:0.8em;
  font-weight:bold;
  text-align:left;
  padding:1em;
  background:#F3F3F1 url(/images/background/table_create_bg.jpg) repeat-x;
  border:1px solid #E1E1E1;
}
table.share_page_recipients tbody tr td div.scroll{
	border:none;
	margin:0;
	padding:0;
	border:1px solid #E1E1E1;
	border-spacing:0
	}
	
.share_page h2 em{
	color:#C43838;
	font-size:1.1em;
}
.create_article{
	text-align:center;
}

*/
