/* title */
.h1 {font-size: 2em; font-weight: bold; line-height: 1.2em;}
form .h1 {line-height: 1em; margin:0; padding:0}

.h2 {font-size: 1.5em; font-weight: bold; line-height: 3em; padding:0px 0px 0px 20px;}
form .h2 {line-height:2em; margin:0; padding:1;}

.h3 {font-size: 1.5em; font-weight: normal; line-height: 1.2em;}
form .h3 {line-height:.5em; margin:0; padding:1}

div#title_edit_link {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
div.title_box:hover #title_edit_link {
  display: block;
}

/* attachment formatting */
/*
a.asset div {
  border: 1px solid white;
  outline: 1px solid #999;
  margin: 0 5px 5px 0;
  background: white;
}
a.asset div:hover {
  border: 1px solid #cdf;
  outline: 1px solid black;
}
a.asset {
  outline: 0;
}
*/

/*
table.share_page_recipients th {
  width: 10em;
}
table.share_page_recipients td {
  vertical-align: top;
}
table.share_page_recipients div.scroll {
  overflow: auto;
  height: 20em;
  width: 13em;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-size: 0.8em;
}
table.share_page_recipients div.scroll a {
  font-size: 0.8em;
}
*/

/* sidebar popups: px units matter */

div.popup {
  background: #efefef;
  border: 4px solid #666;
  z-index: 101;
  position: absolute;
  top: -32px;
  right: 43px;
}
div.popup h1 {
  background: #ccc;
  color: white;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #aaa;
}

div.popup_arrow {
  height: 29px;
  width: 15px;
  background: url(/images/ui/wedge_right.png);
  position: absolute;
  top: 24px;
  right: -19px;
}

div#popup_holder {
  position: absolute;
  z-index: 100;
  display: none;
}

div.popup fieldset {
  background: white;
  padding: 1em;
  border: 1px solid #999;
  margin-top: 16px;
}
div.popup legend {
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid #999;
  border-bottom: 0px;
  background: white;
  margin-top: -16px;
  padding: 0 10px;
}
div.popup blockquote {
  margin: 0;
  padding: 2em;
}

