/** page creation **/

div.page-class {
  margin-bottom: 4px;
}
div.page-class div:hover {
  background: #ffc;
  outline: 1px solid #cc9;
}
div.page-class .page-link {
  text-decoration: none;
  padding: 20px 0 20px 58px;
  display: block;
  outline: 0;
}

/*
previously.....

.create_page td {
  padding: 8px;
}
.create_page td.label {
  font-weight: bold;
  text-align: right;
}
.create_page input[type=text],
.create_page textarea {
  width: 25em;
  font-family: serif; font-size: 1em;
}

h2.section {
  margin-top: 0.5em;
}
*/


