div#posts .comments-head { 
	border-top:1px solid #E1E1E1; 
	padding-top:20px; 
	padding-bottom:10px; 
}
/* posts */
div#posts {
  padding:0px 20px 20px;
  background:#fff;
  margin-bottom:5px;
}
table.posts {
  width: 100%;
  border-top: 1px solid #ccc;
}

.post-author {
  text-align: right;
  padding-left: 10px;
  /* height: 32px; */
  margin-right: 10px;
  color:#6E6E6C;
  font-size:12px;
}
.post-author div.username, .post-author div.date {
  margin-right: 40px;
}

td.post-body {
  border-left: 1px solid #ccc;
  padding: 0 10px;
}
td.post-body div.negativespace {
  margin: -16px 0;
}
.post-body p {overflow: auto;}
tr.post td {
  vertical-align: top;
}
tr.post-spacer-bottom td {line-height: 10px; border-bottom: 1px solid #ccc;}
tr.post-spacer-top td {line-height: 10px;}

.shade-even {background-color: #fff;}
.shade-odd {background-color: #f3f3f3;} 

.post_action_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
td:hover .post_action_icon {
  display: block;
}



