.col2
  %h2.opening=widget.title if widget.display_title
  .top{'style'=>"padding-left: 1em; float: right;"}
    = display_media(@group.profiles.public.cover)
  .top
    .description{'style'=>"margin: 0"}
      = home_summary_html
