<table cellpadding='4'>
<tr>
  <td align='right'><b><%= 'From'.t %>:</b></td>
  <td><%= h @page.created_by.both_names %></td>
</tr>
<tr>
  <td align='right'><b><%= 'To'.t %>:</b></td>
  <td><%= h @page.users.collect{|u|u.both_names unless u==@page.created_by}.compact.join (', ')%></td>
</tr>
<tr>
  <td align='right'><b><%= 'Date'.t %>:</b></td>
  <td><%= full_time(@page.created_at) %></td>
</tr>
</table>

