<% @title_box = capture do -%>
  <h1><%= I18n.t(:approve_contact_request) %></h1>
<% end -%>

<blockquote>
  <p><%= I18n.t(:approve_contact_info) %></p>
  <%- form_tag(:controller => '/requests', :action => 'approve', :id => @past_request) do -%>
    <%= submit_tag I18n.t(:approve_contact_request), :name => 'approve' %>
  <% end -%>
</blockquote>

