%ul
  = menu((I18n.t(:discover)).upcase, '/people/directory', active_tab_for_nav(@third_nav, 'discover'))
  = menu((I18n.t(:browse)).upcase, '/people/directory/browse', active_tab_for_nav(@third_nav, 'browse'))
