%ul
  = menu((I18n.t(:discover)), '/people/directory/recent', active_tab_for_nav(@third_nav, 'discover'))
  = menu((I18n.t(:browse)), '/people/directory/browse', active_tab_for_nav(@third_nav, 'browse'))
