%ul
  = menu(I18n.t(:all_people), people_directory_url(:browse), active_tab_for_nav(@second_nav, 'all'))
  = menu(I18n.t(:my_contacts), people_directory_url(:friends), active_tab_for_nav(@second_nav, 'my'))
