%section#breadcrumb
  %ul
    %li
      %a{:href => "#", :onclick => "#"} Network
    %li
      %a{:href => "#", :onclick => "#"} / Group Name   
%header
  %h2 Group Name
  %a{:href => "#", :onclick => "#"}  Join Group
%nav#participate
  %section#helpful-links
    %h4 Helpful Links:
    %ul.issues
      %li 
        %a{:href => "#", :onclick => "#"} Link to Issue
      %li
        %a{:href => "#", :onclick => "#"} Link to another Issue
      %li 
        %a{:href => "#", :onclick => "#"} Link to another Issue
    %a.tooltip
  %aside
    %ul
      %li 
        %a{:href => "#", :onclick => "#"} Contribute

  %section#actions
    %ul.icons
      %li 
        %a{:href => "#", :onclick => "#"} Browse All Content
      %li 
        %a{:href => "#", :onclick => "#"} Tasks
      %li 
        %a{:href => "#", :onclick => "#"} Join Chat Group

