%section#group-logo
  %h1 group logo
%section#contribute
  %h2 Contribute
%section#group-meta
  %section#about-group
    %h3 about
    %p 
      Lorem ipsum dolor sit amet conte sectetur adipiscing elit. sodales lorem ipsum dolor sit amet, e sectetur adipiscing elitism. Duis adictum dictum justo eut duis vitae dipiscing...
      %a{:href => "#", :onclick => "#"} Read More
    %ul#details
      %li LOCATION
      %li STATUS
      %li CREATED
      %li UPDATED
      %li ACTIVITY
      %li TAGS
  %section#people
    %header
      %h3 people
      %a{:href => "#", :onclick => "#"} 827 total
    %h4 Coordinators
    %ul#coordinators
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
    %h4 New Members
    %ul#new-members
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
  %section#affiliations
    %header
      %h3 affiliations
      %a{:href => "#", :onclick => "#"} 6 total
    %h4 Networks
    %ul#networks
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
    %h4 Committees
    %ul#committees
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#", :onclick => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}

  %section#featured
    %h3 featured
    %img{:src=>"/images/new_ui/image-198sq.png", :alt=>"featured title", :height=>"198px", :width=>"198px"}
    %article
      %h4 Crabgrass vs ThePoint
      %p Dictum dictum justo eu peo lenta tesque, avec dictum dictum justo eu pelo lenta. Ut vulputate portaja aliquet. Traesent posuere nunc sed neque pharetra.
      %ul.tags
        %li tag name
        %li tag name

