%section#group-name
  %h1 GroupName GroupNmeLong...
  %section#group-action
    %a#char{:href => "#", :onclick => "#"}  
      Join Group Chat
    %ul
      %li
        %a{:href => "#", :onclick => "#"}
          Edit Group
      %li
        %a{:href => "#", :onclick => "#"}
          Leave Group 
%nav#group
  %ul
    %li
      %a{:href => "#", :onclick => "#"}
        HOME
    %li
      %a{:href => "#", :onclick => "#"}
        ALL CONTENT
    %li
      %a{:href => "#", :onclick => "#"}
        TASKS
  