%section#group-info
  %section#about-group
    %header
      %h3 About Group
      %a{:href => "#", :onclick => "#"} Edit
    %p 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %a Read More
    %ul#details
      %li CREATED 
      %li UPDATED
      %li ACTIVITY
      %li TAGS
      %li LOCAL
  %section#people
    %header
      %h3 People
      %a{:href => "#", :onclick => "#"} Edit
    %figure
      %legend 
        Coordinators & New Members
        %ul#member-images
          %li 
            %a{:href => "#", :onclick => "#"}
              %img lorem
          %li 
            %a{:href => "#", :onclick => "#"}
              %img lorem
          %li 
            %a{:href => "#", :onclick => "#"}
              %img lorem
  %section#networks
    %header
      %h3 Networks & Committees
      %a{:href => "#", :onclick => "#"} Edit
    %ul#network-images
      %li 
        %a{:href => "#", :onclick => "#"}
          %img lorem
      %li 
        %a{:href => "#", :onclick => "#"}
          %img lorem
      %li 
        %a{:href => "#", :onclick => "#"}
          %img lorem
%section#featured
  %header
    %h3 Featured
    %a{:href => "#", :onclick => "#"} Edit
  %article
    %h4 Crabgrass vs. ThePoint
    %p Lorem ipsum.
    %ul.tags
      %li tag name
      %li tag name
  %article
    %h4 Crabgrass vs. ThePoint
    %p Lorem ipsum.
    %ul.tags
      %li tag name
      %li tag name
