%section#titlebar
  %section#titlebar-container
    %section#title
      %h2 Site Name
      %section#search
        %form
          %input{:type=>'text'}
          %input{:type=>'hidden'}
          %button{:type=>'submit'}
          %input{:type=>'checkbox'}
          %span
            Search this group only
%nav.page
  %section#nav-container
    %section#nav
      %ul#menu
        %li 
          %a{:href => "#"}  Home
        %li 
          %a{:href => "#"}  Me
        %li  
          %a{:href => "#"}  People
        %li  
          %a{:href => "#"}  Groups
        %li  
          %a{:href => "#"}  Networks   
      %ul#user
        %li Welcome userName
        %li  
          %a{:href => "#"}  inbox(4)
        %li  
          %a{:href => "#"}  Help
        %li  
          %a{:href => "#"}  Sign Out
%section#breadcrumb
  %section#breadcrumb-container
    %section
      %a{:href => "#"}  Network
      = ' &raquo; '
      %a{:href => "#"}  Group Name
