%section#titlebar
  %section#titlebar-container
    %h2 Site Name
    %section#search
      %form
        %input{:type=>'text'}
        %input{:type=>'hidden'}
        %button{:type=>'submit'}
        %input{:type=>'checkbox'}
        %span
          Search this group only
%nav.page
  %section#nav-container
    %ul#menu
      %li 
        %a{:href => "#", :onclick => "#"}  Home
      %li 
        %a{:href => "#", :onclick => "#"}  Me
      %li  
        %a{:href => "#", :onclick => "#"}  People
      %li  
        %a{:href => "#", :onclick => "#"}  Groups
      %li  
        %a{:href => "#", :onclick => "#"}  Networks   
    %ul#user
      %li Welcome userName
      %li  
        %a{:href => "#", :onclick => "#"}  inbox(4)
      %li  
        %a{:href => "#", :onclick => "#"}  Help
      %li  
        %a{:href => "#", :onclick => "#"}  Sign Out
%section#breadcrumb
  %section#breadcrumb-container
    %section
      %a{:href => "#", :onclick => "#"}  Network
      = ' &raquo; '
      %a{:href => "#", :onclick => "#"}  Group Name