%header.container
  %h1.site_title Hello World
  %section#search
    %form
      %input{:type=>'text'}
      %input{:type=>'hidden'}
      %button{:type=>'submit'}
%nav
  %section#menu
    %ul
      %li 
        %a{:href => "#", :onclick => "#"}  Home
      %li 
        %a{:href => "#", :onclick => "#"}  Me
      %li  
        %a{:href => "#", :onclick => "#"}  People
      %li  
        %a{:href => "#", :onclick => "#"}  Groups
      %li  
        %a{:href => "#", :onclick => "#"}  Networks
  %section#user
    %ul
      %li Welcome userName
      %li  
        %a{:href => "#", :onclick => "#"}  inbox(4)
      %li  
        %a{:href => "#", :onclick => "#"}  Help
      %li  
        %a{:href => "#", :onclick => "#"}  Sign Out
