%section#group-name
  %h1 GroupName GroupNmeLong...
  %div#group-action
    %a#chat{:href => "#"}  
      Join Group Chat
    %ul
      %li
        %a{:href => "#"}
          Edit Group
      %li
        %a{:href => "#"}
          Leave Group 
%nav#group
  %ul
    %li
      %a{:href => "#"}
        HOME
    %li
      %a{:href => "#"}
        ALL CONTENT
    %li
      %a{:href => "#"}
        TASKS
  