%nav#top-nav
  %div#top-nav-container
    %div#account-links
      %ul#user
        %li.first
          Welcome
          %strong Angus
        %li.mail  
          %a.small_icon.page_message_16.mail{:href => "#"}  
            %strong 4
        %li  
          %a{:href => "#"}  Settings
        %li.last  
          %a{:href => "#"}  Sign Out

%div.small-space

%section#masthead
  %div#masthead-container
    %div#masthead-name
      %h2 riseup.net
      %form#search
        %fieldset
          %input.text{:type=>'text'} 
          %input.search-submit{:type=>'button', :value=>'Search'}
        %div
          %input.checkbox{:type=>'checkbox'}
          %label.light-small
            Search this group only
%nav.page
  %div#global-nav-container
    %div#global-nav
      %ul#menu
        %li 
          %a{:href => "#"}  Home
        %li 
          %a{:href => "#"}  Me
        %li  
          %a{:href => "#"}  People
        %li.current  
          %a{:href => "#"}  Groups
        %li  
          %a{:href => "#"}  Networks

      
