%div#content-container
  %div#banner-container
    %header#banner
      %section#identity
        %img.left{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"80px", :width=>"80px"}
          %div.left
            %h1 the woohoo! group
            %a{:href => "#"}
              View Profile
          %div.right
            %ul
              %li
                %a{:href => "#"}
                  3 pending tasks
              %li
                %a{:href => "#"}
                  10 new page feeds
              %li
                %a{:href => "#"}
                  3 new messages
              %li
                %a{:href => "#"}
                  2 new requests
    %nav#second-level
      %ul
        %li
          %a{:href => "#"}
            PAGES
        %li.current
          %a{:href => "#"}
            SOCIAL ACTIVITY
        %li
          %a{:href => "#"}
            MESSAGES
        %li
          %a{:href => "#"}
            REQUESTS
  %div#third-level-container
    %nav#third-level
      %ul
        %li.current
          %a{:href => "#"}
            FRIEND ACTIVITY
        %li
          %a{:href => "#"}
            PEER ACTIVITY
            
  %div#content-wrap   
    %div#main-content-full
      %table#activity{:summary => 'activity'}
        %tr
          %td.avatar
            %a{:href => "#"}
              %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"40px", :width=>"40px"}
          %td.avatar_xsmall
            %a{:href => "#"}
              %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"22px", :width=>"22px"}
          %td.description  
            %a{:href => "#"} johnboy
            joined the 
            %a{:href => "#"} Crabgrass Network
          %td.date 
            14/Dec/2009 
            %br 10:00 am
        %tr
          %td.avatar
            %a{:href => "#"}
              %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"40px", :width=>"40px"}
          %td.avatar-mini
            %a{:href => "#"}
              %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"22px", :width=>"22px"}
          %td.activity  
            %a{:href => "#"} johnboy
            joined the 
            %a{:href => "#"} Crabgrass Network
          %td.date 
            14/Dec/2009 
            %br 10:00 am