%section#identity-image
  %img{:src=>"/images/new_ui/group-logo.png", :alt=>"group logo", :height=>"202px", :width=>"202px"}
%div#identity-meta
  %section#about-group
    %h4.first about
    %p 
      Lorem ipsum dolor sit amet conte sectetur adipiscing elit. sodales lorem ipsum dolor sit amet, e sectetur adipiscing elitism. Duis justo eut duis vitae dipiscing...
      %a{:href => "#"} Read More
    %ul#details
      %li.small_icon.location_20 
        LOCATION
        %br 
          %span Local-Turkey
      %li.small_icon.status_20  
        STATUS
        %br 
          %span Open
      %li.small_icon.created_20  
        CREATED
        %br 
          %span May 07, 2009
      %li.small_icon.updated_20  
        UPDATED
        %br 
          %span Aug 31, 2009
      %li.small_icon.activity_20  
        ACTIVITY
        %br 
          %span 465 Pages
      %li.small_icon.tags_20  
        TAGS
        %br 
          %span
            %a{:href => "#"} 93
  %section#people
    %header
      %h4 
        people
        %span
          %a{:href => "#"} 827 total
    %h5 Coordinators
    %ul#coordinators
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
    %h5 New Members
    %ul#new-members
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
  %section#affiliations
    %header
      %h4 
        affiliations
        %span
          %a{:href => "#"} 6 total
    %h5 Networks
    %ul#networks
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
    %h5 Committees
    %ul#committees
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
      %li 
        %a{:href => "#"}
          %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}

  %section#featured
    %h4 featured
    %ul#features
      %li.first
        %img{:src=>"/images/new_ui/image-198sq.png", :alt=>"featured title", :height=>"182px", :width=>"182px"}
      %li
        %article
          %h5 Crabgrass vs ThePoint
          %p Dictum dictum justo eu peo lenta tesque, avec dictum dictum justo eu pelo lenta. Ut vulputate portaja aliquet. Traesent posuere nunc sed neque pharetra.
          %span.tags 
            %a{:href => "#"}TagName,
            %a{:href => "#"} TagName

