%section#identity-name
  %div.left
    %h1 GroupName GroupNmeLong...
    %a{:href => "#"} 
      Edit Group
  %div#group-action
    %div#contribute
      %span
        %a{:href => "#"} 
          Create a Page
    %a{:href => "#"} 
      Leave Group 
