%header
  =render :partial => 'layouts/ui_profile_header'
%section#info-box
  %div#say-box
    %img{:src=>"/images/new_ui/image-198sq.png", :alt=>" ", :height=>"22px", :width=>"22px"}
    %form#say
      %input.textarea{:type=>'text'} 
      %input.say-submit{:type=>'button', :value=>'say'}
  %div#activities
    %div.left
      %ul
        %li.small_icon.membership_add_16.shy_parent
          %a.name_icon{:href => "#"}jeffrey 
          has joined group 
          %a.name_icon{:href => "#"}learn ruby
          %span.commands
            %label.date today 
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}kimmie
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message then we must sew you a nudie suit! perhaps we can start a nudie suit group on crabgrass. you know, so we can get shit done.
          %span.commands
            %label.date yesterday 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date Saturday 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.membership_add_16.shy_parent
          %a.name_icon{:href => "#"}jeffrey 
          has joined group 
          %a.name_icon{:href => "#"}how to do everything
          %span.commands
            %label.date 09/Jan
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
    %div.right
      %ul
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}kimmie
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message then we must sew you a nudie suit! perhaps we can start a nudie suit group on crabgrass. you know, so we can get shit done.
          %span.commands
            %label.date yesterday 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
        %li.small_icon.comment_16.shy_parent
          %a.name_icon{:href => "#"}qa-test 
          wrote to 
          %a.name_icon{:href => "#"}jeffrey:
          %span.message what is this: a écrit à!
          %span.commands
            %label.date 23/Sep 
            %a.shy{:href => "#"} details &raquo;
%section#contributions
  %header
    %h3 
      recent contributions
      %span.pagination
        %span.disabled
          %a{:href => "#"}
            &laquo; 
        %span.current
          %a{:href => "#"}1 
        %span 2 3
        %span
          %a{:href => "#"}
            &raquo;
  %div#page-list
    %table
      %tr
        %th#stars
          %h4
            %a{:href => "#"}
              Star
        %th#owner
          %h4
            %a{:href => "#"}
              Owner
        %th#title
          %h4
            %a{:href => "#"}
              Title
        %th#updated
          %h4
            %a{:href => "#"}
              Updated
      %tr
        %td
          %span.star
            %button.icon_16.star_16
            1
        %td.name
          %a.name_icon_xsmall.generic_xsmall{:href => "#"}
            daniel
        %td
          %a.small_icon.page_survey_16{:href => "#"}
            User Feedback: Is the Grass Greener?
        %td.updated
          %a{:href => "#"}
            maquis
          %br
            %label.date
              Saturday
        %tr
          %td
            %span.star
              %button.icon_16.star_16
              1
          %td.name
            %a.name_icon_xsmall.generic_xsmall{:href => "#"}
              UNICEF crabgrass development
          %td
            %a.small_icon.page_survey_16{:href => "#"}
              Testing: IE6, Enemy of the people.
          %td.updated
            %a{:href => "#"}
              cherif
            %br
              %label.date
                24/Nov
        %tr
          %td
            %span.star
              %button.icon_16.star_16
              3
          %td.name
            %a.name_icon_xsmall.generic_xsmall{:href => "#"}
              jeffrey
          %td
            %a.small_icon.page_survey_16{:href => "#"}
              TWO GOOD EDITORS: GREENCLOTH &amp; WYSIWYG
          %td.updated
            %a{:href => "#"}
              daniel
            %br
              %label.date
                24/Nov
        %tr
          %td
            %span.star
              %button.icon_16.star_16
              1
          %td.name
            %a.name_icon_xsmall.generic_xsmall{:href => "#"}
              daniel
          %td
            %a.small_icon.page_survey_16{:href => "#"}
              User Feedback: Is the Grass Greener?
          %td.updated
            %a{:href => "#"}
              maquis
            %br
              %label.date
                Saturday
          %tr
            %td
              %span.star
                %button.icon_16.star_16
                1
            %td.name
              %a.name_icon_xsmall.generic_xsmall{:href => "#"}
                UNICEF crabgrass development
            %td
              %a.small_icon.page_survey_16{:href => "#"}
                Testing: IE6, Enemy of the people.
            %td.updated
              %a{:href => "#"}
                cherif
              %br
                %label.date
                  24/Nov
          %tr
            %td
              %span.star
                %button.icon_16.star_16
                3
            %td.name
              %a.name_icon_xsmall.generic_xsmall{:href => "#"}
                jeffrey
            %td
              %a.small_icon.page_survey_16{:href => "#"}
                TWO GOOD EDITORS: GREENCLOTH &amp; WYSIWYG
            %td.updated
              %a{:href => "#"}
                daniel
              %br
                %label.date
                  24/Nov

  
  %footer
    %div.pagination
      %span.disabled
        %a{:href => "#"}
          &laquo; 
      %span.current
        %a{:href => "#"}
          1 
      %span 2 3
      %span
        %a{:href => "#"}
          &raquo;


