%header.no-sidebar
  %section#identity
    %img.left{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"60px", :width=>"60px"}
      %div.left
        %h1 the woohoo! group
        %a{:href => "#"} 
          Edit Group
      %div.right 
        %a.button{:href => "#"} 
          Create New Task
%nav.no-sidebar
  %ul
    %li.first.current
      %a{:href => "#"}
        HOME
    %li
      %a{:href => "#"}
        ALL CONTENT
    %li
      %a{:href => "#"}
        TASKS
        
%section#main-content.no-sidebar
  %h3 Pending Tasks