%div#content-container
  %div#banner-container
    %header#banner
      %section#identity
        %img.left{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"80px", :width=>"80px"}
      %div.left
        %h1 the woohoo! group
        %a{:href => "#"}
          Edit Group
    %nav#second-level
      %ul
        %li.first
          %a{:href => "#"}
            HOME
        %li.current
          %a{:href => "#"}
            ALL CONTENT
        %li
          %a{:href => "#"}
            TASKS
            
  %div#content-wrap          
    %section#browse-content
      %nav
        %ul
          %li.first.current
            %a{:href => "#"}
              ALL
        %a.right
          Trash
      %section#group-browse
        %form#search-browse
          %fieldset
            %label Search all content
            %input.text{:type=>'text'} 
            %input.search-submit{:type=>'button', :value=>'Search'}
    %div#main-content        
      %section#pages
        %header
          %h3 
            group pages
            %span.pagination
              %span.disabled
                %a{:href => "#"}
                  &laquo; 
              %span.current
                %a{:href => "#"}1 
              %span 2 3
              %span
                %a{:href => "#"}
                  &raquo;
        %article
          %section.pages-info
            %h4.small_icon.page_text_blue_16 Crabgrass vs ThePoint - Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit.
            %p 
              Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit. Nunc hendrerit sagittis orci at consectetur...
              %a{:href => "#"}
                Read More
          %ul.pages-status
            %li 
              %a{:href => "#"}
                Daniel Hola
            %li Updated &bull; 12:45p
        %article
          %section.pages-info
            %img{:src=>"/images/new_ui/image-75sq.png", :alt=>" ", :height=>"75px", :width=>"75px"}
            %h4.cover.small_icon.page_text_blue_16 Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit.
            %p.cover 
              Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit. Nunc hendrerit sagittis orci at consectetur...
              %a{:href => "#"}
                Read More
          %ul.pages-status
            %li 
              %a{:href => "#"}
                Daniel Hola
            %li Updated &bull; 12:45p
        %article
          %section.pages-info
            %h4.small_icon.page_text_blue_16 Crabgrass vs ThePoint
            %p 
              Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit. Nunc hendrerit sagittis orci at consectetur...
              %a{:href => "#"}
                Read More
          %ul.pages-status
            %li 
              %a{:href => "#"}
                Daniel Hola
            %li Updated &bull; 12:45p
        %article
          %section.pages-info
            %img{:src=>"/images/new_ui/image-75sq.png", :alt=>" ", :height=>"75px", :width=>"75px"}
            %h4.cover.small_icon.page_text_blue_16 Crabgrass vs ThePoint
            %p.cover 
              Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit. Nunc hendrerit sagittis orci at consectetur...
              %a{:href => "#"}
                Read More
          %ul.pages-status
            %li 
              %a{:href => "#"}
                Daniel Hola
            %li Updated &bull; 12:45p
        %footer
          %div.pagination
            %span.disabled
              %a{:href => "#"}
                &laquo; 
            %span.current
              %a{:href => "#"}
                1 
            %span 2 3
            %span
              %a{:href => "#"}
                &raquo;

 
    %aside#sidebar-browse
      %ul#tag-cloud 
        %li.tag1 
          %a{:href => "#"}
            Activism
        %li.tag4 
          %a{:href => "#"}
            Anarchism
        %li.tag2
          %a{:href => "#"} 
            Legal Aid
        %li.tag3 
          %a{:href => "#"}
            Cycling
        %li.tag2 
          %a{:href => "#"}
            Climate Justice
        %li.tag5
          %a{:href => "#"}
            Animal Rights
        %li.tag2
          %a{:href => "#"} 
            Environmentalism
        %li.tag6 
          %a{:href => "#"}
            Guerilla Gardening
        %li.tag1 
          %a{:href => "#"}
            Independent Media
        %li.tag1 
          %a{:href => "#"}
            Climate Change
        %li.tag4 
          %a{:href => "#"}
            Corporate Watch
        %li.tag3 
          %a{:href => "#"}
            Feminism
        %li.tag 
          %a{:href => "#"}
            Animal Rights
        %li.tag6 
          %a{:href => "#"}
            Activism
        %li.tag2 
          %a{:href => "#"}
            Anarchism
        %li.tag2 
          %a{:href => "#"}
            Legal Aid
        %li.tag1 
          %a{:href => "#"}
            Cycling
        %li.tag3 
          %a{:href => "#"}
            Climate Justice
        %li.tag1 
          %a{:href => "#"}
            Environmentalism
        %li.tag3 
          %a{:href => "#"}
            Guerilla Gardening
        %li.tag5 
          %a{:href => "#"}
            Independent Media
        %li.tag6 
          %a{:href => "#"}
            Climate Change
        %li.tag4 
          %a{:href => "#"}
            Corporate Watch



  
  