
%form#entry
  %div
    %label Login name
    %input#login{:type=>'text'} 
  %div
    %label Password
    %input#password{:type=>'text'} 
  %div
    %input{:type=>'button', :value=>'Log in'}
  %div
    %a{:href => "#"}  New Account
    %a{:href => "#"}  Forgot Password

%div#welcome 
  %h1 Welcome to Riseup.net
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius feugiat ligula pretium varius. Nam luctus, diam ut blandit pharetra, felis urna placerat leo, vel luctus dolor velit in libero. Curabitur at tortor ac sem dignissim blandit. Etiam ac lorem sit amet tortor euismod eleifend. In hac habitasse platea dictumst. Integer pulvinar rutrum tortor et egestas. Nam venenatis nisi non arcu accumsan quis feugiat nisl ultrices. Ut dignissim pretium eros, id rhoncus augue sagittis id.