%h1 wooooo


tasks content here

%p That action will require a template that needs to be located at /mods/ui_tester/app/views/ui/dashboard.html.haml

by default the layout used will be ui_base.html.haml located at /mods/ui_tester/app/views/layouts
A view template¶

The code of a view template for dashboard should look like:
