%div#content-container
  %div#banner-container
    %header#banner
      %section#identity
        %img.left{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"60px", :width=>"60px"}
        %div.left
          %h1 the woohoo! group
          %a{:href => "#"} 
            Edit Group
        %div.right
          %a.button{:href => "#"} 
            Create New Task
  %div#second-level-container
    %nav#second-level
      %ul
        %li.first
          %a{:href => "#"}
            HOME
        %li
          %a{:href => "#"}
            ALL CONTENT
        %li.current
          %a{:href => "#"}
            TASKS
        
    %section#main-content.no-sidebar
      %h3 Pending Tasks