%section#identity-name
  %div.left
    %h1 GroupName GroupNmeLong...
    %a{:href => "#"} 
      Edit Group
  %div#group-action
    %div#contribute
      %span.small_icon.cross_20
        %a{:href => "#"} 
          CONTRIBUTE
    %a#chat.small_icon.chat2_16{:href => "#"}  
      %strong Join Group Chat
    %a{:href => "#"} 
      Leave Group 
%nav#group
  %ul
    %li.first.current
      %a{:href => "#"}
        HOME
    %li
      %a{:href => "#"}
        ALL CONTENT
    %li
      %a{:href => "#"}
        TASKS
  