%section#identity-name
  %h1 GroupName GroupNmeLong...
  %div#group-action
    %a#chat.small_icon.chat2_16{:href => "#"}  
      %strong Join Group Chat
    %ul
      %li
        %a{:href => "#"}
          Edit Group
      %li
        %a{:href => "#"}
          Leave Group 
%nav#group
  %ul
    %li.first.current
      %a{:href => "#"}
        HOME
    %li
      %a{:href => "#"}
        ALL CONTENT
    %li
      %a{:href => "#"}
        TASKS
  