!!!
%html{:dir=>language_direction}

  = render :partial => 'layouts/ui_base_head'

  %body{:class=>language_direction}
    %div#page
      %header.page

        =render :partial => 'layouts/ui_header'

      //
      // content wrapper
      //
      %div#content
        %section#breadcrumb
          %div#breadcrumb-container
            %div
              %a{:href => "#"}  Network
              %span &raquo;
              %a{:href => "#"}  Group Name
        %div#content-container
          %div#content-wrap
            %aside#identity-info
              = yield :sidebar
            %div#main-content
              = yield

      = render :partial => 'layouts/ui_footer'
        