!!!
%html{:dir=>language_direction}
  %head
    %meta{ :name=>"description", :content=>""}
    %meta{ :name=>"keywords", :content=>""}
    %meta{"http-equiv"=>"Content-Type", :content=>"application/xhtml+xml;charset=utf-8"}
    =favicon_link
    %title
      =h title_from_context
    / begin styling 
    = crabgrass_stylesheets("ui_base")
    / end styling
    / begin scripts
    = crabgrass_javascripts
    / end scripts
    = call_hook :html_head
    = yield :html_head

%body{:class=>language_direction}
  #page
    %hgroup
      %header.title
        %h1.site_title
          Site Name
      %nav
        %section#menu menu
        %section#user user
      %header.breadcrumb
        %section#breadcrumb 
          %h6 breadcrumb
        %section#search search
    %section#wrapper
      %header#title 
        %h2 group name
      %nav
        contribute
      %content
        %aside#sidebar sidebar
        %article#main
          dummy text
    
    %footer
      footer