!!!
%html{:dir=>language_direction}
  %head
    %meta{ :name=>"description", :content=>""}
    %meta{ :name=>"keywords", :content=>""}
    %meta{"http-equiv"=>"Content-Type", :content=>"application/xhtml+xml;charset=utf-8"}
    =favicon_link
    %title
      =h title_from_context
    / begin styling 
    = crabgrass_stylesheets("ui_base")
    / end styling
    / begin scripts
    = crabgrass_javascripts
    / end scripts
    = call_hook :html_head
    = yield :html_head

%body{:class=>language_direction}
  #page
    %hgroup.page
      =render :partial => 'layouts/header'
    #content
      %hgroup
        =render :partial => 'layouts/group_header'
      %aside
        =render :partial => 'layouts/group_sidebar'
      %section
        =render :partial => 'layouts/content'
    %footer.page
      footer