!!!
%html{:dir=>language_direction}

  = render :partial => 'layouts/ui_base_head'

  %body{:class=>language_direction}
    %div#page
      %header.page

        = render :partial => 'layouts/ui_header'

      //
      // content
      //
      %div#content
        = render :partial => 'layouts/ui_breadcrumb'
        %div#content-container
          %div#content-wrap


      = render :partial => 'layouts/ui_footer'
