!!!
%html{:dir=>language_direction}

  = render :partial => 'layouts/ui_base_head'

  %body{:class=>language_direction}
    %div#page
      %header.page

        = render :partial => 'layouts/ui_header'

      //
      // content wrapper
      //
      %div#content.login
        %div#content-container.login
          %div#content-wrap
            =render :partial => 'layouts/ui_login_content'

      = render :partial => 'layouts/ui_footer'
