!!!
%html{:dir=>language_direction}
  %head
    %meta{ :name=>"description", :content=>""}
    %meta{ :name=>"keywords", :content=>""}
    %meta{"http-equiv"=>"Content-Type", :content=>"application/xhtml+xml;charset=utf-8"}
    =favicon_link
    %title
      =h title_from_context
    / begin styling 
    = crabgrass_stylesheets("compiled")
    / end styling
    / begin scripts
    = crabgrass_javascripts
    / end scripts
    = call_hook :html_head
    = yield :html_head

%body{:class=>language_direction}
  #page
    #header
      #brand 
        %h1.site_title
          Site Name
      #commands
        #menu menu
        #user user
      #navigation
        #breadcrumb breadcrumb
        #search search
    #wrapper
      #title title
      #content
        #sidebar sidebar
        #main
          dummy text
    
    #footer
      footer