<ul class="plain">
<li><input type='radio' name='reason' value='language'> Offensive Language</li>
<li><input type='radio' name='reason' value='behavior'> Offensive Behavior</li>
<li><input type='radio' name='reason' value='topic'> Off Topic</li>
<li><input type='radio' name='reason' value='other'> Other</li>
</ul>

Please add any comments:<br>
<textarea name="comment" rows="2" cols="40"> </textarea>
