<h1>Listing languages</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% for language in @languages %>
  <tr>
    <td><%= link_to language.code, edit_language_path(language) %></td>
    <td><%= link_to language.name, edit_language_path(language) %></td>
    <td><%= link_to 'translate', :controller => :keys, :language => language %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New language', new_language_path %>

