<h1>New language</h1>

<% form_for(@language) do |f| %>
  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', languages_path %>
