%h3 announcements
%article.first
  %h4 title
  %p 
    Dictum dictum justo eu pellenta bela tesque, avec dictum dictum justo eu atp ellenta. Duis vitae dipiscing ipsum non risus sodales lorem ipsum dolor sit amet ectetur...
    %a{:href => "#"} 
      Read More
%article.last
  %h4 title
  %p
    Dictum dictum justo eu pellenta bela tesque, avec dictum dictum justo eu atp ellenta. Duis vitae dipiscing ipsum non risus sodales lorem ipsum dolor sit amet ectetur...
    %a{:href => "#"} 
      Read More
