
%div.banner
  #banner-container.no-avatar
    %header#banner-no-avatar
      = yield :banner
%div.nav2
  #nav2-container    
    %nav#second-level-aside
      = yield :info_box
    
#content
  #content-container
    #content-wrap
      %aside#xxlarge-avatar
        = yield :extended_sidebar
      /
      / container for pages that has extended sidebar
      / 
  
      %div#omega10
        /
        / main content here
        /
        #main-content
          = yield
