%footer.footer-container
  %div.footer
    %div(class='language-menu')
      = render :partial => 'layouts/language'
    %div{:style =>'margin: 1em auto; width: 73px; height: 33px; background: url(/images/crabgrass-xsmall.png)'}

= debug_info
