- if may_show_networks_of_group?
  - cache(group_cache_key(@group, :what => 'networks')) do 
    - if @group.networks.any?
      = render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:networks), :entities => @group.networks, :after => '&nbsp'}

- if may_show_subcommittees_of_group?
  - cache(group_cache_key(@group, :what => 'committees')) do 
    - committees = @group.committees_for(@access) 
    = render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:committees), :entities => committees, :after => link_line(create_committee_link), :show_empty => true}

    - if @group.real_council 
      = render :partial => 'avatars/entity_boxes', :locals => {:header => I18n.t(:council), :entities => [@group.real_council], :show_empty => false}

