%ul#details
  %li.small_icon.location_20
    LOCATION
    %br
      %span Local-Turkey
  %li.small_icon.status_20
    STATUS
    %br
      %span Open
  %li.small_icon.created_20
    CREATED
    %br
      %span May 07, 2009
  %li.small_icon.updated_20
    UPDATED
    %br
      %span Aug 31, 2009
  %li.small_icon.activity_20
    ACTIVITY
    %br
      %span 465 Pages
  %li.small_icon.tags_20
    TAGS
    %br
      %span
        %a{:href => "#"} 93
