%section#masthead
  #masthead-container
    #masthead-name
      = custom_masthead_site_title
      = render :partial => '/pages/mini_search'

%nav.page
  #global-nav-container
    #global-nav
      = render :partial => '/layouts/base/menu'
      = render :partial => '/layouts/base/menu_user'



