%nav#top-nav
  %div#top-nav-container
    %div#account-links= render :partial => '/layouts/base/menu_user'
%div.small-space

= masthead_container

%nav.page
  #global-nav-container
    #global-nav
      = render :partial => '/layouts/base/menu'



