%section#titlebar
  %div#titlebar-container
    %div#title
      = custom_masthead_site_title
      = render :partial => '/pages/mini_search'
%nav.page
  %div#nav-container
    %div#nav
      = render :partial => '/layouts/base/menu'
      = render :partial => '/layouts/base/menu_user'






