%article
  %section.pages-info
    = cover_for page 
    %h3
    = title_for page
    %p Dictum dictum justo eu pellenta tesque avec dictum Vestibulum innme. Aliquam quis leo eu nisl tempus blandit. Nunc hendrerit sagittis orci at consectetur...
  = last_updated_box_for page
    
