

%header
  %h3 
    = I18n.t(:recent_pages)
  %span.pagination
    %span.disabled
      %a{:href => "#"}
        &laquo; 
    %span.current
      %a{:href => "#"}1 
    %span 2 3
    %span
      %a{:href => "#"}
        &raquo;

= render :partial => '/layouts/base/page', :collection => @pages

%footer
  %section.pagination
    %span.disabled
      %a{:href => "#"}
        &laquo; 
    %span.current
      %a{:href => "#"}
        1 
    %span 2 3
    %span
      %a{:href => "#"}
        &raquo;
