%section#pages
  %header
    %h3 
      = I18n.t(:recent_pages)
    %span.pagination
      = pagination_for(@pages)

  = render :partial => '/layouts/base/page', :collection => @pages

  %footer
    %span.pagination
      = pagination_for(@pages)
