%header
  %h3
    = I18n.t(:people).downcase
  = totalize_with_link(@group, @group.users)
%h4 Coordinators
%ul#coordinators
  = render :partial => '/avatars/entity', :collection => @group.users
%h4 New Members
%ul#new-members
  = render :partial => '/avatars/entity', :collection => @group.users
