%header
  %h4 Group Wiki
  %a{:href => "#"} 
    Hide
%p 
  Dictum dictum justo eu pellenta tesque. Duis vitae dipiscing ipsum non risus sodales lorem ipsum dolor sit amet, e sectetur adipiscing elit. Duis dictum dictum justo eu pellenta tesque. Duis vitae dipiscing ipsum non risus sodales conte litis sectetur adipiscing elit. Dictum dictum justo eu pellenta tesque. Duis vitae dopa iscing ipsum non risus sodales eu pellenta tesque.
  %a{:href => "#"} 
    Read More
