/* line 228 */
div.swatch_list a { float: left; background: black; }
/* line 232 */
div.swatch_list label img { vertical-align: middle; }

/* line 235 */
.markdown_example { width: 100%; height: 200px; }

/* line 239 */
.markdown_toolbar { position: relative; list-style: none; border: 1px solid #d7d7d7; background-color: #f6f6f6; margin: 0; padding: 0; height: 18px; margin-bottom: 2px; max-width: 70em; }
/* line 249 */
.markdown_toolbar li { list-style: none; margin: 0; padding: 0; float: left; }
/* line 254 */
.markdown_toolbar li a { width: 24px; height: 16px; float: left; display: block; background-image: url("/images/ui/markdown_icons.gif"); border: 1px solid white; border-right-color: #d7d7d7; }
/* line 262 */
.markdown_toolbar li a:hover { border-color: #990000; }
/* line 264 */
.markdown_toolbar li a.markdown_help_button { position: absolute; top: 0; right: 0; border-left-color: #d7d7d7; border-right-color: white; }
/* line 270 */
.markdown_toolbar li a.markdown_help_button:hover { border-left-color: #990000; border-right-color: #990000; }
/* line 273 */
.markdown_toolbar li span { display: none; }

/* line 276 */
.markdown_italics_button { background-position: 0 -119px; }

/* line 279 */
.markdown_bold_button { background-position: 0 -102px; }

/* line 282 */
.markdown_link_button { background-position: 0 0; }

/* line 285 */
.markdown_image_button { background-position: 0 -170px; text-align: center; }

/* line 289 */
.markdown_unordered_list_button { background-position: 0 -34px; }

/* line 292 */
.markdown_ordered_list_button { background-position: 0 -51px; }

/* line 295 */
.markdown_quote_button { background-position: 0 -68px; }

/* line 298 */
.markdown_code_button { background-position: 0 -136px; }

/* line 301 */
.markdown_help_button { background-position: 0 -153px; }

/* line 304 */
.markdown_heading_button { background-position: 0 -85px; }
