- form_remote_for([@widget, @menu_item]) do |f|
  #main-entry-edit
    %h4.menu_entries Main menu entry being edited
    = render :partial => 'fields', :locals => {:f => f}
  #mb-footer-absolute
    = save_to_widget_link(@menu_item)
    = back_to_widget_link
#sub-entries
  %h4.menu_entries Submenu entries
  = list_menu_items @menu_item.children

