/* see application.rhtml for outline of DOM elements. */

/** general setup **/

body  {margin: 0; padding: 0;}
table {margin: 0; padding: 0; border-spacing: 0;}
img   {border:0}

/** layout **/

#main {
  padding: 22px 20px;
}
#breadcrumbs {margin-bottom: 1em;}

#maincolumn, #tabarea {
  padding: 20px;
  background: white;
  border: 1px solid transparent;
}
#tabarea {
  padding-top: 0;
  clear: both;
}
div.tabinfo {
  font-size: 0.8em;
  margin: 1em;  
}
#titlebox {
  margin: -20px; /* equal to #maincolumn padding */
  margin-bottom: 20px;
  padding: 10px 20px;
}
#titlebox .h1 {color: #669;}

#maincolumn.leftbar #content {
  float: left;
  width: 100%;
}
#maincolumn.rightbar #content {
  float: right;
  width: 100%;
}

/** type **/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
.normal {font-size: 13px;font-weight:normal;}


/** masthead **/

table#masthead {
  border-collapse: collapse;
  width: 100%;
  background: #cc9 url(/riseup/bg-top.png) repeat-x bottom left;
}
table#masthead td {
  vertical-align: bottom;
}
#masthead-image {
  background: url(/riseup/riseup.net.png) no-repeat;
  width: 166px;
  height: 30px;
}

/** utility **/

.clear {clear: both;}

/* links and text */

body       {color: black;}
a:link     {color:#00E;}
a:visited  {color:#551A8B;}
a:hover    {text-decoration: underline;}
a:active   {color:#F00;}

