/** NOTICES AND ERRORS **/

div.fieldWithErrors {
  border: 2px solid red;
  display: table-cell;
}
div.fieldWithErrors + div.fieldWithErrors {display:none;}
input[type="hidden"] {display:none}
/* input[type="checkbox"] {display:table-cell;} */
/* label {display: table-cell; vertical-align: middle;} */
/* div.checkbox {display: table-cell;} */

/** NOTICES AND ERRORS **/
div.fieldWithErrors {
  border: 2px solid red;
  display: table-cell;
}
div.fieldWithErrors + div.fieldWithErrors {display:none;}
input[type="hidden"] {display:none}
/* input[type="checkbox"] {display:table-cell;} */
/* label {display: table-cell; vertical-align: middle;} */
/* div.checkbox {display: table-cell;} */

div.notice img {
  vertical-align: middle;
  float: left;
}
div.notice {
  width: 35em;
  padding: 7px;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: #eee;
}
div.notice h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em;
  font-size: 12pt;
  margin: -7px;
  padding-left: 60px;
  background-color: #ccc;
  border-bottom: 1px solid #999;
}
div.info h2 {background-color: #eee; border: 0}
div.error  {border: 2px solid red;   color: #900;}
div.info   {border: 2px solid green; color: #090;}
div.update {border: 2px solid blue;  color: #009;}
div#update {
  background: #ddd url(/images/48/info.png) 0 50% no-repeat;
  padding: 2em 2em 2em 48px;
}
div.notice p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  padding-left: 53px;
}
div.notice ul {
  padding-left: 53px;
}
div.notice ul li {
  font-size: 12px;
  list-style: square;
  color: black;

}
