/** layout for groups **/

div#navbar {
  font-family: arial;	
  float: left;
  width: 8em;
  color: #666;
  background-color: #f5f8ff;
  outline: 1px solid #ccc;
  border: 1px solid white;
  padding: 1em;
}
div#maincolumn {
  margin-left: 9em;
  padding-left: 2.5em;
}

/** sidebar **/

div#navbar h4 {
  color: #999;
  font-size: 1em;
  margin: 0;
}

div#navbar div.section {
  margin-bottom: 1em;
}

/** group landing page **/

h3.landing {
  font-family: arial;
	font-size: 1.8em;
	font-weight: normal;
	color: #333;
	margin: 0 0 3px 0;
}

h3.landing span {
  font-family: arial;
  color: #666;
  font-size: 0.6em;
  margin-left: 1em;
}

h4.landing {
  font-family: arial;
  font-size: 1.4em;
  font-weight: normal;
  color: #333;
  padding: 0 0 4px 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

div#info_panel {
  background-color: #f5f8ff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
div#info_panel td {
  vertical-align: top;
  padding: 0 20px;
}

div#info_panel td#group_info_cell {
  border-left: 1px solid #ccc;
}

/** searching and archive **/

table.archive-calendar {
  color: #999;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table.archive-calendar td {
  width: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
table.archive-calendar td a {
  display: block;
  font-weight: bold;
  text-decoration: none;
}

/** group directory **/

div.group-entry {
  float: left;
  margin: 1em;
  margin-left: 38px;
  width: 30em;
}
div.group-entry a {
  font-weight: bold;
}
div.group-entry img {
  margin-left: -38px;
  vertical-align: top;
  float: left;
}
#l-shape {
  height: 1em;
  width: 2em;
  display: block;
  float: left;
  border: 1px solid white;
  border-width: 0 0 1px 1px;
  margin-left: 10px;
  margin-top: -2px;
}
