/** layout for groups **/

/** searching and archive **/

table.archive-calendar {
  color: #999;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table.archive-calendar td {
  width: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
table.archive-calendar td a {
  display: block;
  font-weight: bold;
  text-decoration: none;
}

/** group directory **/

div.group-entry {
  float: left;
  margin: 1em;
  margin-left: 38px;
  width: 30em;
}
div.group-entry a {
  font-weight: bold;
}
div.group-entry img {
  margin-left: -38px;
  vertical-align: top;
  float: left;
}
#l-shape {
  height: 1em;
  width: 2em;
  display: block;
  float: left;
  border: 1px solid white;
  border-width: 0 0 1px 1px;
  margin-left: 10px;
  margin-top: -2px;
}

/** group activity list **/
table.activity {
  border-collapse: collapse;
}
table.activity td.top {
  padding-top: 7px;
  padding-left: 3px;
}
table.activity td.bottom {
  padding-bottom: 7px;
  padding-left: 3px;
  font-size: 0.8em;
}
table.activity tbody.odd {
  background-color: #f2f2f2;
}
table.activity tbody.even {
  background-color: white;
}
table.activity th {
  padding-top: 10px; 
  text-align: left;
}

/** group landing layout **/

div.landing-main-column {
  margin-right: 22em;
}

div.landing-side-column {
  width: 20em;
  float: right;
}

