/* get hover to work in ie */
body {behavior:url("/javascripts/ie/csshover.htc");}

/* negative margins are doubled in ie6 */
div#leftbar {
  margin-left: -85px;
  width: 169px;
}
div#rightbar {
  margin-top: 20px;
  margin-right: -110px;
  width: 199px;
}
/*
#titlebox {
  margin: 0;
  padding: 10px 20px;
}
div#contentbox {
  padding: 0 20px;
}
#maincolumn.rightbar #content{
  float: right;
  width: 100%;
}
*/
/* I don't understand why this is needed: it should already be the case!! */
#maincolumn.rightbar {
  margin-right: 210px;
}
td.post-body div.negativespace {
  margin: -4px 0;
}
#title #title_edit_link {
  right: 20px;
}

