/** landing pages **/

div#titlebox div.section {
  margin-bottom: 1em;
}

div#info_panel {
}
div#info_panel td {
  vertical-align: top;
  padding: 10px 20px 20px 0;
}
div#info_panel td.right {
  padding: 10px 0px 20px 20px;
  border-left: 1px solid #ccc;
}
div#info_panel td.thin {
  padding: 4px;
}

/** group landing layout **/

div.landing-main-column {
  margin-right: 22em;
}

div.landing-side-column {
  width: 20em;
  float: right;
}

