/** login screen **/

div#login_container{
	margin-left: auto;
	margin-right: auto;
	padding: 0em 2em 0em 2em;
	width:60em;
	line-height:160%;
	border:0px solid grey;
	background: white;
}
div#login_left{
	float: left;
	font-size: 15px;
	width: 30em;
	margin-left: 3em;
	padding: 2em 0 0 0;
	border:0px solid brown;
}
div#login_right{
	margin-left: 42em;
	width: 10em;
	padding: 5em 0 0 0;
}

/**login form **/

div#loginformbox {
	width: 15em;
	text-align: left;
	padding: 1em 1em 1em 1em;
	border: 1px dotted #BB8B1A;  
	background: #EEE9E9;
}
#loginform table {
	margin: 0 auto;
}



/** signup form**/

div#signup_container{
	margin-left: auto;
	margin-right: auto;
	width:60em;
	line-height:160%;
	border:0px solid grey;
	background: white;
}
div#signup_left{
	float: left;
	font-size: 15px;
	width: 22em;
	margin-left: 3em;
	padding: 2em 0 0 0;
}
div#signup_right{
	margin-left: 32em;
	width: 20em;
	padding: 3em 0 0 0;
}
div#signup_footer{
	width: 60em;
	text-align: right;
	border-top:1px solid gray;
	background: white;
}
#signupform {
	width: 20em;
	text-align: left;
	padding: 0 1em 0 1em;
	border: 1px dotted #BB8B1A;  
	background: #EEE9E9;
}

