
body {margin: 0; padding: 0;}
table {margin: 0; padding: 0; border-spacing: 0;}

div#masthead {
  padding-top: 5px;
  text-align: right;
  background: url(/images/masthead.png) repeat-x bottom left;
  color: #fff;
}
div#masthead h1 {
  display: inline; 
  padding: 5px; color: white; font-size:2em; font-weight:bold;
}

/** MAIN **/
#main {
  padding: 10px;
}

/** LOGIN **/
div#frontmain {
  padding: 5em;
  text-align: center;
}
#loginform {
  width: 20em;
  text-align: left;
  border: 1px solid #ccc;
  background: #eee;
  padding: 2em;
  margin: 0 auto;
}
#loginform table {
  margin: 0 auto;
}


/** layout for pages **/

body.with_sidebar {
  background: white url(/images/sidebar.png) repeat-y top right;
}
div#sidebar {
  float:right;
  width: 170px;
}
div#sidebar h2 {
  border-bottom: 1px solid white;
  font-size: 1em;
  background-color: #efefef;
  padding-left: 0.5em;
}
div.main_with_sidebar {
  margin-right: 180px;
}

/*
.post-author {
  background: #e9e9e9;
  border: 1px solid #ccc;
  border-right: 0;
  position: relative;
  left: 1px;
  padding: 3px;
  text-align: right;
}
.post-body {
  background: #f3f3f3;
  border: 1px solid #ccc;
  padding: 3px;
}
td.post-body p {}
tr.post td {
  vertical-align: top;
}
tr.post-spacer td {line-height: 0.4em;}
textarea#post_body {width: 100%}
*/

div.posts {
  margin: 1em 0;
}
div.posts h1 {margin: 0.5em; padding: 0; font-size: 1em;}
table.posts {
  width: 100%
}
.post-author {
  text-align: right;
  padding: 0 5px 0 10px;
}
.post-body {
  border-left: 1px solid #ccc;
  padding: 0 10px 0 5px;
}
td.post-body p {}
tr.post td {
  vertical-align: top;
}
tr.post-spacer-bottom td {line-height: 10px; border-bottom: 1px solid #ccc;}
tr.post-spacer-top td {line-height: 10px;}
tr.post-border-top td {border-top: 1px solid #ccc;}

.shade-even {background-color: #FAFAFA;}
.shade-odd {background-color: #F0F1F7;}
textarea#post_body {width: 100%}

ul.plainlist {
  padding: 0; margin: 0;
  list-style: none;
}
ul.plainlist img, li {
  vertical-align: bottom;
  margin-top: 2px;
}

/** page list **/

div#page-holder {
  margin-top: 2em;
}
div#page-holder div.header {
  font-weight: bold;
  background: #ccc;
  margin-bottom: 0.5em;
  color: white;
  padding: 3px;
}
div#page-list {
  margin: 0 0 1em 12.5em;
  border-bottom: 1px solid #ccc;
}
div#page-list table {
  width: 100%;
}
div#page-list tr td {
  border-top: 1px solid #ccc;
  padding: 2px;
}
div#page-list tr.unread {
  font-weight: bold;
}
div#folders {
  float: left;
  width: 12em;
  background: #eee;
}
div#folders ul {
  padding: 0; margin: 0 0 0 1em;
  list-style: none;
}
div#folders li {
  margin: 0; padding: 0;
  border-top: 1px solid white;
}
div#folders li.first {
  border-top: 1px solid #ccc
}
div#folders li a, div#folders li span {
  text-decoration: none;
  display: block;
  padding: 2px;
  margin: 0;
}
div#folders li a.selected {
  background: #ccc;
  font-weight: bold;
}
div#folders li a:hover {
  background: #ccc;
}
div#folders li img {
  vertical-align: top;
  border: 0;
}
/** profile **/

div.profile {
  margin-top: 6px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 6px;
}
div.profile td {vertical-align: top; padding: 3px;}
div.profile h1 {margin: 0; font-size: 2em;}

/** style **/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {font-size: 1.3em;}
.normal {font-size: 13px;font-weight:normal;}
