/* see application.rhtml for outline of DOM elements. */

/** general setup **/

body  {margin: 0; padding: 0;}
table {margin: 0; padding: 0; border-spacing: 0;}
img   {border:0}

/** layout **/

div#container {
  /* z-index: 10; */
}
div#main {
  padding: 10px;
}
div#content {
  /* z-index: 20; */
  background: white;  
}
div#breadcrumbs {margin-bottom: 1em;}

.clear {
  clear: both;
}
/** layout for pages **/

body.with_sidebar {
  /* background: white url(/images/sidebar-grey.png) repeat-y top right; */
} 
div#main.with_sidebar {
  /* margin-right: 180px; */
}

/** profile **/

/*
div.profile {
  margin-top: 6px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 6px;
}
div.profile td {vertical-align: top; padding: 3px;}
div.profile h1 {margin: 0; font-size: 2em;}
*/

/** style **/

a:link     {text-decoration: none; color:#003399;}
a:visited  {text-decoration: none; color:#003399;}
a:hover    {text-decoration: none; color: #04B4AE; }
a:active   {color:#003399}


body {
  background-color: #fff;
  color: #000;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  color: #2B2B2B;
}
.normal {font-size: 13px;font-weight:normal;}

/** theme **/

table#masthead {
  border-collapse: collapse;
  width: 100%;
  background: #cc9 url(/riseup/bg-top.png) repeat-x bottom left;
}
table#masthead td {
  vertical-align: bottom;
}
div#masthead-image {
  float: right;
  background: url(/riseup/riseup.net.png) no-repeat;
  width: 166px;
  height: 30px;
}
#main {}

