

body {margin: 0; padding: 0;}
div#header {
  padding: 1em;
  text-align: right;
  background: #660;
  color: #fff;
}
div#header span#title {margin: 0; padding: 0; font-size:2em; font-weight:bold;}
div#header a {color: white;}

/** MAIN **/
#main {
  padding: 10px;
}

/** LOGIN **/
div#frontmain {
  padding: 5em;
  text-align: center;
}
#loginform {
  width: 20em;
  text-align: left;
  border: 1px solid #ccc;
  background: #eee;
  padding: 2em;
  margin: 0 auto;
}
#loginform table {
  margin: 0 auto;
}

/** style **/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {font-size: 1.3em;}

