// this is just filler. hopefully it doesn't do anything ;-)

.map {
  display: none;
}

.olControlAttribution {
    font-size: smaller; 
    right: 5px; 
    bottom: 3px; 
    position: absolute; 
    display: block;
}