/**** drop down menu tabs ****/
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

/* structure */

#topmenu, #topmenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#topmenu > li a {
	display: block;
}

#topmenu > li {
	float: left;
	/* width: 6em; */
}

#topmenu li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#topmenu li:hover ul {
	left: auto;
}

/* styling */

#topnav {
  background: #550;
  padding-top: 7px;
  border-bottom: 2px solid #990;
}

#topmenu li {
  xbackground: #990;
  margin: 0 4px;
  position: relative;
  top: 2px;
}

#topmenu li ul li {
  margin: 0 0 -2px 0;
}

#topmenu a {
  color: #fff;
  text-decoration: none;
  xpadding: 2px;
  padding: 2px 6px;
}
#topmenu a:hover {
  background: #660;
  /* text-decoration: underline; */
}
#topmenu a.selected {
  color: #000;
  background: white;
  border: 2px solid #990;
  border-width: 2px 2px 0 2px
}
