/**** drop down menu tabs ****/
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

/* menu tabs structure */

#topmenu, #topmenu ul {
  padding: 0; margin: 0;
  list-style: none;
}
#topmenu > li a {display: block;}
#topmenu > li {float: left;}
#topmenu li ul {
  position: absolute;
  width: 10em;
  left: -999em;
}
#topmenu li:hover ul {left: auto;}

/* menu tabs styling */

#topmenu li {
  margin: 0 4px;
  position: relative;
  top: 1px;
}

#topmenu li ul li {
  margin: 0 0 -2px 0;
}

#topmenu a {
  color: #fff;
  text-decoration: none;
  padding: 2px 6px;
  font-weight: bold;
}
#topmenu a:hover {
  text-decoration: underline;
}
/*
#topmenu li.selected span {
  background: #fff url(/images/shadows/tab-bottom.png) no-repeat bottom;
  display: block;
  padding-bottom: 15px;
  margin-bottom: -15px;
  margin-right: -2px;
}
*/
/* #topmenu li.selected  {
  border: 1px solid #D1CB90;
  border-bottom: 0px;
} */

#topmenu li.selected a {
  color: #000;
  background: #fff url(/images/shadows/small-top.png) repeat-x top;
  border: 2px solid #000;
  border-bottom: 0;
  margin-bottom: -1px;
}

/* the bottom of the tabs */
#toprule-outer {border-bottom: 2px solid #000;}

/*** banner ***/

div#banner {
  padding: 4px 10px;
  border-bottom: 2px solid #000;
}
div#banner img.avatar_large {padding-right: 10px;}
div#banner img.avatar_small {padding-right: 4px;}
div#banner h1, div#banner h3 {padding: 0; margin: 0}
div#banner table {width: 100%;}

/*** banner icon boxes ***/

div.iconboxes {
}
div.iconboxes img {
  border:1px solid white;
}
div.iconboxes div.iconbox {
  position: relative;
  width: 24px; height: 24px;
  float: right;
  margin: 2px;
}
div.iconboxes div.hover {
  display: none;
}
div.iconboxes div.iconbox:hover div.hover {
  display: inline;
  position: absolute;
  top: -5px;
  left: -5px;
  background: white;
  color: black;
  z-index: 100;
}
div.iconbox div.hover div.text {
  position: absolute;
  width: 100em;
  right: 0px;
  top: 37px
}
div.iconbox div.hover div.text span {
  background: #eee;
  border: 1px solid white;
  padding: 3px;
}
div.iconbox a {
  text-decoration: none;
  color: black;
}

