/**** drop down menu tabs ****/
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

/* structure */
#topmenu, #topmenu ul {
  padding: 0; margin: 0;
  list-style: none;
}
#topmenu > li a {display: block;}
#topmenu > li {float: left;}
#topmenu li ul {
  position: absolute;
  width: 10em;
  left: -999em;
}
#topmenu li:hover ul {left: auto;}

/* styling */

#topmenu li {
  margin: 0 4px;
  position: relative;
  top: 1px;
}

#topmenu li ul li {
  margin: 0 0 -2px 0;
}

#topmenu a {
  color: #fff;
  text-decoration: none;
  padding: 2px 6px;
  font-weight: bold;
}
#topmenu a:hover {
  text-decoration: underline;
}
/*
#topmenu li.selected span {
  background: #fff url(/images/shadows/tab-bottom.png) no-repeat bottom;
  display: block;
  padding-bottom: 15px;
  margin-bottom: -15px;
  margin-right: -2px;
}
*/
/* #topmenu li.selected  {
  border: 1px solid #D1CB90;
  border-bottom: 0px;
} */

#topmenu li.selected a {
  color: #000;
  background: #fff url(/images/shadows/small-top.png) repeat-x top;
  border: 2px solid #000;
  border-bottom: 0;
  margin-bottom: -1px;
}


/** TABS **/

ul#tabnav {
  list-style-type: none;
  background: url(/images/grey9.png) repeat-x bottom;
}
ul#tabnav li {
  height: 1.6em; /* must equal a.height + a.vertical-padding */
  padding: 1px;
}
ul#tabnav li.tab {
  float: left;
  background-color: #eee;
  border: 1px solid #999;
  padding: 0;
  margin: 0 0.4em;
}
#tabnav a.tab-link {
 display: block;
 color: #666;
 text-decoration: none;
 height: 1.2em;
 padding: 0.1em 0.5em 0.3em 0.5em;
}
#tabnav a.tab-link:hover {
 background: #999;
 color: white;
}
#tabnav a.selected, #tabnav a.selected:hover {
 background: #fff;
 color: black;
 height: 1.3em;
}
