/** page layout **/

div#pagearea {
  background: #eee;
  margin: -10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
div#page {
  margin-right: 170px; /* set to #sidebar.width */
}
div#breadcrumbs {
  margin: -10px;
  padding: 5px;
  padding-left: 10px;
}
div.workarea {
  background: white;
  border: 1px solid #ccc;
  padding: 10px; 
}


/* title */
.h1 {font-size: 2em; font-weight: bold; line-height: 1.2em;}
div#title_text {
  margin-top: 15px;
}
div#title_text span#title_edit_link {
  font-size: 8pt;
  opacity: 0;
}
div#title_text:hover span#title_edit_link {
  opacity: 1;
}
#title_editor {
  margin-top: 15px;
}
div#title_text span {
}

/* posts */
div#posts {
  margin-top: 1em
}
table.posts {
  width: 100%;
  border-top: 1px solid #ccc;
}
.post-author {
  text-align: right;
  padding: 0 10px 0 10px;
}
.post-author div.icon {float: right}
.post-author div.username, .post-author div.date {margin-right: 38px}
td.post-body {
  border-left: 1px solid #ccc;
  padding: 0 10px;
}
td.post-body div.negativespace {
  margin: -1em 0;
}
.post-body p {overflow: auto;}
tr.post td {
  vertical-align: top;
}
tr.post-spacer-bottom td {line-height: 10px; border-bottom: 1px solid #ccc;}
tr.post-spacer-top td {line-height: 10px;}

.shade-even {background-color: #fff;}
.shade-odd {background-color: #f3f3f3;} 

textarea.post_body {width: 100%}


.star_post {
  float: right;
  margin-top: -20px;
  display: none;
}
td:hover .star_post {
  display: block;
}

/** page creation **/

div.page-class {
  margin-bottom: 4px;
}
div.page-class div:hover {
  background: #ffc;
  outline: 1px solid #cc9;
}
div.page-class .page-link {
  text-decoration: none;
  padding: 20px 0 20px 58px;
  display: block;
  outline: 0;
}

/** page list **/

div#page-holder {
}
div#page-holder div.header {
  font-weight: bold;
  background: #ccc;
  margin-bottom: 0.5em;
  color: white;
  padding: 3px;
}
div#page-list {
  margin: 0 0 1em 13em;
}
table.page-list a {text-decoration: none;}
table.page-list a:hover {text-decoration: underline;}
table.page-list {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
table.page-list tr td {
  border-top: 1px solid #eee;
  padding: 1px;
}
table.page-list tr.unread {
  font-weight: bold;
}
span.newpage {
  font-weight: bold;
  color: #5cd75c; 
}

div#folders {
  float: left;
  width: 12em;
  margin-left: 4px;
  xbackground: #eee;
}
div#folders ul {
  padding: 0; margin: 0 0 0 1em;
  list-style: none;
}
div#folders li {
  margin: 0; padding: 0;
  xoutline: 1px solid #ccc;
}
div#folders li.first {
  xborder-top: 1px solid #ccc
}
div#folders li a, div#folders li span {
  text-decoration: none;
  display: block;
  padding: 2px;
  margin: 0;
}
div#folders li a.selected {
  background: #eef;
  font-weight: bold;
  outline: 1px solid #dde;
}
div#folders li a:hover {
  background: #ffc;
  outline: 1px solid #cca;
}
div#folders li img {
  vertical-align: top;
  border: 0;
}

/** tool formatting **/

div.formbox textarea {
  width: 100%;
}

/** tool creation **/

table.create td {
  vertical-align: top;
  padding: 4px;
}
table.create td input {
  margin-bottom: 0.5em;
}
