/** sidebar **/

div#leftbar {
  float: left;
  width: 170px;
  margin-left: -191px; /* sidebar width + #main padding + 1px */
}
#maincolumn.leftbar {
  margin-left: 170px;
}
div#rightbar {
  float: right;
  width: 210px;
  margin-right: -231px; /* sidebar width + #main padding + 1px */
}
#maincolumn.rightbar {
  margin-right: 210px;
}

div.sidesection {
  margin-bottom: 1em;
  border: 1px solid white;
  background: #eee;
}
div#leftbar div.sidesection {
  border-right: 0;
  xbackground: #f9f9f9 url(/images/shadows/small-left-a.png) repeat-y left;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}
div#rightbar div.sidesection {
  border-left: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;

  xbackground: #f9f9f9 url(/images/shadows/small-right-a.png) repeat-y right;
}

div.sidehead {
  font-weight: bold;
  color: white;
  padding: 4px 4px 4px 9px;
}
div#leftbar div.sidehead {
  border-right: 0;
  -moz-border-radius-topleft: 4px;
  xbackground: #a5cc7a url(/images/shadows/small-topleft-a.png) no-repeat top left;
}
div#rightbar div.sidehead {
  border-left: 0;
  -moz-border-radius-topright: 4px;
  xbackground: #a5cc7a url(/images/shadows/small-topright-a.png) no-repeat top right;
}


div.sideline, div.sidelink {
  padding: 3px 0 3px 9px;
}
div.sidelink.selected {
  font-weight: bold;
}
div.sidelink a, div.sideline a {
  text-decoration: none;
}
div.sidelink a:hover, div.sideline a:hover {
  text-decoration: underline;
}
div.sidelink:hover {
  background: #cdf;
}

div.sidetail {
  height: 4px;
}

div.sidesection img {
  vertical-align: top;
}

div.sidesubhead {
  border-bottom: 1px dotted #999;
  padding: 4px;
  padding-bottom: 0px;
  margin-top: 4px;
  font-weight: bold;
  color: #666;
}

a.sidedetails {
  font-size: 0.8em;
  display: block;
  text-align: right;
  padding-right: 4px;
}
div.sideinfo {
  font-size: 0.9em;
  line-height: 1.2em;
  color: black;
}

div.sidesubarea {
  padding: 0.5em;
  background: #cdf;
  border: 1px solid white;
  border-right: 0;
  border-left: 0;
  color: #669;
}
div.sidesubarea textarea, div.sidesubarea select {
  width: 190px;
}

#assets div.busy {
  background: transparent url(/images/spinner.gif) no-repeat 9px;
}
#assets div.busy span {
  visibility: hidden;
}
