div.task_tool h2 {
  font-size: 1em;
}
ul.task_list {
  list-style-type: none;
  padding: 0;
}
span.handle {cursor: move;}
li.task {
  clear: left;
}
li.task div.actions {
  position: relative;
  left: -1000px;
  float: left;
  background: #ccf;
  outline: 1px solid #999;
  width: 3em;
  height: 1.4em;
  padding: 3px;
  opacity: 0.3;
}
li.task div.actions img {
  padding: 2px 2px;
  vertical-align: bottom;
}
li.task:hover div.actions {
  left: 0;
}
li.task div.actions:hover {
  opacity: 1;
}
li.task div.checkbox {
  float: left;
  width: 2em;
  height: 1.4em;
  padding: 3px;
}
li.task div.name {
  padding: 3px;
}
li.task div.name span a{
  color: black;
  text-decoration: none;
  border-bottom: 1px #ccc dotted;
  outline: 0;
}
li.task div.indent {
  margin-left: 6em;
}
li.task div.edit {
  padding: 3px;
}
li#add_task_link {
  background: #eee;
  margin: 0 6em;
  padding: 4px;
}
