div.left-small {
  background:#E6F2FF none repeat scroll 0%;
  border: solid 1px lightgrey;
  float:left;
  font-size:12px;
  text-decoration: none;
  padding: 6px 0px 8px 6px;
  width:14em;
}
div.right-big {
  margin-left: 13em;
  text-decoration: none;
}
div.task_details p, div.task_details ul {
  border-bottom: 1px solid lightgrey;
  color: #88996E;
  font-size: 12px;
  margin: 2px 80px 20px 51px;
  padding: 2px;
}
div.task_tool h2 {
  font-size: 1em;
}
li.task {
  clear: left;
}
li.task div.actions {
  position: relative;
  left: -1000px;
  float: left;
  background: #ccf;
  outline: 1px solid #999;
  width: 3em;
  height: 1.4em;
  padding: 3px;
  opacity: 0.3;
}
li.task div.actions img {
  padding: 2px 2px;
  vertical-align: bottom;
}
li.task:hover div.actions {
  left: 0;
}
li.task div.actions:hover {
  opacity: 1;
}
li.task div.checkbox {
  float: left;
  width: 2em;
  height: 1.4em;
  padding: 3px;
}
li.task div.checkbox input {
  margin-top: 0.3em; /* how can we make the checkbox vertical align? */
}
li.task div.name {
  padding: 3px;
  clear: right;
}
li.task div.name span a{
  border-bottom: 1px solid #88996E;
  color: #556B2F;
  font-size: 14px;
  text-decoration: none;
}
li.task div.indent {
  margin-left: 2em;
}
li.task div.edit {
  padding: 3px;
}
li.task .status {
  color: red;
  font-variant: small-caps;
  xbackground:#FF0000 none repeat scroll 0% 50%;
}
li#add_task_link {
  background: #eee;
  margin: 0 6em;
  padding: 4px;
}
span.task_timestamp{
  color: grey;
  font-size; 13px
}
span.task_title{
  color: #556B2F;
  font-size: 14px;
  text-decoration: none;
}
ul.task_list {
  color: grey;
  list-style-type: none;
  padding: 0;
}
ul.task_list .past_due{
}


/* optional side links */
div.left-small div {
  margin-bottom: 1em;
}
div.left-small div span {
  display: block;
  padding: 0px;
  font-variant:small-caps;
  font-size: 13px;
}
div.left-small div a {
  display: block;
  padding: 0px 4px 0px 1px;
  text-decoration: none;
}
