div.task_tool h2 {
  font-size: 1em;
}
ul.task_list {
  list-style-type: none;
  padding: 0;
}

li.task {
  clear: left;
}
li.task div.actions {
  position: relative;
  left: -1000px;
  float: left;
  background: #ccf;
  outline: 1px solid #999;
  width: 3em;
  height: 1.4em;
  padding: 3px;
  opacity: 0.3;
}
li.task div.actions img {
  padding: 2px 2px;
  vertical-align: bottom;
}
li.task:hover div.actions {
  left: 0;
}
li.task div.actions:hover {
  opacity: 1;
}
li.task div.checkbox {
  float: left;
  width: 2em;
  height: 1.4em;
  padding: 3px;
}
li.task div.checkbox input {
  margin-top: 0.3em; /* how can we make the checkbox vertical align? */
}
li.task div.name {
  padding: 3px;
}
li.task div.name span a{
  color: black;
  text-decoration: none;
  border-bottom: 1px #999 dotted;
  outline: 0;
}
li.task div.indent {
  margin-left: 6em;
}
li.task div.edit {
  padding: 3px;
}
li#add_task_link {
  background: #eee;
  margin: 0 6em;
  padding: 4px;
}
div.task_details p, div.task_details ul {
  margin: 0;
}

/* optional side links */
div.left-small div {
  margin-bottom: 1em;
}
div.left-small div span {
  display: block;
  background: #eee;
  border-bottom: 2px solid #ddd;
  padding: 2px;
}
div.left-small div a {
  display: block;
}
