/**
 theme.css: colors for the default theme.
 any color that might be changed by the theme goes in here.
 colors which do not change, such as UI elements, do not go here.
 **/

/* body {background: #e6e6e6;} */
/*
body {
  background: #eee;
}
#main {
  background: url(/images/test/grey-to-light-grey.jpg) repeat-x;
}
*/

#maincolumn, #tabarea {
  border-color: #999;
}
#tabarea {border-top: 1px solid transparent;}

div.sidehead {
  /* color: #fff; */
  /* background: #1B5790; */
  /* background-color: #A5CC7A; */
  /* background-color: #73B32D; */
}

div.sidesection {
  /* background-color: #AFC7DD; */
  /* background-color: #E9FFD1; */
  /* background-color: #A5CC7A; */
  /* background: white url(/images/shadows/small-left-a.png) repeat-y; */
  /* border-color: white; */
}

div.sideline a {
}

/* title and info panel */

#titlebox {
  background: #E6F2FF;
  border: 2px solid white;
}

/* banner */

div#banner {border-color: white;}
#toprule-outer {border-color: black;}

