/**
 theme.css: colors for the default theme.
 any color that might be changed by the theme goes in here.
 colors which do not change, such as UI elements, do not go here.
 **/

#masthead {
  background: #5A9ECF;
  border-top: 1px solid transparent;
}
#masthead h1 {
  float: right;
  margin-bottom: -0.5em;
  color: #047;
}

#maincolumn, #tabarea {
  border-color: #999;
}
#tabarea {border-top: 1px solid transparent;}

/* title and info panel */

#titlebox, .titlebox {
  background: #E6F2FF;
  border: 2px solid white;
}


