/*** USER INTERFACE ELEMENTS ***/

/** things that look like buttons **/

form input[type=submit], form input[type=button], a.button {
  border: 1px solid #bce;
  outline: 1px solid #666;
  text-decoration: none;
  color: white;
  background: #6AD url(/images/blend/24-bw-25.png) 0% 50% repeat-x;
  padding: 0 2px 2px 2px;
  cursor: pointer;
  margin: 1px;
}
form input[type=submit]:hover, form input[type=button]:hover, a.button:hover {
  border: 1px solid #def;
  background: #9cf url(/images/blend/24-bw-25.png) 0% 50% repeat-x;
}

form.button-to input {display: inline;}
form.button-to div {display: inline;}
form.button-to {
  padding: 0; margin: 0;
  display: inline; 
}

/** things that look like links **/

form.link {display: inline; border: 0; padding: 0; margin: 0}
form.link input[type=submit], input[type=submit].link {
  border: none;
  padding:0; margin:0;
  text-decoration: underline; /* this doesn't work? */
  color:blue;
  background-color:transparent;
  cursor:pointer; 
  display: inline;
}

/** common reusable elements **/

a.dotted {
  color: black;
  text-decoration: none;
  border-bottom: 1px #999 dotted;
  outline: 0;
}
a.imglink { text-decoration: none; }
a.imglink span { text-decoration: underline; }
img.avatar { vertical-align: middle; } 

ul.plainlist {
  padding: 0; margin: 0;
  list-style: none;
}
ul.plainlist li {margin: 3px 0;}

ul.floatlist {
 clear: left;
}
ul.floatlist li {
  float: left;
  margin-right: 1em;
}

div.left-small {
  float: left;
  width: 10em;
}
div.right-big {
  margin-left: 11em;
}

a.selected {font-weight: bold;}

/** horizontal Formy tabs **/

ul.tabset {
  font-size: 0.8em;
  list-style-type: none;
  background: url(/images/grey9.png) repeat-x bottom;
  margin: 0; padding: 0 0 0 0.75em;
}
ul.tabset li {
  height: 1.7em; /* must equal a.height + a.vertical-padding */
  padding: 2px;
}
ul.tabset li.tab {
  float: left;
  padding: 1px; /* to make space for invisible white outline of a.tab-link */
  margin: 0;
}
ul.tabset li.tab.selected {
  border: 1px solid #999;
}
ul.tabset a.tab-link {
  /* outline: 1px solid white; this is to remove dotted outline when link is clicked */
  display: block;
  text-decoration: none;
  padding: 0 1em;
}
ul.tabset a.tab-link:hover {
  text-decoration: underline;
}
ul.tabset a.selected {
  background: #fff url(/images/shadows/inside-tab.png) repeat-x top;
  outline: 1px solid white;
  color: black;
  height: 2em; /* this is what hides the bottom border */
}
div.tabarea {
/*  background: #fff;
  border: 1px solid #999;
  border-top: 0; 
  padding: 1px;  not sure why this is needed */
}

/** section headers **/

.sectionhead1{
	font-size: 24px;
	font-weight: normal;
	color: #2E2E2E;
    letter-spacing: -.03em;
	margin: 0 0 .5em 0;
}

	
.sectionhead2{
	font-size:14px;
    font-weight: normal;
    color: #2E2E2E;
	border-bottom: 1px solid #848484;
	margin: 2em .5em .5em 0;
}


