/** wiki **/

del.diffmod, del.diffins {
  color: #999;
  background-color: #ddd;
}
ins.diffmod, ins.diffins {
  background-color: #cfc;
  text-decoration: none;
  color: #000;
}

/* http://longren.org/2006/09/27/wrapping-text-inside-pre-tags */
/* Browser specific (not valid) styles to make preformatted text wrap */

.wiki pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.wiki pre.code {
  background: black;
  color: #0f0;
  padding: 0.5em;
}
.wiki div.codetitle {
  background: #333;
  color: #fff;
  margin-bottom: -1em;
  padding: 0.5em;
  font-weight: bold;
}
