/** wiki **/

del.diffmod, del.diffins {
  color: #999;
  background-color: #ddd;
}
ins.diffmod, ins.diffins {
  background-color: #cfc;
  text-decoration: none;
  color: #000;
}

/* http://longren.org/2006/09/27/wrapping-text-inside-pre-tags */
/* Browser specific (not valid) styles to make preformatted text wrap */

.wiki pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.wiki pre.code {
  background: #FFF6DD;
  border: solid 1px;
  border-color: #FFE8A9;
  padding: 0.5em;
/*  background: #FCEDD7;
  color: #4C3B23;
   */
}
.wiki div.codetitle {
  background: #FFE8A9;
  xbackground: #EBDAC0;
  color: #614B2A;
  margin-bottom: -1em;
  padding: 0.25em;
  font-weight: bold;
}
.wiki h1 {
  font-size: 24pt;
  line-height: 1.25em;
  margin-top: 1.5em;
  color: #666;
  border-bottom: 2px dotted #999;
}
.wiki h2 {
  font-size: 14pt;
  margin-top: 1.25em;
  line-height: 1.25em;
  border-bottom: 1px dashed #ccc;
}
.wiki h3 {
  font-size: 1.1em;
  margin-top: 0.75em;
}

div.wiki > h1:first-child {
  margin-top: 0;
}
