<tr>
  <td class='label'>
    <%= 'Embed'.t %>
  </td>
  <td>
    <%= 'Embed code from external video source'[:video_embed_code_prompt] %><br/>
    <%= text_area 'external_video', 'media_embed', :size => '38x3' %><br />
    <i>(<%= 'currently supported: youtube, blip.tv, google video, vimeo'[:current_video_sources] %>)</i>
  </td>
</tr>
