<tr>
  <td colspan="2" class="label first"><%= 'File'[:file] %></td>
</tr><tr>
  <td><%= file_field 'asset', 'uploaded_data', :size => 29 %></td>
  <td class="help"><%= help(:upload_file) %></td>
</tr>

