<%
  form.row do |r|
    r.label I18n.t(:files)
    r.input %Q{
      <p style='margin-top: 0'><input name="assets[]" size="29" type="file" /></p>
      <p><input name="assets[]" size="29" type="file" /></p>
      <p id='add_file_field'>
        #{link_to_function(I18n.t(:add_another_file), %[$('add_file_field').insert({before: '<p><input name=\\'assets[]\\' size=\\'29\\' type=\\'file\\' /></p>'})])}
      </p>
    }
    r.info help(:upload_image)
  end
%>

