<tr>
  <td colspan="2" class="label"><%= 'Image'[:media_image] %></td>
</tr><tr>
  <td><%= file_field 'asset', 'uploaded_data', :size => 29 %></td>
  <td class="help"><%= help(:upload_image) %></td>
</tr>

