<%= error_messages_for 'group' %>

<!--[form:group]-->
<p><label for="group_name">Name</label><br/>
<%= text_field 'group', 'name'  %></p>

<p><label for="group_summary">Summary</label><br/>
<%= text_field 'group', 'summary'  %></p>

<p><label for="group_url">URL</label><br/>
<%= text_field 'group', 'url'  %></p>

<!--[eoform:group]-->

