<% url = group_url(:action => 'show', :id => group) -%>
<div class='group-entry'>
  <%= link_to avatar_for(group, 'small'), url -%>
  <%= link_to group.display_name, url -%>
  <div><%= truncate(group.summary, 200) %></div>
</div>
