%h4 Helpful Links
%ul
  %li
    %span &bull;
    %a{:href => "#"}
      Link to external link
  %li
    %span &bull;
    %a{:href => "#"}
      Link to external link
  %li
    %span &bull;
    %a{:href => "#"}
      Link to external link
