- content_for :banner do
  %section#identity-name
    = avatar_for @group, 'medium', :class => "left"
    %div.left
      %h1
        = @group.full_name

    %div#group-action

- content_for :secondary_nav do
  = render :partial => '/groups/navigation/menu'
