%section#identity-name
  = avatar_for(@parent || @group, 'medium', :class => "left")
  = render :partial => '/groups/group_header'

- content_for :secondary_nav do
  = render :partial => '/groups/navigation/menu'
