<% if @group.tags.any? -%>

<%= @group.tags.collect {|tag|
  path = (params[:path]||[]).dup
  t = tag.name
  if path.include? t
    path.delete(t)
    klass = 'invert'
  else
    path << t
    klass = ''
  end
  link_to t, group_url(:id => @group, :action => 'tags') + '/' + path.join('/'), :class=>klass
}.join(' ') -%>

<% else -%>

no tags

<% end -%>
