<% @sidebar = 'groups/sidebar' %>

<div class='tabinfo'>
This page is not yet working. Eventually, you will be able to do full text searching of pages and limit by person, group, type, date, etc.
</div>

<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>

