<% @sidebar = 'groups/sidebar' %>

<div class='tabinfo'></div>


<%= render :partial => 'pages/search', :locals => {:users => @group.users} %>

<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>



