<% for column in Group.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @group.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @group %> |
<%= link_to 'Back', :action => 'list' %>
