<div>
  <b>pending tasks.</b>
  <%= link_to 'create new task list &raquo;', "/tool/task_list_page/create/task-list?group_id=#{@group.id}" %>
</div>

<p>
<%= render :partial => 'task_list_page/external_list_tasks' %>
</p>


