<div>
  <b>pending tasks.</b>
  <%= link_to 'create new task list &raquo;', create_page_url(Tool::TaskList, :group_id => @group.id) %>
</div>

<p>
<%= render :partial => 'tool/tasklist/external_list_tasks' %>
</p>


