      <p>
        <label for="usage_agreement_accepted" class="checkbox">
        <%= check_box_tag 'usage_agreement_accepted', "1", params['usage_agreement_accepted'], :class => "checkbox" %>
        <%= I18n.t(:accept_usage_agreement) %>
        </label>
      </p>  
