- if @images.any?
  %ul#sort_gallery
    = render :partial => 'edit_image', :collection => @images
  = sortable_element "sort_gallery", :constraint => false, :overlap => :horizontal, :url => {:action => :sort, :controller => :gallery, :id => @page.id}
  %br{:style => 'clear:both'}/
- else
  = I18n.t(:no_images_in_gallery)

