- if @images.any?
  %ul#sort_gallery
    = render :partial => 'image_to_edit', :collection => @images
  = sortable_element "sort_gallery", :constraint => false, :overlap => :horizontal, :url => page_url(@page, :action => :update)
  %br{:style => 'clear:both'}/
- else
  = I18n.t(:no_images_in_gallery)

