<div id="swatch_<%= image.id -%>" class="swatch gallery_swatch_<%= image.image_format -%>">
  <%= link_to_asset(image, :medium, :crop => '128x128', :url => page_url(@page, :action => 'detail_view', :id => image.id)) %>
</div>
