<% 
   default_delay = 10 # seconds
 -%>

<%= javascript_tag "var delay = #{default_delay}" %>

<div id="navigation">
  <% delay_field = text_field_tag "delay", default_delay, :id => 'delay_field', :size => 1 -%>
  <%= "Update every {input_field}" seconds"[:slideshow_delay_input, {:input_field => delay_field }] %>
  <%= button_to_function "apply"[:apply_settings], "delay=$('delay_field').value;" %>
</div>

<%= javascript_tag "
function next_image(image_id) {
  get_next_image(image_id);
  setTimeout('new Effect.Fade($(\\'image\\'), { duration: 1.0 })', (delay-1)*1000);
  setTimeout('show_next_image()', delay*1000);
}

function show_next_image() {
  if(ready_for_next == true) {
    ready_for_next = false;
    $('content').innerHTML = $('next_image').innerHTML;
    $('next_image').innerHTML = ''; // clear so that we have unique IDs again
    new Effect.Appear($('image'));
    next_image(next_image_id);
  } else {
    setTimeout('show_next_image()', 1000);
  }
}

function get_next_image(image_id) {
  #{remote_function(:url => { 
                      :controller => 'gallery',
                      :action => 'slideshow',
                      :page_id => @page.id
                    },
                    :update => 'next_image',
                    :with => "'image_id='+image_id")}
}
" %>
