<%= render :partial=>'asset_page/file_field'%>

<tr id='add_file_field'>
  <td align='right' colspan="2">
    <%= link_to_remote(I18n.t(:add_another_file), :url => {:controller => 'asset_page', :action => 'add_file_field'},
		       :html => {:style => 'display:none', :id => 'add_file_field_link'}) %>

    <%= javascript_tag "$('add_file_field_link').show();"%>
    <noscript>
      <input type="checkbox" name="add_more_files" /><label for="add_more_files">add more files</label>
    </noscript>
  </td>
</tr>
