<%- @info_box = gallery_navigation -%>

<!-- <div class="cover">
  <%# link_to_asset(@cover, :large, :url => page_url(@page, :action => 'detail_view', :id => @cover.id)) %>
</div> -->

<div class="swatches">
  <%- if @images.any? -%>
    <%= render :partial => 'image', :collection => @images %>
    <br style='clear:both'/>
    <%= pagination_links @images %>
  <%- else -%>
    <%= I18n.t(:no_images_in_gallery) %>
  <%- end -%>
</div>


