<% content_for :style do %>
div.gallery_swatch {
  float: left;
  padding: 0 2em 2em 0;
}
<% end %>
<% @info_box = gallery_navigation %>

<div id="gallery_overview">
<% if @images.any? %>
  <%= render :partial => 'image', :collection => @images %>
  <br style='clear:both'/>
  <%= pagination_links @images %>
<% else %>
  <%= "No images in gallery"[:no_images_in_gallery] %>
<% end %>
</div>
<br />
<div id="posts">
  <div class="comments-head">
    <h2 class="title2"><%= :Comments.t %></h2>
  </div>
</div>
