- dir_controller = (@active_tab == :groups) ? 'groups/directory' : 'networks/directory'

%ul
  = menu((I18n.t(:discover)), {:controller=> dir_controller, :action=>'recent'})
  = menu((I18n.t(:browse)), {:controller => dir_controller, :action => 'search'})

