- widget = @widget unless local_assigns[:widget]
.col2
  %h3.map-blue-bg.col-heading=widget.title
  - @map = OpenlayersMap.new(map_widget_options(widget))
  = render :partial => @map.map_partial, :locals => {:widget => widget}
