html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

body {
  background-color: #e6e6e6; }

#container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 895px;
  max-width: 100%; }
  #container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

#masthead {
  height: 100px;
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0;
  background-color: #f9f9f9; }

#masthead_content {
  padding: 15px;
  overflow: hidden;
  white-space: nowrap; }

#masthead_content {
  position: absolute;
  top: 50%;
  height: 2.5em;
  margin-top: -1.25em;
  padding-top: 0;
  padding-bottom: 0; }

#masthead {
  position: relative; }
  #masthead ul#menu {
    position: absolute;
    bottom: 5px;
    padding-left: 8px;
    white-space: nowrap; }
    #masthead ul#menu li.tab {
      display: inline; }
      #masthead ul#menu li.tab a.tab {
        padding: 4.25px 8px;
        text-decoration: none;
        border: 1px solid transparent; }
        #masthead ul#menu li.tab a.tab:hover {
          text-decoration: underline; }
        #masthead ul#menu li.tab a.tab.active {
          background: #e6e6e6;
          border: 1px solid #cccccc;
          border-bottom: 0; }

#menu li.tab {
  position: relative; }

#masthead ul#menu li.menu_visible a.tab {
  border: 1px solid #999999;
  border-bottom: 0;
  z-index: 100;
  position: relative;
  background-color: white; }
  #masthead ul#menu li.menu_visible a.tab.active {
    background-color: white;
    border: 1px solid #999999;
    border-bottom: 0; }

#menu .menu_items {
  position: absolute;
  left: 0;
  margin-top: 5px;
  background-color: white;
  padding: 15px;
  border: 1px solid #999999;
  z-index: 99; }
  #menu .menu_items a.name_icon {
    display: block;
    border: 1px solid white;
    background-position: 4px 50%;
    padding: 12px 5px 12px 45px; }
    #menu .menu_items a.name_icon:hover {
      background-color: #ffffcc;
      border: 1px solid #cccc99; }
  #menu .menu_items li {
    display: block; }

#menu div.leftcol {
  width: 17em;
  float: left; }
#menu div.rightcol {
  width: 17em;
  margin-left: 18em; }
#menu div.leftcol.menu_me {
  width: 10em; }
#menu div.rightcol.menu_me {
  margin-left: 11em; }

header#context_banner {
  clear: both;
  margin-right: 1.676%;
  margin-left: 1.676%;
  background: #999999;
  border: 1px solid #888888;
  margin-top: 1.676%; }
  body.webkit header#context_banner {
    margin-right: 1.704%;
    margin-left: 1.704%; }
  header#context_banner a.tab {
    color: white; }

#banner_content {
  padding: 12px; }
  #banner_content a.avatar {
    margin-right: 12px; }
    #banner_content a.avatar img {
      border: 2px solid white;
      outline: 1px solid #888888;
      vertical-align: middle; }
  #banner_content a.title {
    color: white;
    font-size: 36px;
    text-decoration: none; }
    #banner_content a.title:hover {
      text-decoration: underline; }

#context_banner {
  position: relative;
  margin-bottom: 1.676%; }
  #context_banner ul#banner_nav_ul {
    position: absolute;
    bottom: 4px;
    padding-left: 6px;
    white-space: nowrap; }
    #context_banner ul#banner_nav_ul li.tab {
      display: inline; }
      #context_banner ul#banner_nav_ul li.tab a.tab {
        padding: 3.25px 6px;
        text-decoration: none;
        border: 1px solid transparent; }
        #context_banner ul#banner_nav_ul li.tab a.tab:hover {
          text-decoration: underline; }
        #context_banner ul#banner_nav_ul li.tab a.tab.active {
          background: #e6e6e6;
          border: 1px solid #888888;
          border-bottom: 0; }
  #context_banner a.tab.active {
    color: inherit; }
  #context_banner ul#banner_nav_ul {
    margin-left: 78px; }

div#local {
  margin-top: 1.676%; }

#column_center.full {
  clear: both;
  margin-right: 1.676%;
  margin-left: 1.676%; }
  body.webkit #column_center.full {
    margin-right: 1.704%;
    margin-left: 1.704%; }

#column_center.with_left {
  display: inline;
  float: right;
  margin-right: 1.676%;
  #margin-left: -15px;
  display: inline;
  float: left;
  width: 78.212%;
  margin-right: 1.676%; }
  body.webkit #column_center.with_left {
    margin-right: 1.704%; }
  body.webkit #column_center.with_left {
    width: 78.24%;
    margin-right: 1.704%; }

#column_left {
  margin-left: 1.676%;
  display: inline;
  float: left;
  width: 18.436%;
  margin-right: 0; }
  body.webkit #column_left {
    margin-left: 1.704%; }
  body.webkit #column_left {
    width: 18.464%; }

nav#local_nav li {
  border: 1px "solid transparent"; }
  nav#local_nav li.active {
    border: 1px solid #cccccc;
    border-right: 0; }
nav#local_nav li a {
  padding: 5%;
  display: block; }
  nav#local_nav li a.active {
    background: white;
    position: relative;
    left: 1px; }

#column_left {
  margin-left: 1.676%;
  display: inline;
  float: left;
  width: 18.436%;
  margin-right: 0; }
  body.webkit #column_left {
    margin-left: 1.704%; }
  body.webkit #column_left {
    width: 18.464%; }

nav#local_nav li {
  border: 1px "solid transparent"; }
  nav#local_nav li.active {
    border: 1px solid #cccccc;
    background: white;
    border-right: 0; }
nav#local_nav li a {
  padding: 5%;
  display: block; }
  nav#local_nav li a.active {
    background: white;
    position: relative;
    left: 1px; }

article#content {
  border: 1px solid #cccccc;
  background: white;
  padding: 2.143%; }

#footer {
  clear: both;
  margin-right: 1.676%;
  margin-left: 1.676%;
  margin-top: 15px; }
  body.webkit #footer {
    margin-right: 1.704%;
    margin-left: 1.704%; }

.small_icon {
  background-repeat: no-repeat !important;
  background-position: 0 50% !important;
  padding-left: 20px !important;
  min-height: 16px !important;
  line-height: 1.6em; }

.none_16 {
  background-image: none; }

.name_icon {
  background-repeat: no-repeat;
  background-position: 1px 50%; }
  .name_icon .tiny {
    padding: 0px 0 0px 17px; }
  .name_icon .xsmall {
    padding: 2px 0 4px 26px; }
  .name_icon .small {
    padding: 7px 0 7px 40px;
    line-height: 14px; }
  .name_icon .medium {
    padding: 15px 0 15px 60px;
    display: block;
    font-size: 1.3em; }

.name_icon b {
  display: none; }

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1em; }
  h1 .more, h2 .more, h3 .more, h4 .more {
    padding-left: 1em;
    font-size: 0.8em; }

h2.dim, h3.dim, h4.dim {
  color: #999999; }

h1 {
  font-size: 2.1em; }

h2 {
  font-size: 1.125em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

.page_list.table table {
  width: 100%; }
.page_list.table td, .page_list.table th {
  padding: 8px; }
.page_list.table th {
  font-weight: bold; }

#container {
  background-image: url(/images/grid.png?1287626635);
  background-repeat: repeat;
  background-position: 15px 0; }

.debug {
  overflow: hidden;
  color: #999; }

.wtf {
  border: 1px dotted red; }

#masthead_title {
  color: #333;
  font-size: 1.5em;
  line-height: 1.5em; }
