<%-

# locals to take

# recipient -> the recipient to render the partial for
# access -> what access level do we want to give to the new participation
# unsaved -> flag: does this participation contain changes that need to be saved / is new

recipient.kind_of?(Group) ? recipient_name = recipient.name : recipient_name = recipient.login

%>

<li class="<%= 'unsaved' unless !unsaved %>">
    <div style="float:left;">
      <%= avatar_for(recipient,'xsmall') %>
      <%= recipient.display_name %>
    </div>
    <div style="float:right;">
      <%- if @page.nil? or current_user.may?(:admin,@page) -%>
      <%= select_page_access 'recipients['+recipient_name+'][access]', {:blank => (type=='send'), :selected => access} %>
      <%- end -%>
    </div>
    <div style="clear:left;"></div>
</li>
