<%# locals: wiki, access (one of :public or :private) %>
<div class='wiki'>
  <%= wiki.body_html %>
</div>
<% spinner_id = 'preview-spinner-%s' % rand(1000000) -%>
<div class='formbox'>
  <% form_remote_tag(
       :url => wiki_action('edit_area', :access => access),
       :loading => show_spinner(spinner_id)) do -%>
   <div>
     <%= submit_tag 'Edit', :name => 'edit' %>
     <%= submit_tag 'Close', :name => 'close' %>
     <%= spinner(spinner_id) %>
   </div>
  <% end -%>
</div>

