//  Susy: Elastic-Fluid grids without all the math
//  by Eric Meyer and OddBird Collective
//  Site: www.oddbird.net/susy/

//  GRID

!grid_unit = "px"
!col_width = 36px
!gutter_width = 20px
!side_gutter_width = 18px
!total_cols = 14
//
//  HACKS
//  Are you using hacks or conditional comments? Susy makes both possible.
//  Leave this as 'true' to use hacks, set it as false for conditional comments.
//  Conditional comments will require overrides for +omega, +inline-block and
//  several other mixins.
//  !hacks = true

//  FONT-SIZE

!base_font_size_px = 12
!base_line_height_px = 21

// SUSY
//  (don't move this @import above the GRID and FONT-SIZE overrides)

@import susy/susy.sass

=sans-family-headings
  font-family: arial, helvetica, sans-serif
  font-weight: bold
  line-height: 1

=sans-family
  :font-family verdana, bitstream vera sans, helvetica, sans-serif 

// common styles
=bordered-btm(!border_color= !warm_grey_border)
  border-bottom= 1px "solid" !border_color
  
=bordered-top(!border_color= !warm_grey_border)
  border-top= 1px "solid" !border_color
  
=bordered-top-btm(!border_color= !light_grey_border)
  border-top= 1px "solid" !border_color
  border-bottom= 1px "solid" !border_color

=bordered(!border_color= !light_grey_border)
  border= 1px "solid" !border_color
  
=zero
  margin: 0
  padding: 0
  line-height: 1.0

=spaced(!spacing= 0.09em)
  letter-spacing= !spacing
  
=small-text(!font_small= 10px)
  font-size= !font_small

=blue-link(!sized= 11px)
  +hover-link
  color= !blue
  font-size= !sized
   
/* @general */
.left
  float: left
  
.right
  float: right
  
.nowrap
  white-space: nowrap


/* @group links */

\:focus

a

/* @end */


/* @group headers */

h1, h2, h3, h4, h5, h6
  +sans-family-headings
  line-height: 1
  font-weight: bold

h1
  font-size: 22px
  color: #534741

h2
  font-size: 18px
  color: #534741
h3
  font-size: 16px
  color: #d35851
  
h4
  font-size: 13px
  color: #777
  
h5
  :font-size 11px
  
h6
  :font-size 9px

/* @end */
li
  :display inline-block
  :float left
  :padding 0.2em

.small_icon
  float: left
  background-repeat: no-repeat
  background-position: 0 50%
  padding-left: 20px
  min-height: 16px
  .twenty
    padding-left: 22px
    min-height: 24px

.activities li 
  color: #333 
  margin-bottom: 1em 
  padding-left: 24px 
  span.commands  
    white-space: nowrap
    a
      text-transform: lowercase
      font-size: 80%
  .small_icon
    background-position: 0 2px
  .label.date
    font-style: italic
    color: #999
  br
    display: none
.name_icon_xsmall
  float: left
  background-repeat: no-repeat
  background-position: 1px 50%
  padding: 2px 0 4px 28px
  min-height: 24px

button.icon_16
  +zero
  vertical-align: text-top
  background-repeat: no-repeat
  border: none
  background-color: transparent
  height: 16px
  width: 16px

.shy_parent:hover 
  .shy:hover
    opacity: 1
.shy
  opacity: 0
  font-size: 8px
  
#say-box
  position: relative
  img
    position: relative
    top: 4px
  #say
    padding-bottom: 12px
    position: relative
    input.textarea
      padding: 2px
      position: relative
      top: 0
      font-family: monospace
      overflow: auto
      .tall
        height: 120px
    input.say-submit
      position: relative
      top: 3px

/* @group forms */

form

input.checkbox
  width: 12px
  height: 12px
  margin-right: 0
  
input.text
  border: none
  
fieldset

legend

label

textarea

input

button

/* @end */


/* @group tables */

/* tables */

table

thead

tbody

tfoot

tr

th

td

/* @end */


/* @group block tags */

p

blockquote

/* @end */


/* @group inline tags */

cite

em
  :font-style italic

strong
  :font-weight bold

ins
  :text-decoration underline

del
  :text-decoration line-through

q

/* @end */


/* @group replaced tags */

img

/* @end */
