div
  &.page_search_form
    text-align: center
    line-height: 2.5em
    margin-bottom: 1em

.page_title
  padding-left: 1em
  h3
    font-size: 20px

  .summary
    font-style: italic
    padding: 3px 0px


//
// POSTdiv
  &.page_search_form
    text-align: center
    line-height: 2.5em
    margin-bottom: 1em

//
// POST
//

#posts
  background= !white_bg
  margin-bottom: 15px
  width: 540px
  .post-author
    width: 100px
    font-size: 10px
    text-align: right
    padding: 10px
    color: #6E6E6C
    line-height: 1.3
    & img
      padding-left: 8px
  .post-body
    p
      padding: 10px
  h4
    +bordered-btm(!light_grey_border)
    line-height: 1.6
  .shade-even
    background-color= !post_alternate_bg_color

#posts > h4
  color= !red


table.posts
  width: 540px
  tr.post td
    vertical-align: top
  tr.post-spacer-bottom td
    line-height: 10px
    border-bottom: 1px solid #ccc
  tr.post-spacer-top td
    line-height: 10px
  textarea
    margin-bottom: 5px
    width: 100%
  td.post-body
    border-left: 1px solid #ccc
    padding: 0 10px
    // the first and last <p> should not have an outer margin

    p:first-child
      margin-top: 0
    p:last-child
      margin-bottom: 0
  td:hover .post_action_icon
    display: block
  div.post_action_icon
    position: absolute
    right: 0
    bottom: 0
    display: none

//
// TITLE_BOX
//

div.title_box
  form
    .h1
      line-height: 1em
      margin: 0
      padding: 0
    .h2
      line-height: 2em
      margin: 0
      padding: 1
    .h3
      line-height: .5em
      margin: 0
      padding: 1
  .h1
    font-size: 2em
    font-weight: bold
    line-height: 1.2em
  .h2
    font-size: 1.5em
    font-weight: bold
    line-height: 3em
    padding: 0px 0px 0px 20px
  .h3
    font-size: 1.5em
    font-weight: normal
    line-height: 1.2em


div.sub_menu
  width: 200px

//
// TITLE_BOX
//

div.title_box
  form
    .h1
      line-height: 1em
      margin: 0
      padding: 0
    .h2
      line-height: 2em
      margin: 0
      padding: 1
    .h3
      line-height: .5em
      margin: 0
      padding: 1
  .h1
    font-size: 2em
    font-weight: bold
    line-height: 1.2em
  .h2
    font-size: 1.5em
    font-weight: bold
    line-height: 3em
    padding: 0px 0px 0px 20px
  .h3
    font-size: 1.5em
    font-weight: normal
    line-height: 1.2em


div.sub_menu
  width: 200px


//
// ASSETS PAGE
//

#asset_page
  .upload_file_info
    padding: 15px 0
  table.pretty
    float: none
    a.thumbnail
      span
        display: none
  a
    +blue-link

#preview_area
  span
    display: none
