// this is for the me header and for the say box on another user's page
#say_box {
  .submit {
    vertical-align: top;
    margin-top: 2px; }
  .speech {
    padding: 2px 2px 2px 0;
    overflow: visible;
    height: 42px;
    clear: left;
    input.submit {
      vertical-align: top;
      margin-top: 4px; }
    span {
      white-space: none;
      padding-left: 2px;
      font-style: italic; }
    textarea {
      @include bordered($warm_grey_border);
      overflow: visible;
      float: left; }
    .textinput {
      @include bordered;
      height: 30px;
      width: 320px;
      padding: 2px;
      margin: 5px 5px 0 0;
      background: white;
      overflow: visible;
      &.tall {
        height: 5em; } } }
  .triangle {
    position: absolute;
    top: 4px;
    margin-left: 3px;
    background: transparent url(/images/ui/say.gif) no-repeat 0 50%;
    height: 18px;
    width: 9px; } }

// this is for me/messages
// these should be consolidated later - they are too similar (one is underscore other is dash!)
#say-box {
  #say {
    textarea#say_msg.tall {
      height: 5em; } } }
