//
// site-home
//
#welcome-container
  +bordered
  width: 764px
  margin-bottom: 10px
#welcome_box
  padding: 10px
#welcome-links
  +clearfix
  margin-bottom: 10px
  
    
//
// welcome box
//
.inset_box
  background: #eee url(/images/background/fade-light.png) repeat-x
  padding: 1em
  border: 1px solid #ccc
  .inset_box h3
    margin-top: 1em
    margin-bottom: 0
  .inset_box td
    padding: 0 1em 1em 0
    vertical-align: top

//
// sidebar
//
ul.icon_boxes
  +zero
  list-style: none
  & li
    float: left
    height: 32px
    width: 32px
    z-index: auto
    margin: 5px 4px 0 0
    & span
      display: none
      padding: 1em
      background-color: black
      color: white
      font-weight: bold
      z-index: 10
      position: absolute
      top: 4px
      left: 0
    & div
      position: relative
    &:hover span
      display: inline
    & a
      display: block

.dash_box
  float: left
  margin: 0 2em 1.5em 0
  & div.link_line
    line-height: 0.8em

