//
// site-home
//
#welcome-container
  +bordered
  width: 764px
  margin-bottom: 10px
#welcome_box
  padding: 10px
#welcome-links
  +clearfix
  margin-bottom: 10px
  
    
//
// welcome box
//
.inset_box
  background: #eee url(/images/background/fade-light.png) repeat-x
  padding: 1em
  border: 1px solid #ccc
  .inset_box h3
    margin-top: 1em
    margin-bottom: 0
  .inset_box td
    padding: 0 1em 1em 0
    vertical-align: top


