.tooltip {
  position: relative;
  span {
    display: none;
    padding: 1em;
    width: 25em;
    border: 1px solid #666666;
    background-color: #ffffaa;
    color: black;
    z-index: 100; }
  &:hover {
    span {
      display: inline;
      position: absolute;
      top: 10px;
      left: 30px; } } }
