%h1 Edit the Sitehome Structure
.wrapper1-plus
  .col1
    %h3 Main Section
  - for widget in @main_widgets
    = list_widget widget
.wrapper1
  .col1
    %h3 Sidebar
  - for widget in @sidebar_widgets
    = list_widget widget
