<% if activities and activities.any? -%>
<div class='activities'>
  <ul class='plain'>
    <% activities.each do |activity| -%>
      <%= display_activity(activity) %>
    <% end -%>
  </ul>
</div>
<% end -%>

