<%= header_with_more(:h2, :alert, I18n.t(:wiki)) %>
<% if @access == :public -%>
  <div class='wiki'>
    <%= @profile.wiki.body_html %>
  </div>
<% else -%>
  <%= render :partial => 'wiki/show' %>
<% end -%>
