<% size = '100%' if size.nil? -%>
<% form_tag('/me/search/', :class => 'mini_search') do %>
<table class='round'><tr>
  <td width="100%">
    <%= text_field_tag('search[text]', '', :id => 'search_text', :style => "width:#{size}", :class => 'mini_search_text') %>
    <%= hidden_field_tag('search[group]', @group.id, :id => 'search_group') if @group %>
    <%= hidden_field_tag('search[person]', @user.id, :id => 'search_person') if @user and (!logged_in? or @user.id != current_user.id)%>
  </td>
  <td>
    <%= submit_tag '', :class => 'mini_search_submit' %>
  </td>
</table>
<% end %>

