<%##
  ## The onclick remote function gets called once when this menu becomes visible
  ##%>
<div class="menu_items" style="display: none" onclick="<%= remote_function(:url => me_params(:action => :recent_pages)) %>">
  <div class="leftcol menu_me">
    <%= render :partial => 'me/mebar', :locals => { :skip_ids => true, :inline_create_page => true, :submenu => 'me_drop'}  %>
  </div>
  <div class="rightcol">
    <div id="recent_pages_dropdown"><%= big_spinner %></div>
  </div>
</div>
