<ul class="menu_dashboard selfclear submenu" style="display: none">
  <li class="leftcol">
    <%= render :partial => 'me/mebar', :locals => { :menu_id => '_menu' }  %>
  </li>
  <li class="rightcol">
    <div id="recent_pages_dropdown"></div>
  </li>
</ul>
