<% dialog_page(
  :title => 'Accept invitation to join group "{group_name}"'[:invite_accept_headline, {:group_name => @request.group.name}],
  :details => "Click one of the following to accept the invite"[:invite_accept_info]
) do %>
  <ul>
    <li>
      <%= link_to_with_icon('user', 'I already have an account'[:invite_accept_via_existing_account], @login_url) %>
    </li>
    <li>
      <%= link_to_with_icon('user_add', 'I need to register a new account'[:invite_accept_via_register], @register_url) %>
    </li>
  </ul>
<% end %>

