<% dialog_page(
  :title => I18n.t(:invite_accept_headline, :group_name => @request.group.name),
  :details => I18n.t(:invite_accept_info)
) do %>
  <ul>
    <li>
      <%= link_to_with_icon('user', I18n.t(:invite_accept_via_existing_account), @login_url) %>
    </li>
    <li>
      <%= link_to_with_icon('user_add', I18n.t(:invite_accept_via_register), @register_url) %>
    </li>
  </ul>
<% end %>

