- if participation.is_a?(GroupParticipation)
  %td
    &nbsp; &nbsp;
    = link_to_group(participation.group)
- else
  %td
    &nbsp;&nbsp;
    = link_to_user(participation.user)

%td
  = show_or_edit_page_access(participation)
%td
  = spinner(dom_id(participation))
