-# this partial display a grid of little avatar boxes.
-# arguments: groups, people, side
-# This markup and css may seem odd, but it works in all browsers.
- ul_class = '' if ul_class.nil?
- entities = [] if entities.nil?
- columns = split_entities_into_columns(entities)

- if not entities.empty?
  - cache(menu_cache_key(:menu_id => id)) do
    %div{:style=>"display: none", :class => columns[:right_col].empty? ? "menu_items" : "menu_items twocols" }
      %h3.dim
        = heading
        %span.more
          = link_to I18n.t(:see_all_link) + ARROW, see_all_url
      %div.leftcol
        %ul
          - for entity in columns[:left_col]
            %li= display_entity(entity, :tag => :a, :avatar => 'small', :format => :full, :block => true)
      - if not columns[:right_col].empty?
        %div.rightcol
          %ul
            - for entity in columns[:right_col]
              %li= display_entity(entity, :tag => :a, :avatar => 'small', :format => :full, :block => true)
