<div class="announcements">
  <h2 class="bright">
    Notable and popular
    <span>&bull; <a href="#">See all &raquo;</a></span>
  </h2> 
  <table>
  <tr>
    <td>
      <h3 class="alert small_icon exclamation_16">Announcement title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </td>
    <td>
      <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
      <h3 class="bright small_icon page_discussion_16">Discussion in two lines</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </td>
    <td>
      <h3 class="bright small_icon table_16">Holygrail Bugs</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </td>
  </tr>
  </table>
</div>

