<table>
  <tr>
    <th><a href="">star</a></th>
    <th><a href="">owner</a></th>
    <th></th>
    <th><a href="">title</a></th>
    <th class="right">last updated</td>
  </tr>
  <tr>
    <td class="date" colspan="3">today</td>
  </tr>
  <tr>
    <td class="left"><img src="/images/png/16/star_outline.png"> 4</td>
    <td><div class='small_icon page_discussion_16 /></td>
    <td><a href="">Crabgrass Development</a></td>
    <td class="right"><a href="#">Daniel</a><br /><em class="status">new</em> &bull; 10:02 am </td>
  </tr>
</table>
