<table>
<tr>
  <td class="left">
    <h2 class='dim'>Welcome</h2>
    <p class="description">
      This group is for developers and active testers of Crabgrass.
      Conversations and informations regarding programming issues, phrase
      considerations, bug testing, tool description, etc all take place here.
      Join the fun!
    </p>
    <p><a href="#">More About "Crabgrass Development"</a></p>
  </td>
  <td class="right">
    <div class="dash_box">
      <h3 class="dim">Members <span>&bull; <a href="">see all &raquo;</a></h3>
      <ul class="icon_boxes">
        <li>
          <a href="/orange"><img src="/avatars/0/small.jpg"></a>
          <div><span class="round">Orange! (orange)</span></li></span>
        <li>
          <a href="/purple" style="display:block"><img src="/avatars/0/small.jpg"></a>
          <div><span class="round">Purple! (purple)</span></div>
        </li>
        <li>
          <a href="/yellow"><img src="/avatars/0/small.jpg"></a>
          <div><span class="round">Yellow! (yellow)</span></div>
        </li>
        <li>
          <a href="/red"><img src="/avatars/0/small.jpg"></a>
          <div><span class="round">Red! (red)</span></div>
        </li>
        <li>
          <a href="/green"><img src="/avatars/0/small.jpg"></a>
          <div><span class="round">Green! (green)</span></div>
        </li>
      </ul>
      <div class="link_line clear">
        <a href="#">Edit</a> <em>&bull;</em>
        <a href="#">View Requests</a> <em>&bull;</em>
        <a href="#">Send Invites</a>
      </div>
    </div>
    <div class="dash_box">
      <h3 class="dim">
        Committees
        <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
      </h3>
      <ul class="icon_boxes">
        <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
        <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
        <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
      </ul>
      <div class="link_line clear">
        <a href="#">Create Committee</a>
      </div>
    </div>
    <div class="dash_box">
      <h3 class="dim">
        Networks
        <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
      </h3>
      <ul class="icon_boxes">
        <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
        <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
      </ul>
      <br class='clear' />
    </div>
  </td>
</tr>
</table>

