
<h2 class="small_icon plus_16"><a href='#'>Contribute</a></h2>

  <ul class='side_list'>
    <li class="small_icon home_16"><a href='#'>Home</a></li>
    <li class='small_icon info_16'><a href='#'>About</a></li>
    <li class='small_icon archive_16'><a href='#'>Archive</a></li>
    <li class='small_icon tags_16'><a href='#'>Tags</a></li>
    <li class='small_icon page_tasks_16'><a href='#'>Tasks</a></li>
    <li class='small_icon page_discussion_16'><a href='#'>Discussions</a></li>
  </ul>

<hr class="thick" />

<h2 class="alert">Featured</h2>
<a href='#'><img class="thumb" src="/plugin_assets/design_tester/images/thumbnails/photo1.jpg" /></a>
<h4 class="small_icon images_16">Gallery Title</h4><p class="legend">(28 images)</p>
<p>This Group is for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="dim">Tags</h3>
<div class='tags'>

   <a class="tag1" href="#">red</a></li>
   <a class="tag1" href="#">travel</a></li>
   <a class="tag1" href="#">community</a></li>
   <a class="tag1" href="#">social</a></li>
   <a class="tag1" href="#">polaroid</a></li>
   <a class="tag1" href="#">blackandwhite</a></li>

</div>

<hr class="thick" />

<h2 class="alert">Popular right now</h2>
<h4 class="small_icon page_discussion_16">Discussion Title</h4><p class="legend">(35 posts)</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="dim">Tags</h3>
<div class='tags'>
 
  <a class="tag1" href="#">red</a></li>
  <a class="tag1" href="#">travel</a></li>
  <a class="tag1" href="#">community</a></li>
  <a class="tag1" href="#">social</a></li>
  <a class="tag1" href="#">polaroid</a></li>
  <a class="tag1" href="#">blackandwhite</a></li>

</div>

<hr class="thin" />

<a href='#'><img class="thumb" src="/plugin_assets/design_tester/images/thumbnails/photo1.jpg" /></a>
<h4 class="small_icon images_16">Gallery Title</h4><p class="legend">(28 images)</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="dim">Tags</h3>
<div class='tags'>
  
  <a class="tag1" href="#">red</a></li>
  <a class="tag1" href="#">travel</a></li>
  <a class="tag1" href="#">community</a></li>
  <a class="tag1" href="#">social</a></li>
  <a class="tag1" href="#">polaroid</a></li>
  <a class="tag1" href="#">blackandwhite</a></li>

</div>



