<div class='wing'>

<h2><a href='#'><img src="/images/actions/contribute.png"></a></h2>
 <ul class='side_list'>
  
  <li class='small_icon home_icon'><a href='#'>Home</a></li>
  <li class='small_icon about_icon'><a href='#'>About</a></li>
  <li class='small_icon archive_icon'><a href='#'>Archive</a></li>
  <li class='small_icon tags_icon'><a href='#'>Tags</a></li>
  <li class='small_icon tasks_icon'><a href='#'>Tasks</a></li>
  <li class='small_icon discussions_icon'><a href='#'>Discussions</a></li>
</ul>

<hr>
<h2 class="title2">Featured</h2>
<a href='#'><img class="thumb" src="/plugin_assets/design_tester/images/thumbnails/photo1.jpg"></a>
<h3 class="title3">Gallery Title</h3><h4 class="amount">(28 images)</h4>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="titletags">Tags</h3>
<div class='tags'><a href='#'>red</a> <a href='#'>travel</a> <a href='#'>community</a> <a href='#'>social</a> <a href='#'>polaroid</a> <a href='#'>blackandwhite</a></div>

<hr>
<h2 class="title2">Popular right now</h2>
<h3 class="title3">Discussion Title</h3><h4 class="amount">(35 posts)</h4>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="titletags">Tags</h3>
<div class='tags'><a href='#'>red</a> <a href='#'>travel</a> <a href='#'>community</a> <a href='#'>social</a> <a href='#'>polaroid</a> <a href='#'>blackandwhite</a></div>

<hr>

<h3 class="title3">Gallery Title</h3><h4 class="amount">(28 images)</h4>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3 class="titletags">Tags</h3>
<div class='tags'><a href='#'>red</a> <a href='#'>travel</a> <a href='#'>community</a> <a href='#'>social</a> <a href='#'>polaroid</a> <a href='#'>blackandwhite</a></div>

</div>

