	
<div id="mainsection2">
	<div>
		<h2 class="title2">group wiki</h2>
	</div>
	
	<div class="box1">
	<h3 class="title3">What is a Group Wiki?</h3>
	<p class="description">A group wiki can be anything you want! It can be a table of contents, an organization tool, pellentesque non leo id erat commodo, or ulla facilisis viverra leo. This is a group effort. 
	Help make it better by editing and adding to it.</p>
	</div>
	
</div>
	
	
	
		
		
	
