<div id="page_list">

  <div>
    <h2 class="title2">Recent group activity</h2><span><a href="#">more</a></span>
  </div>

  <ul class="table_menu">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Top Rated</a></li>
    <li><a href="#">Highest Contributors</a></li>
  </ul>

  <div class="activity">
    <%= render :partial => 'design/group_home/page_list' %>
  </div>
	
</div>



<div id="mainsection2">
	<div>
		<h2 class="title2">group wiki</h2>
	</div>
	
	<div class="box1">
	<h3 class="title3">What is a Group Wiki?</h3>
	<p class="description">A group wiki can be anything you want! It can be a table of contents, an organization tool, pellentesque non leo id erat commodo, or ulla facilisis viverra leo. This is a group effort. 
	Help make it better by editing and adding to it.</p>
	</div>
	
</div>
	
	
	
		
		
	
