<div id="group_description">
	
	<div class="description_content1">
		<h3 class="title3">Welcome, myusername</h3>
		<p class="txt_group_description">This group is for developers and active testers of Crabgrass. Conversations and informations regarding programming issues, phrase considerations, bug testing, tool description, etc all take place here. Join the fun!</p>
		<p class="more1"><a href="#">more about group</a></p>
	</div>
	
	<div class="description_content1">
	
		<div id="dashbox1">
			<h4 class="title4">Members</h4><span><a href="#">Seel all</a></span>
			<ul class="listavatars">
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li class="lastavatar"><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
			</ul>

			<ul class="dashmenu">
				<li><a href="#">edit</a></li>
				<li><a href="#">view requests</a></li>
				<li><a href="#">send invites</a></li>
			</u>
		</div>
		
		<div class="dashbox2">
			<h4 class="title4">Committees</h4><span><a href="#">Seel all</a></span>
			<ul class="listavatars">
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
			</ul>
			<p  class="more1"><a href="#">create committee</a></p>
		</div>
		
		<div class="dashbox2">
			<h4 class="title4">Network</h4><span><a href="#">Seel all</a></span>
			<ul class="listavatars">
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
				<li><a href="#"><img class="pict_id" src="/images/default/48.jpg" alt=""></a></li>
			</ul>
		</div>
		
	</div>
</div>


<div id="group_scrolltable">
	<div>
		<h2 class="title2">Recent group activity</h2><span><a href="#">more</a></span>

    <%= render :partial => 'design/group_home/page_list' %>

	</div>
</div>
	
	
	
	
	
		
		
	
