<div class='landing'>
  <div class='section'>
    <%= render :partial => 'design/group_home/announcements' %>
  </div>
  <div class='section'>
    <h2 class="bright">Recent group activity <span>&bull; <a href="#">more &raquo;</a></span></h2>
    
	<div class="filter_menu">
	  <div class='round'>
	  filter by Group
	  </div>
    </div>

	<div class="table_menu">
	  <ul>
	    <li><a class="selected" href="#">All</a></li>
		<li><a href="#">Top Rated</a></li>
		<li><a href="#">Most Viewed</a></li>
		<li><a href="#">Highest Contributors</a></li>
      </ul>
	</div>

    <div class='page_scroll'>
      <%= render :partial => 'design/group_home/page_list' %>
    </div>
  </div>

  <div class='section'>
    <h2 href="#">Group Wiki</h2>
    <h3 class="bright">What is a Group Wiki?</h3>
    <p class="description">A group wiki can be anything you want! It can be a table of contents, an organization tool, pellentesque non leo id erat commodo, or ulla facilisis viverra leo. This is a group effort. Help make it better by editing and adding to it.</p>
  </div>
</div>