<h1>Group Home</h1>
<div id="summary">
  cus in, lectus. Sed et magna. Sed porttitor ornare tellus.
</div>



<div id="mainsection1">
	
	<div class="description_content1">
		<p class="description">This group is for developers and active testers of Crabgrass. Conversations and informations regarding programming issues, phrase considerations, bug testing, tool description, etc all take place here. Join the fun!</p>
		<p><a href="#">more about group</a></p>
	</div>
	
	<div class="description_content1">
	
		<div class="dashbox1">
			<h4 class="title4">Members</h4>
      <a class='more' href="#">See all</a>

      <ul class="icon_boxes">
        <li>
          <a href="/orange"><img src="/avatars/0/small.jpg"></a>
          <span class="round">Orange! (orange)</span>
        </li>
        <li>
          <a href="/purple"><img src="/avatars/0/small.jpg"></a>
          <span class="round">Purple! (purple)</span>
        </li>
        <li>
          <a href="/yellow"><img src="/avatars/0/small.jpg"></a>
          <span class="round">Yellow! (yellow)</span>
        </li>
        <li>
          <a href="/red"><img src="/avatars/0/small.jpg"></a>
          <span class="round">Red! (red)</span>
        </li>
        <li>
          <a href="/green"><img src="/avatars/0/small.jpg"></a>
          <span class="round">Green! (green)</span>
        </li>
      </ul>
      <br style='clear:left'/>
      <span class="link_line">
        <a href="#">edit</a> <em>&bull;</em>
        <a href="#">view requests</a> <em>&bull;</em>
        <a href="#">send invites</a>
      </span>
		</div>
		
		<div class="dashbox2">
			<h4 class="title4">Committees</h4><span><a href="#">See all</a></span>
			<ul class="icon_boxes">
				<li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
				<li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
			</ul>
      <br style='clear:left'/>
			<p><a href="#">create committee</a></p>
		</div>
		
		<div class="dashbox3">
			<h4 class="title4">Network</h4><span><a href="#">See all</a></span>
			<ul class="icon_boxes">
				<li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
				<li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
			</ul>
      <br style='clear:left'/>
		</div>

	</div>
</div>




	
	
	
		
		
	
