-content_for :full_content_header do
  = render :partial => 'me/dashboard/banner'
- content_for :secondary_nav do
  = render :partial => 'me/dashboard/tabs'
- content_for :third_nav do
  = render :partial => 'pages/tabs'
