<% 
  pages=[] if pages.nil? 
  ul_class='' if ul_class.nil?
%>

<ul class='<%= ul_class %>'>
  <% pages.each do |page| %>
  <li class="small_icon page_text_16"><%= page_list_title(page, :title) %>
  </li>
  <% end %>
</ul>
