%section#pages
  %header
    - if (defined?(title) != nil && !title.nil? && !title.blank?)
      %h3
        = title
    %span.pagination
      = pagination_for(@pages)

  = render :partial => '/pages/page', :collection => @pages

  %footer
    %span.pagination
      = pagination_for(@pages)
