%ul.notice
  %li.message=I18n.t(:message).capitalize + ": " + notice[:message]
  %li.login=I18n.t(:from).capitalize + ': ' + User.find_by_login(notice[:user_login]).display_name
  %li.date=I18n.t(:date).capitalize + ': ' + friendly_date(notice[:time])

