

<%=
   if @page.tags.blank?
     "no tags"
   else
     @page.tags.collect{|tag| link_to tag.name, "/me/folder/tag/#{tag.name}" }.join(", ")
   end
%>
<br />
<%= link_to_function("Edit Tags", "Element.toggle($('tag-form')); Element.toggle($('tags'))") %>

