= render :partial => 'pages/banner_and_nav'
= render :partial => 'common/action_bar', :locals => {:mark_path => mark_pages_path, :view_path => all_pages_path}
= render :partial => 'pages/list', :locals => {:layout => '/pages/owner_image'}
