-content_for :full_content_header do
  = render :partial => 'me/dashboard/header_identity'
- content_for :secondary_nav do
  = render :partial => 'me/dashboard/tabs'

%nav
  = render :partial => 'pages/tabs'

- action_bar_form(mark_pages_path, my_work_pages_path, action_bar_settings) do
  = render :partial => 'pages/list', :locals => {:layout => '/pages/checkbox'}
