<div id='page_list'>
  <%= render :partial => 'pages/list', :locals => {:pages => @pages, :columns => [:contributors, :stars, :owner_with_icon, :icon, :title, :last_updated], :sortable => false} %>
</div>

