breadcrumbs > go > here<br/>

<h1 id='page_title'><%= in_place_editor_field 'page', 'title' %></h1>

<%= render :partial => 'posts/list' %>


<p>
<%= post_button 'destroy this page', :action => 'destroy', :id => @page %>
</p>