<% if @group.users.any? or @group.groups.any? -%>
<%= render :partial => 'avatars/boxes', :locals => {:people => @group.users, :groups => @group.groups, :side => 'left'} %>
<% else -%>
(no members)
<% end -%>
<br style='clear:both'/>
<%= link_line(more_members_link, invite_link, requests_link) %>
