<%- size = local_assigns[:size] || 38 %>
<tr>
  <td class='label'><%= I18n.t(:file) %></td>
  <td>
    <input id="assets" name="assets[]" size="<%= size %>" type="file" />
    <div id="progress" style="display: none;">
      <div id="bar" style="width: 0%;">
        0 %
      </div>
    </div>
  </td>
</tr>
