<div><table class='pretty'>
  <%- @asset.thumbnails.select{|tn|tn.thumbdef}.sort_by{|tn|tn.thumbdef.ext}.each do |tn| -%>
    <%- next if tn.thumbdef.proxy and tn.content_type == @asset.content_type -%>
    <tr>
      <td><%= image_tag tn.small_icon %></td>
      <td><%= link_to tn.title, tn.url %></td>
      <td><%= link_to tn.thumbdef.ext, tn.url %></td>
    </tr>
  <%- end -%>
</table></div>
<%- if logged_in? and current_user.may?(:admin, @page) -%>
<p style='text-align:center'><%= link_to I18n.t(:regenerate), page_url(@page, :action => 'regenerate'), :method => :post %></p>
<%- end -%>
