.calendar_edit_16 {
  background-image: url(/plugin_assets/enhanced_stats/images/calendar_edit.png);
  float: right;
  padding-top: 0;
}

.stats_container {
  border: 1px solid #aaa;
  width: 400px;
}

.stats_container h3 {
  color: white;
  background-color: #aaa;
  padding: 10px;
}

#daterange {
  padding: 10px;
}

#daterange div { 
  width: 130px;
}

.subhead {
  color: #707070;
  font-weight: bold;
}

.subhead .bordered {
  border-top: 1px solid #aaa
  border-bottom: 1px solid #aaa
}

.comment {
  font-weight: normal;
  font-style: italic;
  padding-left: 3px;
}

#enddate {
  position: relative;
  top: -44px;
  left: 150px;

#enddate, #startdate {
 float: left;
 margin-right: 20px;
}

#submit {
  position: relative;
  top: -64px;
  left: 300px;
}

.input_container {
  border: 1px solid black;
  background-color: white;
}

input {
  border: none;
  margin: 0 5px;
}

table {
  width: 95%;
  margin: -54px 10px 0 10px;
}

th {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #aaa;
  border-width: 1px;
}

