<div class='wing'>

<h2>My Pages</h2>
<ul class='side_list'>
  <li class='small_icon dashboard_icon'><a href='#'>Dashboard</a></li>
  <li class='small_icon inbox_icon'><a href='#'>Incoming</a></li>
  <li class='small_icon watch_icon'><a href='#'>Watching for Updates</a></li>
  <li class='small_icon create_icon'><a href='#'>Create Page</a></li>
</ul>

<h2>Tasks</h2>
<ul class='side_list'>
  <li class='small_icon task_completed_icon'><a href='#'>Completed</a></li>
  <li class='small_icon task_pending_icon'><a href='#'>Pending</a></li>
</ul>

<h2>Requests</h2>
<ul class='side_list'>
  <li class='small_icon to_me_icon'><a href='#'>To Me</a></li>
  <li class='small_icon from_me_icon'><a href='#'>From Me</a></li>
</ul>

<h2>Options</h2>
<ul class='side_list'>
  <li class='small_icon settings_icon'><a href='#'>My Settings</a></li>
  <li class='small_icon public_profile_icon'><a href='#'>Public Profile</a></li>
  <li class='small_icon private_profile_icon'><a href='#'>Private Profile</a></li>
</ul>

</div>

