<div id="group_description">
	
	<div id="description_content1">
		<h3 class="title3">Welcome, myusername</h3>
		<p class="txt_group_description">This group is for developers and active testers of Crabgrass. Conversations and informations regarding programming issues, phrase considerations, bug testing, tool description, etc all take place here. Join the fun!</p>
		<p class="morecontent1"><a href="#">More About Group</a></p>
	</div>
	
	
	
</div>