<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th class="header1">star</td>
    <th class="header2">title</td>
    <th class="rightheader">last updated </td>
  </tr>
  <tr>


    <td class="date" colspan="3"><h3>today</h3></td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star_outline.png"></td>
    <td class="data2"><img src="/images/png/16/tasks.png">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="#">Daniel</a><br /><em class="status">new</em> &bull; 10:02 am </td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Praesent sapien cras non pede </td>
    <td class="rightdata"><a href="#">Daniel</a><br /><em class="status">new</em> &bull; 3:45pm </td>
<tr>
	<td class="right">
	    <div class="status">
	      <h3 class="dim">Set your Current Status</h3>
	      <a class="status_photo" href="#"><img alt="" src="#" /></a>
	      <div class="status_editor">
	        <div class="status_body"></div>
	        <div class="status_composer"></div>
	      </div>

	     <h3 class="dim">Recent wall posts</h3>
	       ................... . ..... . .. . . . . . . . . . 
	  </td>  
</tr>

  <tr>
    <td class="date" colspan="4"><h3>yesterday</h3></td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="#">Daniel</a><br /><em class="status">new</em> &bull; Wednesday </td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Praesent sapien cras non pede</td>
    <td class="rightdata"><a href="#">Elijah</a><br />updated &bull; Wednesday</td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="">Elijah<br /></a>updated &bull; &bull; Wednesday</td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Praesent sapien cras non pede</td>
    <td class="rightdata"><a href="">Elijah<br /></a><br />updated &bull; Wednesday</td>
  </tr>
  <tr>
    <td class="data1"><img src="/images/png/16/star.png"></td>
    <td class="data2"><img src="/images/png/16/discussions.png">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="">Elijah<br /></a><br />updated &bull; Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Praesent sapien cras non pede</td>
    <td class="rightdata"><a href="">Elijah<br /></a><br />updated &bull; Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="#">Daniel</a><br />updated &bull;  Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Praesent sapien cras non pede</td>
    <td class="rightdata"><a href="#">Daniel</a><br />updated &bull;  Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="#">Daniel</a><br />updated &bull;  Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Praesent sapien cras non pede</td>
    <td class="rightdata"><a href="">Elijah<br /></a><br />updated &bull;  Wednesday</td>
  </tr>
  <tr>
    <td class="data1">&nbsp;</td>
    <td class="data2">Crabgrass vs ThePoint</td>
    <td class="rightdata"><a href="">Elijah<br /></a><br />created &bull;  Wednesday</td>
  </tr>
</table>