<a href="" class="contribute round"><span class="small_icon plus_16"><%= I18n.t(:contribute_content_link) %></span></a>

<ul class='side_list'>
  <li class="small_icon home_16"><a href='#'>Dashboard</a></li>
  <li class='small_icon archive_16'><a href='#'>Inbox</a></li>
  <li class='small_icon info_16'><a href='#'>Requests</a></li>
  <li class='small_icon page_tasks_16'><a href='#'>Tasks</a></li>
</ul>

<hr class="thick" />

<h2 class="alert">My World</h2>


<div class="dash_box">
  <h3 class="dim">
    Networks
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>


<div class="dash_box">
  <h3 class="dim">
     Groups
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="https://we.riseup.net/avatars/118/small.jpg"></a><span class="round">All About Crabgrass</span></li>
    <li>
      <a href="#" style="display:block"><img src="https://we.riseup.net/avatars/1061/small.jpg"></a>
      <span class="round">UNICEF crabgrass development</span>
    </li>
  </ul>
  <br class='clear' />
</div>


<div class="dash_box">
  <h3 class="dim">
    Commmittes
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>



<div class="dash_box">
  <h3 class="dim">
     Friends
     <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
  </h3>
  <ul class="icon_boxes">
    <li>
       <a href="#"><img src="https://we.riseup.net/avatars/804/small.jpg"></a>
       <div><span class="round">elijah</span></div>
    </li>
    <li>
      <a href="#" style="display:block"><img src="https://we.riseup.net/avatars/1188/small.jpg"></a>
      <div><span class="round">abie</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/35/small.jpg"></a>
      <div><span class="round">daniel</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/53/small.jpg"></a>
      <div><span class="round">sunbird</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/120/small.jpg"></a>
      <div><span class="round">mlc</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/1366/small.jpg"></a>
      <div><span class="round">gaba</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/165/small.jpg"></a>
      <div><span class="round">brianr</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/176/small.jpg"></a>
      <div><span class="round">suqzi</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/238/small.jpg"></a>
      <div><span class="round">yossarian</span></div>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/280/small.jpg"></a>
      <div><span class="round">mikel</span></div>
    </li>
  </ul>
  <br class='clear' />
</div>

