<h2 class="small_icon plus_16"><a href='#'>Contribute</a></h2>
<ul class='side_list'>
  <li class="small_icon home_16"><a href='#'>Dashboard</a></li>
  <li class='small_icon archive_16'><a href='#'>Inbox</a></li>
  <li class='small_icon info_16'><a href='#'>Requests</a></li>
  <li class='small_icon page_tasks_16'><a href='#'>Tasks</a></li>
</ul>

<hr class="thick" />

<h2 class="alert">My World</h2>

<div class="dash_box">
  <h3 class="dim">
     Friends
     <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
  </h3>
  <ul class="icon_boxes">
    <li><a href="/orange"><img src="/avatars/0/small.jpg"></a><span class="round">Orange! (orange)</span></li>
    <li>
      <a href="/purple" style="display:block"><img src="/avatars/0/small.jpg"></a>
      <span class="round">Purple! (purple)</span>
    </li>
    <li>
      <a href="/yellow"><img src="/avatars/0/small.jpg"></a>
      <span class="round">Yellow! (yellow)</span>
    </li>
    <li>
      <a href="/red"><img src="/avatars/0/small.jpg"></a>
      <span class="round">Red! (red)</span>
    </li>
    <li>
      <a href="/green"><img src="/avatars/0/small.jpg"></a>
      <span class="round">Green! (green)</span>
    </li>
  </ul>
  <br class='clear' />
</div>
		
<div class="dash_box">
  <h3 class="dim">
    Committees
    <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>
	
<div class="dash_box">
  <h3 class="dim">
    Networks
    <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>
