
<h2 class="small_icon plus_16"><a href='#'>Contribute</a></h2>

  <ul class='side_list'>
    <li class="small_icon home_16"><a href='#'>Dashboard</a></li>
    <li class='small_icon archive_16'><a href='#'>Inbox</a></li>
    <li class='small_icon info_16'><a href='#'>Requests</a></li>
    <li class='small_icon page_tasks_16'><a href='#'>Tasks</a></li>

  </ul>

<h2 class="title2">My World</h2>
 <h4 class="world_subtitle">Networks</h4>
      
  <ul class='side_list people'>
      
    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/804/medium.jpg);"><span>elijah</span></a></li>
    
    <li><a href="/felix" class="name_link" style="background-image: url(https://we.riseup.net/avatars/0/medium.jpg);"><span>felix</span></a></li> 

  </ul>


<h4 class="world_subtitle">Groups</h4>

  <ul class='side_list people'>

    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/1107/medium.jpg);"><span>merrick</span></a></li>

    <li><a href="/felix" class="name_link" style="background-image: url(https://we.riseup.net/avatars/0/medium.jpg);"><span>felix</span></a></li>

    <li><a href="/msutton" class="name_link" style="background-image: url(https://we.riseup.net/avatars/636/medium.jpg);"><span>Maira</span></a></li>

    <li><a href="/suqzi" class="name_link" style="background-image: url(https://we.riseup.net/avatars/176/medium.jpg);"><span>suqzi</span></a></li>

  </ul>


<h4 class="world_subtitle">Committes</h4>

  <ul class='side_list people'>

    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/804/medium.jpg);"><span>elijah</span></a></li>

    <li><a href="/felix" class="name_link" style="background-image: url(https://we.riseup.net/avatars/0/medium.jpg);"><span>felix</span></a></li>

  </ul>


<h4 class="world_subtitle">Friends</h4><a class='more' href="#">See all</a>

  <ul class='side_list people'>

    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/804/medium.jpg);"><span>elijah</span></a></li>

    <li><a href="/felix" class="name_link" style="background-image: url(https://we.riseup.net/avatars/0/medium.jpg);"><span>felix</span></a></li>

    <li><a href="/msutton" class="name_link" style="background-image: url(https://we.riseup.net/avatars/636/medium.jpg);"><span>Maira</span></a></li>

    <li><a href="/suqzi" class="name_link" style="background-image: url(https://we.riseup.net/avatars/176/medium.jpg);"><span>suqzi</span></a></li>

    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/804/medium.jpg);"><span>elijah</span></a></li>

    <li><a href="/elijah" class="name_link" style="background-image: url(https://we.riseup.net/avatars/1107/medium.jpg);"><span>merrick</span></a></li>

    <li><a href="/felix" class="name_link" style="background-image: url(https://we.riseup.net/avatars/0/medium.jpg);"><span>felix</span></a></li>

    <li><a href="/msutton" class="name_link" style="background-image: url(https://we.riseup.net/avatars/636/medium.jpg);"><span>Maira</span></a></li>

    <li><a href="/suqzi" class="name_link" style="background-image: url(https://we.riseup.net/avatars/176/medium.jpg);"><span>suqzi</span></a></li>

  </ul>









