
<h2><a href='#'><img src="/images/actions/contribute.png" /></a></h2>

  <ul class='side_list'>
    <li class="small_icon home_16"><a href='#'>Home</a></li>
    <li class='small_icon info_16'><a href='#'>About</a></li>
    <li class='small_icon archive_16'><a href='#'>Archive</a></li>
    <li class='small_icon tags_16'><a href='#'>Tags</a></li>
    <li class='small_icon tasks_16'><a href='#'>Tasks</a></li>
    <li class='small_icon discussions_16'><a href='#'>Discussions</a></li>
  </ul>

<h2 class="title2">My World</h2>
<a href='#'><img class="thumb" src="/plugin_assets/design_tester/images/thumbnails/photo1.jpg" /></a>
<h4 class="small_icon images_16">Gallery Title</h4><p class="legend">(28 images)</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3>Tags</h3>
<div class='tags'>
  <ul>
    <li><a href="#">red</a></li>
    <li><a href="#">travel</a></li>
    <li><a href="#">community</a></li>
    <li><a href="#">social</a></li>
    <li><a href="#">polaroid</a></li>
    <li><a href="#">blackandwhite</a></li>
  </ul>
</div>


<h2 class="title2">Popular right now</h2>
<h4 class="small_icon discussions_16">Discussion Title</h4><span class="legend">(35 posts)</span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3>Tags</h3>
<div class='tags'>
  <ul>
    <li><a href="#">red</a></li>
    <li><a href="#">travel</a></li>
    <li><a href="#">community</a></li>
    <li><a href="#">social</a></li>
    <li><a href="#">polaroid</a></li>
    <li><a href="#">blackandwhite</a></li>
  </ul>
</div>


<a href='#'><img class="thumb" src="/plugin_assets/design_tester/images/thumbnails/photo1.jpg" /></a>
<h4 class="small_icon images_16">Gallery Title</h4><span class="legend">(28 images)</span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<h3>Tags</h3>
<div class='tags'>
  <ul>
    <li><a href="#">red</a></li>
    <li><a href="#">travel</a></li>
    <li><a href="#">community</a></li>
    <li><a href="#">social</a></li>
    <li><a href="#">polaroid</a></li>
    <li><a href="#">blackandwhite</a></li>
  </ul>
</div>



