<%= render :partial => 'design/group_home/announcements' %>

<div class="page_list">
  <div>
    <h2 class="title2">Recent group activity</h2><span><a href="#">more</a></span>
  </div>

  <ul class="table_menu">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Top Rated</a></li>
    <li><a href="#">Highest Contributors</a></li>
  </ul>

  <div class="activity">
    <%= render :partial => 'design/group_home/page_list' %>
  </div>
	
</div>
