<div class='landing'>
  <div class='section'>
    <%= render :partial => 'design/group_home/announcements' %>
  </div>
  <div class='section'>
    <h2 class="bright">Recent contributions <span>&bull; <a href="#">more &raquo;</a></span></h2>
    <div class='page_scroll'>
      <%= render :partial => 'design/group_home/page_list' %>
    </div>
  </div>
</div>
