<div class="announcement">
  <h4 class="title4">Notable and popular</h4><p class="more2"><a href="#">See all</a></p>
  
  <div class="announcement_box">

    <div class="announcement_1">
      <h4  class="small_icon tiny_pending_16">Announcement title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="announcement_2">
      <img class="thumb2" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg" alt="announcement" />
      <h4>Discussion in two lines</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>

    <div class="announcement_3">
      <h4>Holygrail Bugs</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

    </div>

  </div>

</div>

<div id="page_list">

  <div>
    <h2 class="title2">Recent group activity</h2><span><a href="#">more</a></span>
  </div>

  <ul class="table_menu">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Top Rated</a></li>
    <li><a href="#">Highest Contributors</a></li>
  </ul>

  <div class="activity">
    <%= render :partial => 'design/group_home/page_list' %>
  </div>
	
</div>


<div id="mainsection2">
	<div>
		<h2 class="title2">group wiki</h2>
	</div>
	
	<div class="box1">
	<h3 class="title3">What is a Group Wiki?</h3>
	<p class="description">A group wiki can be anything you want! It can be a table of contents, an organization tool, pellentesque non leo id erat commodo, or ulla facilisis viverra leo. This is a group effort. 
	Help make it better by editing and adding to it.</p>
	</div>
	
</div>