<div class='landing'>
<h1>My Dashboard</h1>

<table class="info_box">
<tr>
  <td class="left">
    <h2 class='dim'>
     Recent Friend Activity
    </h2>
    <div class='activities'>
      <ul class='plain'>
        <li class="small_icon user_add_16"><a href="#"><span class="user">pietro</span></a> and <a href="#>"<span class="user">greenchange </span></a>are now friends.</li>

        <li class="small_icon status_online_16"><a href="#"><span class="user">sunbird</span></a> is currentlly collecting.</li>

        <li class="small_icon star_16"><a href="#"><span class="user">mkhandekar </span></a>added photos.</li>
      </ul>
    </div>

      <div class="photos_activities">
		 <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
		 <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
		 <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
		 <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
	  </div>
	
	<div class='activities'>
	<ul class='plain'>
        <li class="small_icon star_16"><a href="#"><span class="user">benced</span></a> has starred your post <a href="#"><span class="user">Holy Grail bis and issues</span></a>.</li>

       <li class="small_icon user_add_16"><a href="#"><span class="user">pietro</span></a> and <a href="#>"<span class="user">greenchange </span></a>are now friends.</li>

        <li class="small_icon status_online_16"><a href="#"><span class="user">sunbird</span></a> is currentlly collecting.</li>

        <li class="small_icon star_16"><a href="#"><span class="user">mkhandekar </span></a>added photos.</li>

      </ul>
  </td>
  <td class="right">
    <div class="status">
      <h3 class="dim">Set your Current Status</h3>
      <a class="status_photo" href="#"><img alt="" src="https://we.riseup.net/avatars/804/small.jpg" /></a>
      <div class="status_editor">
        <div class="status_body"></div>
        <div class="status_composer">
		<div class='round'>
		<input type="text" value="" name="" placeholder="What are you doing right now?"/>	
		</div></div>
      </div>
      
<hr class="thin" />

   <h3 class="dim">Recent wall posts</h3>
    
	<div class="recent_wall_posts">

	  <blockquote>
	    <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
	    <p class="small_icon open_quote_16">
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
	      <br /><a class='more' href="#">margo</a> &bull; 10:45pm
	    </p>
	  </blockquote>

	  <blockquote>
	    <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
	    <p class="small_icon open_quote_16">
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
	      <br /><a class='more' href="#">margo</a> &bull; 10:45pm
	    </p>
	  </blockquote>

	  <blockquote>
	    <img class="left framed" src="/plugin_assets/design_tester/images/thumbnails/announcement.jpg"/>
	    <p class="small_icon open_quote_16">
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
	      <br /><a class='more' href="#">margo</a> &bull; 10:45pm
	    </p>
	  </blockquote>
	  
	</div>



  </td>
</tr>
</table>

</div> <!-- end landing -->
