%br
%h2.alert Moderation
%div.side_list
  %ul
    = menu 'Page Moderation', pages_path, :class=>"small_icon mime_default_16"
    = menu 'Comment Moderation', admin_discussion_posts_path, :class=>"small_icon comment_16"
    = menu 'Chat Moderation', admin_chat_messages_path, :class=>"small_icon chat_16"
