common: &COMMON
  encoding: utf8
  adapter: mysql
  username: root
  password: 
  host: localhost
#  socket: /var/run/mysqld/mysqld.sock


development:
  <<: *COMMON
  database: crabgrass_development

test: &TEST
  <<: *COMMON
  database: crabgrass_test

production:
  <<: *COMMON
  database: crabgrass

cucumber:
  <<: *TEST

culerity_development:
  <<: *TEST
