development:
  encoding: utf8
  adapter: mysql
  database: crabgrass_development
  username: root
  password: 
  host: localhost

test:
  encoding: utf8
  adapter: mysql
  database: crabgrass_test
  username: root
  password: 
  host: localhost

production:
  encoding: utf8
  adapter: mysql
  database: crabgrass
  username: root
  password: 
  host: localhost
