development:
  encoding: utf8
  adapter: mysql
  database: crabgrass_development
  user: root
  pass: 
  host: localhost

test:
  encoding: utf8
  adapter: mysql
  database: crabgrass_test
  user: root
  pass: 
  host: localhost

production:
  encoding: utf8
  adapter: mysql
  database: crabgrass
  user: root
  pass: 
  host: localhost
