<%# 
  # This partial displays the list of recipients that is generated when you 
  # are in the process of adding recipients to a page. 
  # 
  # arguments:
  # empty_box -- boolean. If true, then hide the current participants
  #
  # %>
<% empty_box = false if empty_box.nil? %>
<table><tbody class="autocomplete_results_table" id="share_page_recipient_table">
<% if !empty_box %>
  <% if @page && @page.recipients.any? -%>
    <% @page.recipients.each do |recipient, access| %>
    <%= render :partial => 'base_page/share/recipient',
        :locals => {:recipient => recipient, :access => access.to_s, :unsaved => false} %>
    <% end -%>
  <% end -%> 
<% end %>
</tbody></table>

