<% 
   # locals to take:
   contributors ||= []
 -%>
 
<table class="tool">
 <tr>
   <td style="width:50%;">Groups</td><td>Users <%= check_box(:check_all,'users') + label_tag('check_all_users',"check all"[:check_all])%></td>
 </tr>
 <tr>
 
 <%= render :partial => 'notify_possible_contributors_groups', :locals => {:groups => groups} %>
 <%= render :partial => 'notify_possible_contributors_users', :locals => {:contributors => contributors} %>
</tr>
</table>
