<%- form_url = {:controller => 'base_page/share', :action => 'notify', :page_id => @page.id} -%>

<% popup("Send Notification"[:notify_page_link], :id => 'notify_popup', :width => '40em') do -%>
  <% form_remote_tag(
    :url => form_url,
    :loading => show_spinner('popup'),
    :html => {:id => 'notify_page_form'}) do -%>

    <blockquote>
      <div id='share_error_message'></div>
      <%= render :partial => 'base_page/share/notify_form' %>
    </blockquote>

    <div class='buttons'>
      <%= spinner 'popup' %> &nbsp;
      <%= submit_tag "Cancel"[:cancel_button], :name => 'cancel' %> &nbsp;
      <%= submit_tag "Send Notification"[:notify_page_link], :name => 'notify' %>
    </div>
  <% end -%>

<% end -%>

