<td style="width:70%;">
    <% if contributors.any? -%>
      <% contributors.each do |group,conts| %>
	<ul class='side_list names' style=" height:120px; background-color:white; overflow:auto;">
	<% conts.each do |cont| %>
	  <li style="margin-left:12px;" ><%= participator_checkbox_line(cont) %></li>
	<% end %>
	</ul>
      <% end -%>
    <% end -%>
</td>
