<% type = 'send' if type.nil? -%>
<% notify = true if notify.nil? -%>

<div class='share_page'>
  <h2 class="first"><%= I18n.t(:share_page_recipients, :page_class => I18n.t(:page)) %></h2>

  <div id='share_error_message'></div>

  <%= render :partial => 'base_page/share/add_recipient_widget' %>

  <% if notify %>
    <h2><%= I18n.t(:notify_page_link) %></h2>
    <table class='notify'>
      <%= render :partial => 'base_page/share/notification_message_form' %>
    </table>
  <% end %>

</div>

