<% type = 'send' if type.nil? -%>

<div class='share_page'>
  <h2><%= 'Share this page with:'[:share_page_recipients, page_class] %></h2>

  <%= render :partial => 'add_recipient_widget' %>

  <h2><%= 'Notify'[:notify] %></h2>
  <table class='notify'>
    <%= render :partial => 'notification_message_form' %>
  </table>
</div>

