<%- form_url = {:controller => 'base_page/share', :action => 'update', :page_id => @page.id} -%>
  <% form_remote_tag(
    :url => form_url,
    :loading => show_spinner('popup'),
    :html => {:id => 'share_page_form'}) do -%>

    <%= render :partial => 'base_page/share/share_form' %>

    <div class='buttons'>
      <%= spinner 'popup' %> &nbsp;
      <%= submit_tag "Cancel"[:cancel_button], :name => 'cancel' %> &nbsp;
      <%= submit_tag "Share"[:share_button], :name => 'share' %>
    </div>
  <% end -%>
