<%- form_url = {:controller => 'base_page/share', :action => 'update', :page_id => @page.id} -%>
<% popup('Share Page'[:share_page_link] % {:page_class => page_class.titlecase}, :id => 'share_popup', :width => '40em') do -%>
  <% form_remote_tag(
    :url => form_url,
    :loading => show_spinner('popup'),
    :html => {:id => 'share_page_form'}) do -%>

    <blockquote>
      <%= render :partial => 'base_page/share/share_form' %>
    </blockquote>

    <div class='buttons'>
      <%= spinner 'popup' %> &nbsp;
      <%= submit_tag "Cancel"[:cancel_button], :name => 'cancel' %> &nbsp;
      <%= submit_tag "Share"[:share_button], :name => 'share' %>
    </div>
  <% end -%>
<% end -%>
