<div id='share_with_everyone_div'>
<table>
  <tr class="everyone">
    <td> <%= check_box_tag 'share_with_everyone', 'share_with_everyone', check_box_options[:checked],
    check_box_options %> </td>
    <td style="width:100%">
      All Users on the <%= Site.name %> Site
    </td>
    <td>
      <%- if may_select_access_participation? -%>
        <%= select_page_access 'share_with_everyone_access', access_options %>
      <%- end -%>
    </td>
    <td>
      <%= link_to_icon('spacer', '', :id => 'spinner_id', :class => 'small_icon_button') %>
    </td>
  </tr>
</table>
</div>
