.info
  This is the Admin Link Widget. It shows links to the different admin sections if you are an admin.
.info
  There are no options to set for the Admin Widget.
%div#mb-footer
  = close_modal_button
