// MASTHEAD
// BANNER
// TITLE_BOX
// INFO_BOX
// CONTENT_BOX
// LEFT_COLUMN
// RIGHT_COLUMN
// FOOTER
// ERROR

body
  font-family= !body_text_font_family
  color= !body_fg_color
  background-color= !footer_bg_color

h1
  font-family= !headline_font_family
  font-size= !h1_font_size
  line-height: 1em
h2, h3, h4, h5
  font-family= !body_text_font_family
  line-height: 1em
h2
  font-size= !h2_font_size
  line-height= !h2_font_size
h3
  font-size= !h3_font_size
  line-height= !h2_font_size

div#wrapper
  padding= !outer_margin
  background= !body_bg_color !body_bg_image "repeat-x"
  overflow: auto

//
// MASTHEAD
//

div#masthead
  margin: 0
  background= !masthead_background
  h1#site_title
    margin: 0
    padding: 0.5em
    display= !masthead_display
  img#site_logo
    margin: 0
    padding: 0
    display: block
  #site_logo_wrapper
    display= !masthead_display

//
// TOP_MENU
//

form.login_dialog
  dl
    margin: 0
  dd
    margin: 0
    margin-bottom: 1em
  dt
    font-weight: bold
  input[type=text], input[type=password]
    width: 99%
  input[type=submit]
    font-size: 1.1em
    float: right

div#top_menu
  background-color= !menu_bg_color
  padding-left: 1em
  border-width= !banner_border_width "0"
  border-style: solid
  border-color= !banner_border_color
  div.account_links
    float: right
    color: #646360
    padding= !menu_item_padding
    a
      color= !menu_fg_color
      margin: 0 0.5em

  ul
    margin: 0
    padding: 0
    list-style: none
    width: auto

  // the menus
  li.menu
    float: left
    margin: 0
    position: relative
    &:last-child span.topnav a
      border-right: 1px solid
      border-color= !menu_border_color
    //&:hover
    //  background= !menu_item_active_fg_color
    //  color= !menu_item_active_background

  // the active menus
  li.menu.active
    padding-bottom= !menu_item_active_bump_height
    margin-bottom= -!menu_item_active_bump_height
    background= !menu_item_active_bump "no-repeat 50% 100%"
    &:hover
      padding-bottom: 0
      margin-bottom: 0
      background: none transparent

  // the menu names
  li.menu span.topnav
    border: 0
    a
      display: block
      font-weight: 400
      border-left: 1px solid
      border-color= !menu_border_color
      color= !menu_fg_color
      padding= !menu_item_padding
      text-transform: capitalize
      &.active
        color= !menu_item_active_fg_color
        background= !menu_item_active_background

  // sub menu items
  div.menu_items
    position: absolute
    top: 2.4em
    left: 0
    background= !menu_item_active_fg_color
    padding: 0.75em 0.5em 0.5em
    border-width: 1px 2px 2px 1px
    border-color= !menu_border_color
    border-style: solid
    z-index: 99
    h3
      margin: 0 0 0.5em 4px
      .see_all
        font-size: smaller
        font-variant: small-caps
    ul
      border: 0 none transparent
      width: auto
      position: static
    li
      float: none
      //margin-bottom: 1em !important
      &.active
        background=!menu_item_active_background
    a
      border: 0px none transparent
      color= !link_color

    // for name icon links, draw a colored border when hover
    // for this to work, we need to increase the padding from the default.
    // in this case, an extra 5px
    a.name_icon
      display: block
      border: 1px solid white
      background-position: 4px 50%
      padding: 12px 5px 12px 45px
      &.two
        padding-top: 5px
        padding-bottom: 5px
      &:hover
        background-color: #ffc
        border: 1px solid #cc9

    div.leftcol
      float: left
      width: 17em
      &.menu_me
        padding: 0em 1em
    div.rightcol
      width: 17em
      margin-left: 19em

  #menu_me
    div.leftcol
      width: 12em
    div.rightcol
      width: 23em
      margin-left: 13em
      border-left: 1px dotted #ccc
      padding-left: 1em
    ul.recent_pages li
      margin-top: 0.5em
    h3
      margin: 0

    //ul.side_list a
    //  padding: 4px 0
    //ul.recent_pages a
    //  padding: 4px 0

//  ul.groups_dashboard ul.networks_dashboard ul.people_dashboard
//    //li.leftcol
//      //width: 50%
//    //li.rightcol
//      //margin-left: 12em
//    li.name_icon
//      padding: 4px 0 4px 36px
//      min-height: 36px
//  //    ul.networks_dashboard*/
//  //      width: 15em*/
//    li.name_icon
//      padding: 4px 0 4px 36px
//      min-height: 36px


//
// BANNER
//

#banner
  clear: both
  padding= !banner_padding
  background= !banner_background
  color= !banner_fg_color
  border-color= !banner_border_color
  border-width= "0 0" !banner_border_width "0"
  border-style: solid
  img
    border: 1px solid white
    vertical-align: middle
    &.avatar
      margin-right: 1em
  h1, h2, h3
    padding: 0
    margin: 0
  h2
    font-size: 1.5em
  a
    color= !banner_fg_color

//
// TITLE_BOX
//

.title_box
  background-color= !title_box_bg_color
  border-bottom= "1px solid" !title_box_border_color
  padding: 1em
  &.tabs
    padding: 0
    overflow: hidden
    border-bottom: 0
    h1
      margin: 0.5em
  ul.tabset.top a.active
    background-color= !info_box_bg_color
  .summary
    color: #555
  h1
    color= !title_box_heading_color
    margin: 0
    span
      margin-left: 3em
  .breadcrumb
    padding-bottom: 0.25em
    a
      text-transform: capitalize

//
// INFO_BOX
//

.info_box
  padding: 1em
  background-color= !info_box_bg_color
  border-bottom= "1px solid" !title_box_border_color
  table.columns
    width: 100%
  td
    vertical-align: top
    &.right
      padding-left: 1em
      //border-left: 1px dotted #ccc
      width: 50%
    &.left
      width: 50%
  .status h3
    margin: 0.5em 0
  &.tabs
    padding: 1em 0 0 0
    overflow: hidden
    border-bottom: 0

.info_box .description,
.inset_box .description
  // color: #738899
  color: #697D8C
  font-family: georgia, times
  font-style: italic
  font-size: 1.1em
  line-height: 1.6em
  letter-spacing: 1px
  word-spacing: 2px

//
// INSET BOX
//

.inset_box
  background: #eee url(/images/background/fade-light.png) repeat-x
  margin-bottom: 1em
  padding: 1em
  border: 1px solid #ccc
  h3
    margin-top: 1em
    margin-bottom: 0
  td
    padding: 0 1em 1em 0
    vertical-align: top


//
// CONTENT_BOX
//

.content_box
  background: #fff none repeat scroll 0 0
  padding: 1em

//
// LEFT_COLUMN
//

.left_column ul.icon_boxes
  width: 17em

//
// RIGHT_COLUMN
//

// see page.sass

//
// FOOTER
//

#footer
  border-top= !footer_border
  color= !footer_fg_color
  a
    color= !footer_fg_color
  div.content
    padding= !outer_margin
  div.left
    float: left
    width: 45%
    padding: 0 2em
  div.right
    float: left
    width: 45%
  div.language_menu
    float: right


#message
  div.big_notice
    padding: 0 4em 1.5em 4em

