@import common.sass

div
  &.page_search_form
    text-align: center
    line-height: 2.5em
    margin-bottom: 1em
  &.buttons
    margin-top: 1em
    padding-top: 1em
    border-top: 1px solid #ccc
    text-align: center

//
// PAGE LIST
//

.page_list
  background: white
  table
    width: 100%
    color: #979797
    border-collapse: collapse
  td
    padding: 0.25em
    border-bottom: 1px solid #ccc
    background-color: white
    &.last
      text-align: right
    &.date
      background: #FFF4E8
      color: #F28367
      text-transform: capitalize
      font-weight: bold
  th
    text-transform: uppercase
    border-bottom: 1px solid #ccc
    border-top: 2px solid #ccc
    padding: 0.75em
    padding-left: 0.5em
    text-align: left
    font-size: 0.8em
    color: #C2C2C2
    &.last
      text-align: right
    &.selected
      background-color: #eee
  //a
  //  color= !page_list_link_color
  span
    &.status
      color: red
    &.star
      color: #EBBA20
      font-weight: bold

.page_scroll
  height: 40em
  overflow: auto
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  clear: left
  padding-top: none

.filter_menu
  display: none

.section div.round
  background: #fff url(/images/ui/down-arrow.png) no-repeat right
  height: 26px
  line-height: 26px
  text-align: center
  border: 1px solid #E1E1E1
  width: 140px
  font-weight: normal

//
// SHARE PAGE WIDGET
//

table.share_page_recipients
  border: 1px solid #ccc
  border-collapse: collapse
  th
    width: 10em
    font-size: 0.85em
    line-height: 1.4em
    font-weight: bold
    text-align: left
    padding: 0.5em
    background: #ddd
  td
    vertical-align: top
    border: 1px solid #ccc
    padding: 0
    background: #fff
  div.scroll
    overflow: auto
    height: 20em
    width: 13em
    padding: 0.5em
    font-size: 0.8em
  ul
    margin: 0
    padding: 0
    li
      padding: 0.25em 0

//
// PAGE CREATION
//

.create_page
  .left
    display: inline
    float: left
    table
      margin-top: 1em
      td.label
        text-align: right
        color: #999
        font-weight: bold
        padding-right: 1em
  .right
    display: inline
    float: left
    padding-left: 2em
  input[type=text], textarea
    width: 23em
    font-family: serif
    font-size: 1em
  .share_page
    h2
      color: #999
      font-size: 1em
      margin: 1em 0
    ul
      list-style: none

//
// PAGE SIDEBAR
//

#page_sidebar
  padding-top: 1em
  h3
    color= !right_column_fg_color
    border: 1px solid
    border-color: #eee #ccc #ccc #eee
    background: #e9e9e9
    text-transform: uppercase
    font-size: 0.8em
    padding: 0.25em 0 0.25em .5em
    margin: 2.5em 0 0.5em 0
    -moz-border-radius: 4px
  ul.rule
    border-top: 1px dotted #999
    padding-top: 1em   
  //a
  //  color= !right_column_link_color


