<%= settings_tabs %>
<% video = @profile.video || ExternalVideo.new %>

<% form_tag(groups_profiles_params(:action => :edit), :multipart => true) do %>
  <%= Formy.form do |f|
    f.heading "Information"[:information]
    f.row do |r|
      r.label "Summary"[:summary]
      r.input text_area('profile', 'summary', :rows => 5, :cols => 40)
    end
    if @profile.summary_html.any?
      f.row do |r|
        r.label "%s (%s)" % ["Summary"[:summary], "Preview"[:preview]]
        r.input @profile.summary_html
      end
    end
    f.row do |r|
      r.label "Location"[:location]
      r.input text_field('profile', 'place')
    end
    f.heading "Photo"[:photo]
    if @profile.photo
      f.row do |r|
        r.input [thumbnail_img_tag(@profile.photo, :medium), submit_tag("Clear", :name => 'clear_photo')].join('<br/>')
      end
    else
      f.row do |r|
        r.label "File"[:file]
        r.input file_field_tag('profile[photo][uploaded_data]')
      end
      f.row do |r|
        r.label "Caption"[:caption]
        r.input text_field_tag('profile[photo][caption]', '')
      end
      f.row do |r|
        r.label "Photo Credit"[:photo_credit]
        r.input text_field_tag('profile[photo][credit]', '')
      end      
    end
    f.heading "Video"[:media_video]
    if video.media_embed.any?
      f.row do |r|
        r.input [display_media(@profile.video), submit_tag("Clear", :name => 'clear_video')].join('<br/>')
        f.info "Embed code from external video source"[:video_embed_code_prompt] + ' ' + "Currently supported: youtube, blip.tv, google video, vimeo."[:current_video_sources]

      end
    end
    f.row do |r|
      r.label "Embed"[:video_embed]
      r.input text_area_tag('profile[video][media_embed]', video.media_embed, :rows => 3, :cols => 40)
    end
    f.row do |r|
      r.label "Height"[:height]
      r.input text_field_tag('profile[video][height]', video.height)
    end
    f.row do |r|
      r.label "Width"[:width]
      r.input text_field_tag('profile[video][width]', video.width)
    end      
  end %>
  <p class="form_buttons"><%= submit_tag "Save"[:save_button], :name => 'save' %></p>
<% end %>

