<%= settings_tabs %>

<% form_tag(groups_profiles_params(:action => :permissions), :multipart => false) do %>

  <%= Formy.form do |f|
    f.row do |r|
      r.label 'Visibility'[:visibility]
      r.checkboxes do |list|
        list.checkbox do |cb|
          cb.label 'Make {group} Publicly Visible'[:group_publicly_visible, {:group => @group.group_type}]
          cb.input check_box(:profile, :may_see, :onclick => 'setClassVisibility(".details", this.checked)')
          cb.info "Group appears in public directory and group <i>profile</i> is viewable by non-members at {domain}/yourgroupname."[:group_publicly_visible_description, {:domain => current_site.domain}]
        end
        if @group.parent_id.nil?
          list.checkbox(:class => 'details', :hide => !@profile.may_see?) do |cb|
		        cb.label 'Make Committees Publicly Visible'[:committee_publicly_visible]
		        cb.input check_box(:profile, :may_see_committees, :onclick => '')
            cb.info "Committees are viewable by non-members at {domain}/yourgroupname"[:committee_publicly_visible_description, {:domain => current_site.domain}]
		      end
  		  end
        list.checkbox(:class => 'details', :hide => !@profile.may_see?) do |cb|
          cb.label "Make Members Publicly Visible"[:group_members_publicly_visible]
          cb.input check_box(:profile, :may_see_members, :onclick => '')
          cb.info "Members are viewable by non-members at {domain}/yourgroupname. Also, the name of the group will be listed on each members profile page ({domain}/username)"[
                :group_members_publicly_visible_description, current_site.domain, current_site.domain]
        end
      end
    end
    f.row do |r|
      r.label "Membership"[:membership]
      r.checkboxes do |cbs|
        cbs.checkbox do |cb|
          cb.label "Allow Membership Requests"[:allow_membership_requests]
          cb.input check_box(:profile, :may_request_membership, :onclick => '')
          cb.info 'A "join group" link will appear on your group page. This will send a request for membership to your group that can be accepted or rejected.'[:may_request_membership_description]
        end
        cbs.checkbox do |cb|
          cb.label "Open Group"[:open_group]
          cb.input check_box(:profile, :membership_policy, {:onclick => ''}, Profile::MEMBERSHIP_POLICY[:open], Profile::MEMBERSHIP_POLICY[:approval])
          cb.info 'Users are immediately added to the group - request don\'t have to be approved'[:open_group_description]
        end
      end

    end
    if may_create_council?
      f.row do |r|
        r.label "Administration"[:administration]
        if @group.council_id
          r.input link_to_group(@group.council, :avatar => :small)
        else
          r.input link_to("Create a new {thing}"[:create_a_new_thing, 'Council'[:council].downcase], councils_url(:action => 'new'))
        end
        r.info help('council')
      end
    end
  end %>

  <p class="form_buttons"><%= submit_tag "Save"[:save_button], :name => 'save' %></p>

<% end %>

