<%= settings_tabs %>

<h1><%= '%s Privacy Settings'[:group_privacy_settings] % @group.group_type %></h1>

<% form_tag(groups_profiles_params(:action => :privacy), :multipart => false) do %>

  <%= Formy.form do |f|

    f.row do |r|
      r.checkbox do |cb|
        cb.label 'Make %s Publicly Visible'[:group_publicly_visible] % @group.group_type
        cb.input check_box(:profile, :may_see, :onclick => 'setClassVisibility(".details", this.checked)')
      end
      r.info "Group appears in public directory and group <i>profile</i> is viewable by non-members at %s/yourgroupname."[:group_publicly_visible_description] % current_site.domain
    end

    if !@group.committee?
		  f.row(:class => 'details') do |r|
		    r.checkbox do |cb|
		      cb.label 'Make Committees Publicly Visible'[:committee_publicly_visible]
		      cb.input check_box(:profile, :may_see_committees, :onclick => '')
		    end
		    r.info "Committees are viewable by non-members at %s/yourgroupname"[:committee_publicly_visible_description] % current_site.domain
		  end
    end

    f.row(:class => 'details') do |r|
      r.checkbox do |cb|
        cb.label "Make Members Publicly Visible"[:group_members_publicly_visible]
        cb.input check_box(:profile, :may_see_members, :onclick => '')
      end
      r.info "Members are viewable by non-members at %s/yourgroupname. Also, the name of the group will be listed on each members profile page (%s/username)"[:group_members_publicly_visible_description] % [current_site.domain, current_site.domain]
    end

    f.row(:class => 'details') do |r|
      r.checkbox do |cb|
        cb.label "Allow Membership Requests"[:allow_membership_requests]
        cb.input check_box(:profile, :may_request_membership, :onclick => '')
      end
      r.info 'A "join group" link will appear on your group page. This will send a request for membership to your group that can be accepted or rejected.'
    end

  end %>
  <p><%= submit_tag "Save", :name => 'save' %></p>

<% end %>

