.col1
  - if widget.link
    = link_to widget.link do
      %img.left{:src => widget.image}/
      %br/
      %h3.blue=h translated_title(widget)
  -else
    %img.left{:src => widget.image}/
    %br/
    %h3.blue=h translated_title(widget)
