<% @title_box = content_tag :h1, I18n.t(:trash) %>
<% @info_box = I18n.t(:trash_description,
          :undelete => content_tag(:b, I18n.t(:undelete_from_trash)),
          :destroy => content_tag(:b, I18n.t(:destroy_page_via_shred))) %>

<%= render :partial => 'pages/search', :locals => {:users => @user.friends, :groups => @user.groups, :url => url_for(:action => 'search')} %><br/>

<br/>

<% form_tag({:controller => 'me/trash', :action => 'update', :path => params[:path]}, {:id => 'trash_form'}) do -%>
  <%= render :partial => 'pages/list', :locals => {:heading => true} %>
  <p><%= link_line(
    link_to_function(I18n.t(:toggle_selection), "$$('.page_check').each(function(cb) {cb.checked = !cb.checked})"),
    submit_link(I18n.t(:undelete_from_trash), :name => 'undelete'),
    submit_link(I18n.t(:destroy_page_via_shred), :name => 'remove', :confirm => I18n.t(:destroy_confirmation, :thing => I18n.t(:page)))
  ) %></p>
<% end %>
