<ul class="side_list names">
  <%- @recipients.each_with_index do |recipient, i| -%>
    <li class="<%= 'selected' if i == 0 %>" >
      <%= display_entity(recipient, :avatar => :xsmall, :format => :both, :block => true) %>
    </li>
  <%- end -%>
</ul>

