<% content_for :style do -%>
table.members td {padding: 12px;}
<% end -%>

<%= render :partial => 'members_tabs', :locals => {:group => @group } -%>

<% if may_update_group? -%>
  <%= render :partial => 'admin' %>
<% end -%>
<% if may_create_memberships? -%>
  <%= render :partial => 'committee' %>
<% end -%>
