<%= render :partial => '/groups/admin_header' %>

<% content_for :style do -%>
table.members td {padding: 12px;}
<% end -%>

<% content_for :left_sidebar do %>
  <%= render :partial => 'members_sidelinks', :locals => {:group => @group } -%>
<% end %>

<div>

<% if @federatings.any? %>
  <table class='members pretty'>
  <tr>
    <th>Group</th>
    <th>Joined</th>
  </tr>
  <%= render :partial => 'federating', :collection => @federatings %>
  </table>
<% end -%>

</div>

