- content_for :style do
  table.members td {padding: 12px;}

- content_for :third_nav do
  = render :partial => '/groups/navigation/admin_tabs'

- content_for :left_sidebar do
  = render :partial => 'members_sidelinks', :locals => {:group => @group }
= render :partial => 'members_list'

