- content_for :script do
  document.observe('dom:loaded', function() {
  = create_wiki_toolbar(@wiki)
  });

.fieldset
  = text_area_tag 'wiki[body]', (h(@wiki.body) if load_content), :rows => 30, :cols => 64, :id => wiki_body_id(@wiki)

= dom_loaded_javascript_tag(confirm_discarding_wiki_edit_text_area)
= formatting_reference_link
