<% content_for :html_head do -%>
  <% javascript_tag do -%>
    _editor_url  = "/javascripts/wiki/xinha/"
    _editor_lang = "en";
    _editor_skin = "silva";
  <% end -%>
<% end -%>

<% content_for :script do -%>
  xinha_init = function() {
    xinha_editors = ["<%= wiki_body_html_id(@wiki)%>"];
    xinha_plugins = ["CharacterMap","ContextMenu","SmartReplace","Stylist","Linker","SuperClean","TableOperations"];
    if(!Xinha.loadPlugins(xinha_plugins,xinha_init)) {
      return;
    }
    xinha_config = new Xinha.Config();
    xinha_config.pageStyleSheets = [_editor_url+"examples/full_example.css"];
    xinha_config.height = "450px"
    xinha_editors = Xinha.makeEditors(xinha_editors,xinha_config,xinha_plugins);
    Xinha.startEditors(xinha_editors);
  };
  Xinha.addOnloadHandler(xinha_init);
<% end -%>

<div class="html_editor_wrapper">
  <textarea name="wiki[body_html]" id="<%= wiki_body_html_id(@wiki)%>" style=""></textarea>
</div>
