- content_for(:html_head) do
  = group_search_rss

- content_for :right_sidebar do
  = render :partial => 'groups/search/tags'

- content_for :third_nav do
  = render :partial => 'groups/navigation/group_pages_tabs'

%div.right
  = drop_down("View:", group_pages_view_options, group_pages_view_selected)
