<% @title_box = content_tag :h1, I18n.t(:trash) %>
<% @info_box = I18n.t(:trash_description,
        :undelete => content_tag(:b, I18n.t(:undelete_from_trash)),
        :destroy => content_tag(:b, I18n.t(:delete_page_via_shared))) %>

<% content_for(:html_head) do %>
  <%= group_search_rss %>
<% end %>

<%= render :partial => 'pages/search', :locals => {:users => @visible_users} %>

<% form_tag({:controller => 'group', :action => 'update_trash', :path => params[:path], :id => @group}, {:id => 'trash_form'}) do -%>

  <%= render :partial => 'pages/list', :locals => {:heading => true} %>

  <p><%= link_line(
    link_to_function(I18n.t(:toggle_selection), "$$('.page_check').each(function(cb) {cb.checked = !cb.checked})"),
    submit_link(I18n.t(:undelete_from_trash), :name => 'undelete'),
    submit_link(I18n.t(:delete_page_via_shared), :name => 'remove', :confirm => I18n.t(:destroy_confirmation, :thing => I18n.t(:page)))
  ) %></p>

<% end  -%>
