<div class='group_entry'>
  <table><tr><td>
  <%= link_to avatar_for(group, 'medium'),
              :controller => 'chat', :action => 'channel', :id => group.name -%>
  </td><td>
  <%= link_to "#{group.display_name} #{num_active_in_channel group.id}",
              :controller => 'chat', :action => 'channel', :id => group.name -%>
  </td></tr>
  <tr>
  <td></td>
  <td>
    <% group.committees.each do |committee| %>
      <% if current_user && current_user.member_of?(committee) %>
        <%= link_to avatar_for(committee, 'small'),
                    :controller => 'chat', :action => 'channel', :id => group.name -%>
        <%= link_to "#{committee.display_name}  #{num_active_in_channel committee.id}",
	            :controller => 'chat', :action => 'channel', :id => group.name -%>
        <br style='clear:left' />
      <% end %>  
    <% end %>
  </td></tr>  
  </table>
  <br style='clear:left' />
</div>
