<% if @groups.any?%>
  <% for group in @groups %>
    <div style='float: left; text-align: center; margin: 1em;'>
      <%= link_to "#{avatar_for group, 'small'}<br/>#{group.name} #{num_active_in_channel group.id}",
                  :controller => 'chat', :action => 'channel', :id => group.name %>
    </div>
  <% end %>
<% else %>
  <%= :you_are_not_member_of_any_group.t %>
<% end %>

<br style="clear:both"/>
