<table><tr>
  <td style='width: 1%'><%= avatar_for @user,'medium' %></td>
  <td style='width: 1%' align='left' nowrap="nowrap"><h1><%= link_to_user @user %></h1></td>
  <td>
  </td>
  <td align='right' nowrap='nowrap'>
    <form action="/me/search/" class="minisearch" method="post">
      <fieldset>
        <input class="minisearch_text" id="search_text" name="search[text]" size="15" type="text" value="" />  
        <input class="minisearch_submit" name="commit" onclick="" type="submit" value="search" /> 
      </fieldset>
    </form>
  </td>
</tr></table>

