<p><a hre="#">UNICEF and Crabgrass links.</a></p>

<ul class="foot_menu">
  <li><a hre="#">get involved</a> &bull; </li>
  <li><a hre="#">bugs</a> &bull; </li>
  <li><a hre="#">feature request</a> &bull; </li>
  <li><a hre="#">help</a></li>
</ul>

