<div class='left'><a hre="#">Crabgrass links</a></div>
<div class='right'><a hre="#">get involved</a> &bull; <a hre="#">bugs</a> &bull; <a hre="#">feature request</a> &bull; <a hre="#">help</a></div>

