<table><tr>
  <td style='width: 1%'><%= avatar_for current_user,'medium'%></td>
  <td style='width: 1%' align='left' nowrap="nowrap"><h1><%= link_to_user current_user %></h1></td>
  <td align='right' nowrap='nowrap'>
    <%= mini_search_form %>
  </td>
</tr></table>
