<table>
 <tr>
  <td style='width: 1%'><%= avatar_for @user,'small'%></td>
  <td align='left'><h3><%=h @user.login %></h3></td>
  <td align='right'>
    <%= render :partial => 'me/boxes' %>
  </td>
 </tr>
</table>
