<div class='tabinfo'>
Search through all pages you have access to.
</div>

<%= render :partial => 'pages/search', :locals => {:users => @user.contacts, :groups => @user.groups} %>

<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>


