<div class='tabinfo'>
Search through all viewable pages.
</div>

<%= render :partial => 'pages/list/table', :locals => {:heading => true,
   :columns => [:icon, :title, :group, :updated_by, :updated_at, :contributors]}
%>


