<%= render :partial => 'tabs' %>

<div class='tabinfo'>
All my pending tasks.
<%= create_page_link 'create new task list &raquo;',
  'page_type' => 'Tool::TaskList', 'page[title]' => 'new task list' %>
</div>

<%= render :partial => 'people/tasks' %>
