<% content_for :style do  %>
div.wikiedit {
  margin: -0.5em;
  text-align: right;
}
<% end %>

<div class='greybox'>
  <%= @wiki.body_html %>
  <div class='wikiedit'>
   <%= link_to 'edit', page_url(@page,:action=>'edit') %>
   <%= link_to 'versions', page_url(@page,:action=>'versions') %>
  </div>
</div>

