.pw_meter {
  height: 1em;
  width: 100%;
  border: 1px solid #ccc;
/*  background= !box1_bg_color */
}

#pw_bar {
  height: 1em;
}
.pw_bar_25 {
  background: #f00;
  width: 25%;
}
.pw_bar_50 {
  background: #ff0;
  width: 50%;
}
.pw_bar_75 {
  background: #0ff;
  width: 75%;
}
.pw_bar_100 {
  background: #0f0;
  width: 100%;
}
