= form.text_field :label, :size => 65
%input{ :size => "53", :type => "text", :value => their_answer_goes_here, :disabled => "disabled" }
%span.small_icon.mime_image_16
  Image
%input{ :type => "button", :value => "Browse...", :disabled => "disabled" }
