/* General styles */
body {
  border:0;    /* This removes the border around the viewport in old versions of IE */
  width:100%;
  min-width:600px;  /* Minimum width of layout - remove line if not required */
                    /* The min-width property does not work in old versions of Internet Explorer */
}

/* column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
  clear:both;
  float:left;
  width:100%;    /* width of whole page */
  overflow:hidden; /* This chops off any overhanging divs */
}
/* Footer styles */
#footer {
  clear:both;
  float:left;
  width:100%;
}

