
/* 2 column right menu settings */
.rightmenu{

}
.rightmenu {
  background:#cfc;
}
.rightmenu .colleft {
  float:right;
  width:200%;
  position:relative;
  right:12em;
  background:#fff;
}
.rightmenu .col1wrap {
  float:right;
  width:50%;
  position:relative;
	right:12em;
	padding-bottom:1em;
}
.rightmenu .col1 {
  margin:0 1em 0 13em;
  position:relative;
  right:100%;
  overflow:hidden;
}
.rightmenu .col2 {
  float:right;
  width:10em;
  position:relative;
  right:11em;
}

