/* 2 column right menu settings */
.rightmenu .colleft {
  float:left;
  width:200%;
  margin-left:-12em;
  position:relative;
  right:100%;
}
.rightmenu .col1wrap {
  float:left;
  width:50%;
  position:relative;
  left:50%;
  padding-bottom:1em;
}
.rightmenu .col1 {
  margin:0pt 0pt 0pt 13.2em;
  overflow:hidden;
/*  background:#fff;*/
}
.rightmenu .col2 {
  float:right;
  width:10em;
  position:relative;
  left:11em;
}

