<style>
div {
  margin: 4em;
  background: white;
  border: 1px solid #999;
  padding: 2em 4em;
}
body {background: #eee;}
h1 {color: #999;}
</style>

<div>
<h1>File Not Found</h1>

<blockquote>
The file you are looking for does not exist. It might have been deleted or moved. Or, maybe, it was eaten by Cookie Monster. 
</blockquote>
</div>
