<%- if featured_item.respond_to?(:cover) && !featured_item.cover.nil? -%>
<%=
link_to(thumbnail_img_tag(featured_item.cover, :medium, {:crop => "200x200"}, {:class => "thumb"}),
  page_url(featured_item))
%>
<%- end -%>
<h4 class="small_icon <%= featured_item.icon %>_16"><%= link_to(featured_item.title, page_url(featured_item)) %></h4>
<p><%= featured_item.summary %></p>
<hr style="clear:both; " class="thin" />
