  <%#
  ### ANNOUNCEMENTS
  #%>

  <%- if @announcements.any? %>
  <div class='section'>
    <%= render :partial => 'announcement_page/list'  %>
  </div>
  <%- end -%>

  <% sections = ['section1','section2','section3','section4'] %>
  <% sections.each do |section| %>
    <% if @group.layout(section) %>  
      <div class='section'>
          <%= show_section(section) %>
      </div>
    <% end %>
  <% end %>

  <%= call_hook :group_show_bottom %>
