<%- if group_member? -%>
   <%= link_to "<span class='small_icon plus_16'>#{"Contribute"[:contribute_content_link]}</span>", {:controller => '/pages', :action => 'create', :group => @group.name}, :class => "contribute round" %>
<%- end -%>

<%= render :partial => 'group/side_navigation' %>

