<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h title_from_context %></title>
</head>
<body>

<h1><%=h title_from_context %></h1>

<%
for list in @task_lists
  next unless list
  @page = list.page
  tasks = list.tasks

    tasks = list.tasks.select do |t|
      t.completed? == false
    end

  next unless tasks.any?
  tasks = tasks.sort_by { |t| [(t.completed? ? 1 : 0), t.position]}
-%>
  <ul><b><% @page.title %></b> <%= @page.group_name if @page.group_name %></ul>
  <ul>
    <%= render :partial => 'task_list_page/task', :collection => tasks, :locals => {:sortable => false} %>
  </ul>
<% end -%>


</body>
</html>
