<% @title_box = content_tag :h1, 'search' %>
<% content_for :html_head do %>
  <link rel="alternate" href="<%= url_for group_search_url(*current_rss_path) %>" title="<%= "RSS Feed"[:rss_feed] %>" type="application/rss+xml" />
<% end %>

<p><%= render :partial => 'pages/search', :locals => {:users => @group.users} %></p>

<div class='pretty'>
<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>
</div>

