<%- @title_box = capture do -%>
  <h1><%= "{group_type} Home"[:group_home_headline, {:group_type => group_type.capitalize}] %></h1>
<%- end -%>

<%- @info_box = capture do -%>
 <%= render :partial => 'group/info_box' %>
<%- end -%>

<% content_for :html_head do %>
  <link rel="alternate" href="/group/search/<%= @group.name %>/rss" title="<%= "RSS Feed"[:rss_feed] %>" type="application/rss+xml" />
<% end %>

<div class='landing'>
<%= render :partial => 'landing_content' %>
</div>