<% @title_box = content_tag :h1, 'tags' %>

<p><%= render :partial => 'tags' %></p>

<div>
  <% if @pages.any? %>
    <%= render :partial => 'pages/list', :locals => {:heading => false} %>
  <% end %>
</div>

