<% @title_box = content_tag :h1, 'tags' %>

<p><%= render :partial => 'tags' %></p>

<div>
  <% if @pages %>
    <%= render :partial => 'pages/list', :locals => {:heading => false} %>
  <% else %>
    <%= "Pages for selected tags will be displayed here." %>
  <% end %>
</div>

