<% @title_box = content_tag :h1, 'tasks'.t %>
<span style="position:absolute; right: 10px; top: 40px;"><%= link_to "print", "?print=1" %></span>
  
<div>
  <b><%= "pending tasks."[:pending_tasks] %></b>
  <%= link_to ("create a new :thing"[:create_a_new_thing] % {:thing => 'task list'.t}) + ARROW, create_page_url(TaskListPage, :group_id => @group.id) if logged_in? && current_user.member_of?( @group )%>
</div>

<p>
<%= render :partial => 'tasks/list' %>
</p>


