<% @title_box = content_tag :h1, 'Tasks'[:tasks] %>
<!-- <span style="position:absolute; right: 10px; top: 40px;"><%= link_to "print", "?print=1" %></span> -->

<% @info_box = capture do %>
<div>
  <b><%= "pending tasks."[:pending_tasks] %></b>
  <%= link_to("create a new :thing"[:create_a_new_thing, "Task List"[:task_list]].downcase + ARROW, create_page_url(TaskListPage, :group => @group.name)) if may_create_group_page? %>
</div>
<% end %>

<p>
<%= render :partial => 'tasks/list' %>
</p>

