<% @title_box = content_tag :h1, 'tasks'.t %>

<div>
  <b><%= "pending tasks."[:pending_tasks] %></b>
  <%= link_to :create_a_new_something.t % {:something => 'task list'.t}, create_page_url(TaskListPage, :group_id => @group.id) %>
</div>

<p>
<%= render :partial => 'tasks/list' %>
</p>


