      <ul id ="attendies" >
	<% for a in @attendies -%>
	<li><%= "<b>" if a.user_id == @current_user.id -%><%= User.find(a.user_id).display_name -%><%= "</b>" if a.user_id == @current_user.id -%></li>
    <% end -%>
    </ul>
