    <ul id ="watchers" >
	<% @watchers.each do |w| %>
	<li><%= "<b>" if w.user_id == @current_user.id -%><%=  User.find(w.user_id).display_name  -%><%= "</b>" if w.user_id == @current_user.id -%></li>
    <% end %>
    </ul>
