- group = @parent || @group
%ul
  = menu(I18n.t(:people), {:controller => 'groups', :action => 'people', :id => group}) 
  - if group.network?
    = menu(I18n.t(:groups), {:controller => 'groups', :action => 'list_groups', :id => group})
