%br
%h2.alert Stats 
%div.side_list
  %ul
    = menu 'Page Info', '/admin/stats/pages', :class=>"small_icon mime_default_16"
    = menu 'Users and Groups', '/admin/stats/people', :class=>"small_icon user_16"
