<%#
  # this partial display a grid of little avatar boxes. 
  # arguments: groups, people, side
  # This markup and css may seem odd, but it works in all browsers.
-%>
<%
  ul_class = '' if ul_class.nil?
  entities = [] if entities.nil?
  half = entities.size/2.to_int
  left_col = entities.slice!(0, half)
  right_col = entities
%>
<ul class='<%= ul_class %> selfclear submenu' style="display: none;">
  <li class='leftcol'>
    <ul>
      <%= render :partial => 'avatars/dropdown_entity', :collection => left_col %>
    </ul>
  </li>
  <li class='rightcol'>
    <ul>
      <%= render :partial => 'avatars/dropdown_entity', :collection => right_col %>
    </ul>
  </li>
</ul>

