<%#
  # this partial display a grid of little avatar boxes. 
  # arguments: groups, people, side
  # This markup and css may seem odd, but it works in all browsers.
-%>
<%
  ul_class = '' if ul_class.nil?
  entities = [] if entities.nil?
  if entities.size > 3
    half = entities.size/2.round
    right_col = entities.slice!(-half, half)
    left_col = entities
  else
    left_col = entities
    right_col = []
  end
%>
<ul class='<%= ul_class %> selfclear submenu' style="display: none;">
  <li class='leftcol'>
    <ul>
      <%= render :partial => 'avatars/dropdown_entity', :collection => left_col %>
    </ul>
  </li>
  <% if not right_col.empty? -%>
    <li class='rightcol'>
      <ul>
        <%= render :partial => 'avatars/dropdown_entity', :collection => right_col %>
      </ul>
    </li>
  <% end -%>
</ul>

