- if conditions && collection.any?
  - cache(group_cache_key(@group, :what => what, :expires_in => hours(CACHING_ENTITIES_IN_HOURS))) do
    %h5
      = I18n.t(i18n_title)
    %ul{:id => what}
      = render :partial => '/avatars/entity', :collection => collection
