%nav#tabs
  %ul
    %li
      %a{:href => "#{edit_me_url}"}=  I18n.t(:user_preferences)
    %li
      %a{:href => "#{url_for(:controller => '/profile', :action => 'edit', :id => 'public')}"}= I18n.t(:public_profile)
    %li
      %a{:href => "#{url_for(:controller => '/profile', :action => 'edit', :id => 'private')}"}= I18n.t(:private_profile)
