%ul
  = menu(I18n.t(:user_preferences), edit_me_path)
  = menu(I18n.t(:public_profile), url_for(:controller => '/profile', :action => 'edit', :id => 'public'))
  = menu(I18n.t(:private_profile), url_for(:controller => '/profile', :action => 'edit', :id => 'private'))
