#add_questions_links_bar
  margin: 1em
  margin-bottom: 2em
  .label
    color= !add_new_item_color
  span.link_background
    background-color= !box1_bg_color
    padding: 0.5em

#respond_to_questions_container
  .question
    padding: 1em

.survey_questions_container
  .question_label
    font-weight: bold
  .question
    background-color= !draggable_item_bg_color
    border= !draggable_item_border
    width: 48em
//    height: 5em
    margin: 1em
  .delete_question
    float: right
    padding-top: 0.2em
    padding-right: 0.5em
  .question
    .drag_to_move
      color= !draggable_item_bg_label_color
      float: left
      margin-left: 13.5em
      background-position: 0 100%
      padding-top: 0.3em
    .fields
      margin-left: 1.5em
      margin-top: 2em
      margin-bottom: 0.5em
      textarea, input
        margin-bottom: 1em
//      input
//        border: 1px grey solid
//        height: 1.5em
    .caption
      float: left
      margin-left: 1.5em
      margin-top: 0.5em
      margin-bottom: 0.5em
  input.submit
    margin-left: 26em
  input.fake_select
    margin-left: 0px
    margin-right: 1em
  
