-# compatibility with old menu bar
- if @top_widgets.any?
  - content_for :misc_header do
    - for widget in @top_widgets
      = render_widget widget

.wrapper2-plus
  - for widget in @main_widgets
    = render_widget widget

.wrapper1
  - for widget in @sidebar_widgets
    = render_widget widget
  %ul.clear
    -[configure_site_network_link, configure_site_link, configure_site_appearance_link].compact.each do |link|
      %li=link
