%tr
  %td.post-author
    %a{:href => "#"}
      %img.right{:src=> avatar_url_for(post.user, 'small')}
    = call_hook :author_info, {:post => post}
    = link_to_user post.user
    
    %span= created_modified_date(post.created_at, post.updated_at)
    
  %td
    = render :partial => 'posts/post_body', :locals => {:post => post}
  %td
    

