- dir_controller = (@active_tab == :groups) ? 'groups/directory' : 'networks/directory'

%ul
  = menu((I18n.t(:discover)).upcase, {:controller=> dir_controller, :action=>'recent'})
  = menu((I18n.t(:browse)).upcase, {:controller => dir_controller, :action => 'search'})

