<%= link_to '&laquo;&nbsp;'+'Back'[:back], users_path %>

<h2>Editing user</h2>

<% form_for(@user, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <tr>
    <td colspan="2">
      <%= f.submit "Update" %>
    </td>
  </tr>
</table>
<% end %>
