<h1>Create user</h1>

<% form_for(@user, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <tr>
    <td colspan="2">
      <%= f.submit "Create" %>
    </td>
  </tr>
</table>
<% end %>
