      <p>
        <label for="usage_agreement_accepted">
        <%= check_box_tag 'usage_agreement_accepted', "1", params['usage_agreement_accepted'] %>
        <%= "I accept the terms of the usage agreement"[:accept_usage_agreement] %>
        </label>
      </p>  
