<h2><%= "Congratulations! You have signed up for {site_title}."[:congratulations_you_have_signed_up, {:site_title => current_site.title}] %></h2>

<h3><%= "You should receive an email with instructions how to finish creating your account."[:you_should_receive_instructions_email] %></h3>