<p><strong>Welcome</strong></p>

<p>Hi. This is a quick intro for new users. Next time you log in you will land at your dashboard which will be a cold and lonely place until you join groups and make contacts.</p>

<p>So, the best thing to do as a new user is to create a group or join a group. To do so go to the <a href="https://we.riseup.net/groups">group directory</a> and either click &#8220;create a new group&#8221; or click on the group you want to join and find the &#8220;join group&#8221; link.</p>

<p>Once your request is accepted you can upload assets, create task lists, discussions, wikis, polls, and messages to communicate, collaborate, and get things done within the group. Like any new platform you will need to familiarize yourself with the work flow. To help answer question such as whats the difference between the inbox and the dashboard check out the <a href="https://we.riseup.net/crabgrass/table-of-contents">help pages</a>.</p>

<p>Development is driven by user feedback, so please <a href="https://we.riseup.net/users">join</a> the user feed back group and get involved by clicking the <a href="https://we.riseup.net/users/get-involved">Get involved building Crabgrass!</a> link at the bottom over every page.</p>
