<div class='request greybox'>

<h2><%= @request.name %></h2>

<% if @page.resolved? and @request.vote %>
<div>
   This request was <b><%= @request.vote.value == 1 ? 'approved' : 'rejected' %></b>
   by <b><%= @request.vote.user.login %></b>
   on <%= @request.vote.created_at %>
</div>
<% else %>
  <%= button_to 'approve', page_url(@page, :action => 'approve') %>
  <%= button_to 'reject', page_url(@page, :action => 'reject') %>
<% end  %>

</div>