<div class='request greybox'>

<h2><%= @request.name %></h2>

<% if @page.resolved? and @request.vote %>
<div>
   This request was <b><%= @request.vote.value == 1 ? 'approved' : 'rejected' %></b>
   by <b><%= @request.vote.user.login %></b>
   on <%= @request.vote.created_at %>
</div>
<% else %>
  <%= post_button 'approve', :action => 'approve', :id => @page %>
  <%= post_button 'reject', :action => 'reject', :id => @page %>
<% end  %>

</div>