<% @title_box = capture do -%>
  <h1><%=h I18n.t(:send_contacts_title, :user => @user.display_name) %></h1>
<% end -%>

<blockquote>
  <p><%= I18n.t(:add_contact_info) %></p>
  <%- form_tag(:controller => 'contact', :action => 'add', :id => @user) do -%>
    <%= submit_tag I18n.t(:send_contact_button), :name => 'send' %>
    <%= submit_tag I18n.t(:cancel), :name => 'cancel' %>
  <% end -%>
</blockquote>

