<% @title_box = capture do -%>
  <h1><%=h I18n.t(:remove_contact, :user => @user.display_name) %></h1>
<% end -%>

<blockquote>
  <p><%= I18n.t(:remove_contact_info) %></p>
  <%- form_tag(:controller => 'contact', :action => 'remove', :id => @user) do -%>
    <%= submit_tag I18n.t(:remove_contact_button), :name => 'remove' %>
    <%= submit_tag I18n.t(:cancel), :name => 'cancel' %>
  <% end -%>
</blockquote>

