/* modify the holygrail margins and padding for the three columns */

/* main column, left or right layout. left margin = space for sidebar */
.leftmenu .col1, .rightmenu .col1 {
  margin: 1.5em 1.5em 1.5em 14.5em;
}

/* main column, three column layout */
.holygrail .col1 {
  margin: 1.5em 11em;
}

/* 1 column */
.fullpage .col1 {
  margin:1.5em;
}


/* 2 col left sidebar */

.leftmenu .col2 {
  width:13em; /* sidebar_width */
  right:10.5em; /* distance between left edge of sidebar and left edge of main column */
  padding-top: 3.5em;
}

.leftmenu .colright {
  left:12em; /* left edge of the main column */
}

/* 2 col right sidebar */

.rightmenu .col2 {
  width:13em; /* sidebar width */
  left:11.5em;  /* distance from right edge of sidebar to right edge of main column */
  padding-top: 3.5em;
}

.rightmenu .colleft {
  margin-left:-13em; /* right edge of main column, relative to the right side of container */
}

/* 3 col sidebars */

.holygrail .col2, .holygrail .col3 {
  padding-top: 3.5em;
}


