body {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif;
  color: #000000;
  background-color: #777777; }

h1 {
  font-family: arial, helvetica, sans-serif;
  font-size: 2.1em; }

h2, h3, h4, h5 {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif; }

h2 {
  font-size: 1.125em; }

h3 {
  font-size: 1em; }

div#wrapper {
  padding: 1.5em;
  background-color: #e3e3e3;
  overflow: hidden; }

div#masthead {
  margin: 0;
  background: #ffffff; }
  div#masthead h1#site_title {
    margin: 0;
    padding: 0.5em;
    display: none; }

div#top_menu {
  background-color: #333333;
  padding-left: 1em; }
  div#top_menu div.account_links {
    float: right;
    color: #646360;
    padding: 0.5em 1em; }
    div#top_menu div.account_links a {
      color: #E1E2E2;
      margin: 0 0.5em; }
    div#top_menu div.account_links div#login_popup {
      position: absolute;
      right: 2em;
      border: 5px solid #666;
      height: 2em;
      width: 30em;
      background: #333;
      padding: 1em;
      color: white; }
      div#top_menu div.account_links div#login_popup input {
        width: 5em;
        border: 1px solid white; }
  div#top_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto; }
    div#top_menu ul li {
      float: left;
      padding: 0;
      margin: 0; }
      div#top_menu ul li.active {
        padding-bottom: 10px;
        margin-bottom: -10px;
        background: url(/images/ui/menu_nub.gif) no-repeat 50% 100%; }
      div#top_menu ul li:first-child a {
        border-left: 1px solid;
        border-color: #000000; }
      div#top_menu ul li span {
        border: 0; }
      div#top_menu ul li a {
        display: block;
        font-weight: 400;
        border-right: 1px solid;
        border-color: #000000;
        color: #cccccc;
        padding: 0.5em 1em;
        text-transform: capitalize; }
        div#top_menu ul li a.active {
          color: #ffffff;
          background: #000000; }

#banner {
  clear: both;
  padding: 1em;
  background: #115599;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px 0;
  border-style: solid; }
  #banner img {
    border: 1px solid white;
    vertical-align: middle; }
    #banner img.avatar {
      margin-right: 1em; }
  #banner h1, #banner h3 {
    padding: 0;
    margin: 0; }
  #banner a {
    color: white; }

form.minisearch {
  float: right;
  text-align: right;
  color: #000000; }
  form.minisearch fieldset {
    float: right;
    padding: 2px;
    border: 1px solid #000;
    background-color: #eeeeee; }
  form.minisearch .minisearch_text {
    background-color: #eeeeee;
    border: none;
    color: #000000;
    width: 13em; }
  form.minisearch .minisearch_submit {
    display: inline;
    border: 0;
    background: url(/images/gif/16/magnifier.gif) no-repeat 0% 50%;
    vertical-align: middle;
    padding-left: 16px;
    color: #000000; }

.title_box {
  background-color: #e6f2ff;
  border-bottom: 1px solid #d0e3f7;
  padding: 1em; }
  .title_box .summary {
    color: #555; }
  .title_box .title_box_edit_link {
    display: none;
    position: absolute;
    top: 0;
    right: 0; }
  .title_box h1 {
    color: #666699;
    padding: 0.25em 0; }
    .title_box h1 span {
      margin-left: 3em; }
  .title_box .breadcrumb {
    padding-bottom: 0.25em; }
    .title_box .breadcrumb a {
      text-transform: capitalize; }

.content_box {
  background: #fff none repeat scroll 0 0;
  padding: 1em; }
  .content_box .bottom_shim {
    display: none;
    clear: both;
    height: 8px;
    overflow: hidden;
    background-color: #e1f2fa;
    border: 1px solid #e1e1e1;
    border-top: none; }
    .content_box .bottom_shim.hg-left, .content_box .bottom_shim.hg-right {
      width: 100%; }

.left_column ul.icon_boxes {
  width: 17em; }

#footer {
  border-top: 1px solid #666;
  color: #ffffff; }
  #footer a {
    color: #ffffff; }
  #footer .content div {
    padding: 1em; }
    #footer .content div.left {
      float: left; }
    #footer .content div.right {
      float: right; }

#message div.notice {
  padding: 0 4em 1.5em 4em; }
  #message div.notice h2 {
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    background-color: #ccc;
    border-bottom: 1px solid #999; }
    #message div.notice h2 img {
      vertical-align: middle; }
  #message div.notice p, #message div.notice li {
    color: black;
    margin-left: 2em; }
#message div.error {
  border: 2px solid red;
  color: #900;
  background-color: #fafafa; }
#message div.info {
  border: 2px solid green;
  color: #090;
  background-color: #fafafa; }
#message div.update {
  border: 2px solid blue;
  color: #009;
  background-color: #fafafa; }

div.fieldWithErrors {
  border: 2px solid red;
  display: table-cell; }
  div.fieldWithErrors + div.fieldWithErrors {
    display: none; }
