/** 
 **  FONTS
 **/ 

body {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #222;
  background: #EFECEB;
}
h1, h2, h3, h4 {
  font-family: arial, helvetica, sans-serif;
}
h1 {font-size: 2.2em;} /* ~ 28px */
h2 {font-size: 1.5em;} /* ~ 18px */
h3 {font-size: 1.2em;} /* ~ 15px */

/** 
 **  LAYOUT
 **/ 

h1#site_title {
  padding-left:1.6em;
}
#site_title {
  margin:0; padding:0;
  background: #fff;
  height: 2.1em;
  line-height: 1.875em;
}
div#masthead {text-align: left;}

/*BANNER*/

div#banner {
  clear: both;
  margin: 0;
  padding: 0; 
  text-align: left;
  height:5.9375em;
  background:url(/images/background/banner_bg.jpg) repeat-x;
}
div#bannercontent {
  padding: 0px 1.25em;
}
#bannercontent table td{
	padding:0;
	height:70px;
}
#bannercontent table td span a{
	font-weight:300;
	font-size:0.75em;
	color:#DADADA;
}


div#banner img.avatar {
  width: 4em; height: 4em;
  border: 1px solid white;
  margin: 0 7px 0 0;
  vertical-align: middle;

}
div#banner h1, div#banner h3 {
  padding: 0; margin: 0
}
div#banner a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
div#banner a:hover {
  text-decoration: underline;
}

#summary{
  display:none;
}

div#bannercontent h1 a{
  font-family:arial, verdana;
  font-weight:300;
}



/* search form in banner */
div#bannercontent form {
  float:right;
  text-align:right;
  margin-top:20px;  
  color:#E1E1E1;
}
div#bannercontent form fieldset {
  border:1px solid #526568;
  background:#3A464F;
  padding:0px;
  margin:0px;
}

div#bannercontent .search-input { 
  padding:2px; 
  margin:4px 3px 4px 5px;
  background:#3A464F; 
  border:none;
  color:#fff;
  font-size:10px;
  font-weight:normal;
  width:180px;
}

div#bannercontent form fieldset .search-button {
  display:inline;
  margin:5px 5px 2px;
  padding:0px;
  border:0px;
  width:15px;
  height:15px;
  background:url(/images/ui/search/magnifyer.gif) no-repeat;
}

div#bannercontent form a {
  font-size:10px;
  font-weight:normal;
  color:#E1E1E1;
}

/**
 ** CONTENT_BOX
 **/

.content_box {
  background: #fff;
  padding: 1em;
}

/**
 ** LEFT COLUMN LAYOUT
 **/


.colmask{
  width:95%;  /*left + main*/
  border: 1px solid #ccc;
}
.leftmenu {
  background: #FAFDF9; /*LEFT COLUMN*/
  margin-left: 1em;
  margin-top: 1em;
}
.leftmenu .colright {
  float:left;
  left: 19em;
  background:#fff;
  border-left: 1px solid #ccc;
}
.leftmenu .col1wrap {
  float:right;
  /*width:50%;*/
  position:relative;
  right:11.8em;
  padding-bottom:1em;
}
.leftmenu .col1 {
  margin:0 0 0 11.8em;
  position:relative;
  right: 100%;
  overflow:hidden;
}
.leftmenu .col2 {
  float:left;
  width:16.7em;
  position:relative;
  right:18em;
  margin-top: 1em;
}
.colleft {padding-top:0;}

/**
 ** RIGHT COLUMN LAYOUT
 **/

.rightmenu .col1 { 
  background:#DAF0FC none repeat scroll 0% 50%
  border:1px solid #E1E1E1;
  margin-top:1.25em;
}
.rightmenu .col2{
	 margin-top:1.25em;
}
.rightmenu {
  border:none;
}

.rightmenu .col2 p, 
  .rightmenu .col2 h3 {
  margin-left:0px;
}

.rightmenu h3.first { 
  border-top:none; 
  padding-top:auto; 
  margin-top:0px;
}

.rightmenu h3 { 
  border-top:2px solid #fff; 
  padding:15px 0px 5px 0px;
  margin-top:15px;
}

.rightmenu input.check {
  left:0px;
}

.rightmenu ul.side_list li {
  margin:0px;
  height:auto;
}

.rightmenu .col2 ul.people { 
 margin-top:8px;
}

.rightmenu .col2 ul.people li { 
  float:left; 
  margin:0px 5px 5px 0px; 
}

.rightmenu .col2 ul.people li span {
  display:none;
}

.rightmenu .col2 ul.people li {
  border:1px solid #ccc;
  display:block;
  padding:0px;
  width:38px;
  height:38px;
}
.rightmenu ul.side_list li a { 
  text-transform:capitalize;
  padding:4px 0px;
}

.rightmenu ul.side_list li a.name_link { 
  padding:0px;
  margin:0px;
  width:38px;
  height:38px;
  background-position:left top;
}

.rightmenu ul.side_list li a.group_link { 
  padding:10px 0px 10px 40px;
  font-size:12px;
  font-weight:normal;
  background-repeat:no-repeat;
}

.rightmenu ul.side_list li a.group_link span { 
  padding-right:0px;
}

.rightmenu  ul.side_list li.small_icon {
  background-position:left center;
  padding:4px 0px 4px 24px;
}

.rightmenu .tags {
  margin:0px 0px 15px;
}



/************************************* ONE COLUMNS ************************************************/
.fullpage{
	margin:1.25em;
}
.fullpage .col1{
	margin:0;
}





/** 
 **  TITLE BOX
 **/ 

.title_box {
  background: #E1F3FD;
  border-bottom:1px solid #E1E1E1;
}
.title_box h1 {
  color: #718898;
  background-color: #E1F3FD;
  font-weight: 600;
  font-family: arial, verdana;
  font-size:1.6em;
  padding: 0.7em;
}

div.page_title a {
  vertical-align:middle;
  margin-left:20px;
  font-size:10px;
}

.title_box h1 img {
  line-height:200px;
}
.title_box h2 {
  font-family: arial;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0px 0 3px 0;
  padding: 0;
}
.title_box h2 span {
  font-size: 0.8em;
  margin-left: 1em;
}

.title_box .title2{
  padding-right:15px;
  background:url(/images/point.gif) no-repeat right;
}

.title5 {
  font-size:18px;
  color:#679BC7;
  font-weight:600;
}

/* breadcrumb */
.title_box .breadcrumb {
  margin:0;
  padding: 10px 0px 0px 20px;
}

.title_box .breadcrumb, .title_box .breadcrumb a {
  color:#8A8988;
  font-size:10px;
}

.title_box .breadcrumb a {
  text-transform:capitalize;
}
/* breadcrumb */

div.title_box .title_box_edit_link {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

/** 
 **  FOOTER
 **/ 

#footer{
  margin-top:1em;
  border-top:1px solid #E1E1E1;
}
#footer ul{
  list-style:none;
  margin:0;
  padding:0;
}
#footercontent p{
  float:left;
}
#footercontent ul{
  color:#979797;
  float:right;
}
#footercontent ul.foot_menu li{
  float:left;
  padding-right:15px;
}
#footer a{
  font-size:11px;
}

/** 
 **  TOPMENU
 **/ 

#top_menu{
  height:2.75em;  
}
ul#top_menu{
  margin:0;
  background:#263239;  
  list-style:none;
}

ul#top_menu li{
  float:left;
}
ul#top_menu li a{
  line-height:2.75em;
  font-size:0.85em;
}
/* non-active tab */
ul#top_menu li a, ul#top_menu2 li a {
   background: transparent url(/images/bar.jpg) right no-repeat;
   color: #869DA4;
  padding:0 30px;
  font-weight:400;
  text-transform: capitalize;
}
ul#top_menu li a.active, 
ul#top_menu li a.active:hover, 
ul#top_menu2 li a.active, 
ul#top_menu2 li a.active:hover {
  background:none;
  background: transparent url(/images/bar.jpg) right no-repeat;
}

/* active tab */
ul#top_menu li a.active, 
ul#top_menu li a.active:hover,
ul#top_menu2 li a.active, 
ul#top_menu2 li a.active:hover {
font-weight:normal;
background:transparent;
}



/*
span.admin {padding-right: 16px; background: url(images/icons/small_png/tiny_wrench.png) no-repeat 100% 50%}
span.edit {padding-right: 16px; background: url(images/icons/small_png/tiny_pencil.png) no-repeat 100% 50%}
*/








/*DASHBOARD
*/

/*DASHBOARD CSS*/


.col2 h3{
	padding-left:0;
}
.col2 h4.world_subtitle{
	clear:both;
	float:none;
}

.col2 ul.people { 
  margin-top:8px;
 }
.col2 h2.small_icon.plus_16 {
	padding-top:0;
	padding-bottom:0;
	margin-bottom:1em;
	border-top:none;
}
.col2 ul.people li { 
  float:left; 
  margin:0px 5px 5px 0px; 
}
.col2 ul.people li span {
  display:none;
}

.col2 ul.people li {
  border:1px solid #ccc;
  display:block;
  padding:0px;
  width:38px;
  height:38px;

}
.col2 ul.side_list li a { 
  text-transform:capitalize;
  padding:4px 0px;
}

.col2 ul.side_list li a.name_link { 
  padding:0px;
   margin:0px;
  width:38px;
  height:38px;
  background-position:left top;
}

.col2 img.side_list.people{
	margin-bottom:2em;
}

.title_box #mainsection1 .newsfeed{
	width:49%;
  	float:left;
	border:1px solid red;
}
.title_box #mainsection1 .status{
		width:49%;
	display:inline;

}
.title_box #mainsection1 .wall{
	width:49%;

}
