/**
 ** TITLE_BOX
 **/

.title_box h1 em.status {
  font-weight: 100
}

/** 
 **  INFO_BOX
 **/ 

.info_box {
  padding: 1em;
  background-color: #F0F9FE;
  border-bottom: 1px solid #dfe1e0;
}
.info_box table.columns {width: 100%;}
.info_box td {vertical-align: top;}
.info_box td.right {
  padding-left: 1em;
  border-left: 1px dotted #ccc;
  width: 50%;
}
.info_box td.left {width: 50%}

.info_box .description {
  color: #738899;
  font-family: georgia, times;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  line-height: 1.6em;
}
.info_box .status h3 {margin: 0.5em 0;}
/*.info_box h3 {margin-bottom: 0.5em;}*/

.dash_box {
  float: left;
  margin: 0 2em 1.5em 0;
}
.dash_box div.link_line {
  line-height: 0.8em;
}

.activities li, .user_activities {
  color:#666;
  margin:7px 0px;
  padding:3px 0px;
  padding-left:24px;
}

/**
 ** LEFT_COLUMN
 **/

.left_column h2.alert {
  margin: 1em 0;
}

a.contribute {
  float: left;
  display: block;
  background: url("/images/background/contribute_button_left.png") no-repeat;
  font-weight: bold;
  padding-left: 35px;
  color: #52972d;
  
  /* should be 1em, to match the margin-bottom
   * of the following ul.side_list; but the menu
   * items have their own slight padding */
  margin-bottom: 0.8em;
}

a.contribute:hover {
  text-decoration: none;
  color: #52972d;
}

  a.contribute span {
    display: block;
    line-height: 32px;
    padding-right: 16px;
    background: url("/images/background/contribute_button_right.png") no-repeat 100% 0;
  }

.col2 .info{
  	margin-bottom:1em;
}
.col2 .info div{
	margin-bottom:0.8em;
	font-size:0.85em;
	color:#434343;
}
.col2 .info em{
	font-style: normal;
	font-weight:600;
	padding-left:0.7em;
}
.col2 .info .c_icon{

}
/*.xxlarge_avatar{
	margin:0;
	padding:0;
	height:200px;
	width:200px;
	border:1px solid #ccc;
}*/

/** 
 **  CONTENT_BOX > LANDING
 **/ 

/** announcements **/

div.announcements table td {
  vertical-align: top;
  padding: 1em;
  border: 1px dotted #ccc;
}
div.announcements table {
  margin: 0.75em 0;
}

div.section {
  margin-bottom: 2em;
}


/** RECENT PAGES **/
.landing h2.alert {
  padding-bottom: 0.5em; }


/** WIKI **/
.box1 {
  border:1px solid #E1E1E1;
  background:#F0FAFE;
  padding:1em;
  margin:10px 22px 0 22px;
}
.box1 .description{
  padding-top:1em;
}

/** 
 **  FEATURED
 **/ 

.col2 h4{
  float:left;
}
.col2 h4.images_16, .col2 h4.page_discussion_16{
  margin:0;padding:0;
  min-height:17px;
  margin-right:5px;
  margin-left:3px;
  padding-left:25px;
  float:left;
  color:#4784BC;
}

.col2 h4.discussions_16{
  height:17px;
  margin-right:5px;
  margin-left:3px;
  padding-left:25px;
  float:left;
}

.col2 .left_column .tags ul{
	margin-bottom:1em;
}
/*
this messes up other layouts
.col2 p, .col2 h3{
  margin-left:3px;
  clear:both;
}
*/

.col2 p{
  color:#666;
  padding:6px 0 0 0;
  line-height:16px;
  clear:left; 
  font-size:0.85em;
}
.col2 img.thumb{
  margin-bottom:1em;
}

.col2 p.legend{
  color:#999;
  padding:0;
  margin:0;
  font-size:0.750em;
  line-height:16px;
  clear:none;  
  float:left;
}

.col2 .tags ul{
  margin-left:2px;
  list-style:none;
  padding:0;
  width:190px;
}

.col2 .tags ul li a{
  float:left;
  font-size:11px;
  padding-right:10px;
  line-height:20px;
}
div.tags ul {
  width:190px;
}

/**
 ** THE WALL
 **/


.profile-fun {
  width:100%;
  background-color:#EFF9FE;
}
.profile-fun td {
  padding:1.2em;
  vertical-align:top;
}
.profile-fun .profile-wall {
   width:70%;
}
.profile-fun .profile-wall fieldset a {
  float:right;
}

.set_status td {vertical-align: middle; padding: 0.5em;}
.set_status {width: 100%}

.wall_posts {
  clear: both;
  height: 10em;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
}
.wall_posts table td.icon {width: 1%;}
.wall_posts td.date {
  background: #FFF4E8;
  color: #F28367;
  text-transform: capitalize;
  font-weight: bold;
}
.wall_posts td {
  vertical-align: top;
  padding: 0.25em;
  border-bottom: 1px solid #ccc;
}

.landing .activities, .landing .user_activities{
	clear:left;
	float:none;
}
.landing .photos_activities{
	margin-left:1.8em;
}

.landing ul li, ul.plain li a span{
	font-size:11px;	
}

.landing table td.left{
	width:40%;
}
.landing table td.profile-wall{
	width:40%;
}

.landing table td.left{
	border-right:1px dotted #ccc;
}


/*RECENT WALL POSTS*/
/*.recent_wall_posts {
  clear: both;
  overflow: auto;
}
.recent_wall_posts h4 {
 padding:10px 5px 6px 0;
 color:#F5967A;
 border-top:1px solid #E1E1E1;
 border-bottom:1px solid #E1E1E1;
}

.recent_wall_posts blockquote {
  color:#999999;
  line-height:1.5em;
  padding:10px 0px 5px 0;
  clear:both;
  overflow:hidden;
  display:block;
}

.recent_wall_posts blockquote p {
  margin:0px;
  padding-left:65px;
  background-position:45px 0px;
}

.recent_wall_posts blockquote img {
  width:38px;
  height:38px;
  margin:auto;
  padding:0px;
}

.landing td.right blockquote p{
	width:60%;
	font-size:0.875em;
	color:#6B6D6E;
}
*/

/*
i don't know what this is trying to do, but it messes up the 
hover labels for icon_boxes 
.landing td.right .round{
	border:1px solid #E1E1E1;
	width:150%;
	background-color:#fff; 
	margin:1em 0 1em 1.2em;
	height:3em;
}
*/
/*
.landing td.right input{
	width:99%;
	height:3em;
	border:none;
}

.landing td.right .status_composer{
	float:left;
}
.status_photo{
	float:left;
	margin:1em 0;
	border:1px solid #E1E1E1;
}
*/
