/** 
 **  TITLE_BOX > INFO_BOX
 **/ 

.title_box table.info_box {
  padding: 1em;
  background-color: #F0F9FE;
  border-bottom: 1px solid #E1F3FD;
  width: 100%;
}
.title_box table.info_box td {
  width: 40%;
  vertical-align: top;
  padding: 1em;
  background:#ECF9FE;
}

.title_box .description {
  color: #738899;
  font-family: georgia, times;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  line-height: 1.6em;
}

.dash_box h3 {
  margin-bottom: 0.5em;
}
.dash_box {
  float: left;
  margin: 0 2em 1.5em 0;
}
.col2 .dash_box{
	clear:both;

}
.activities li, .user_activities {
  color:#666;
  margin:7px 0px;
  padding:3px 0px;
  padding-left:24px;
}

/**
 ** LEFT_COLUMN
 **/

.left_column h2.alert {
  margin: 1em 0;
}

a.contribute {
  display: block;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-weight: bold;
  color:green;
}
a.contribute:hover {
  background: #cdf;
  text-decoration: none;
}

.col2 .info{
  	margin-bottom:1em;
}
.col2 .info div{
	margin-bottom:0.8em;
	font-size:0.85em;
	color:#434343;
}
.col2 .info em{
	font-style: normal;
	font-weight:600;
	padding-left:0.7em;
}
.col2 .info .c_icon{

}
.xxlarge_avatar{
	margin:0;
	padding:0;
	height:200px;
	width:200px;
	border:1px solid #ccc;
}
/** 
 **  CONTENT_BOX > LANDING
 **/ 

/** announcements **/

div.announcements table td {
  vertical-align: top;
  padding: 1em;
  border: 1px dotted #ccc;
}
div.announcements table {
  margin: 0.75em 0;
}

div.section {
  margin-bottom: 2em;
}

/** WIKI **/
.box1 {
  border:1px solid #E1E1E1;
  background:#F0FAFE;
  padding:1em;
  margin:10px 22px 0 22px;
}
.box1 .description{
  padding-top:1em;
}

/** 
 **  FEATURED
 **/ 

.col2 h4{
  float:left;
}
.col2 h4.images_16, .col2 h4.page_discussion_16{
  margin:0;padding:0;
  height:17px;
  margin-right:5px;
  margin-left:3px;
  padding-left:25px;
  float:left;
  color:#4784BC;
}

.col2 h4.discussions_16{
  height:17px;
  margin-right:5px;
  margin-left:3px;
  padding-left:25px;
  float:left;
}

.col2 .left_column .tags ul{
	margin-bottom:1em;
}
/*
this messes up other layouts
.col2 p, .col2 h3{
  margin-left:3px;
  clear:both;
}
*/

.col2 p{
  color:#666;
  padding:6px 0 0 0;
  line-height:16px;
  clear:left; 
  font-size:0.85em;
}
.col2 img.thumb{
  margin-bottom:1em;
}

.col2 p.legend{
  color:#999;
  padding:0;
  margin:0;
  font-size:0.750em;
  line-height:16px;
  clear:none;  
  float:left;
}

.col2 .tags ul{
  margin-left:2px;
  list-style:none;
  padding:0;
  width:190px;
}

.col2 .tags ul li a{
  float:left;
  font-size:11px;
  padding-right:10px;
  line-height:20px;
}
div.tags ul {
  width:190px;
}

/**
 ** THE WALL
 **/


.profile-fun {
  width:100%;
  background-color:#EFF9FE;
}
.profile-fun td {
  padding:1.2em;
  vertical-align:top;
}
.profile-fun .profile-wall {
   width:70%;
}
.profile-fun .profile-wall textarea {
   width:98%;
   margin:10px 0px;
   padding:4px;
   border-color:#E1E1E1;
}
.profile-fun .profile-wall fieldset a {
  float:right;
}

.wall_posts {
  clear: both;
  height: 20em;
  overflow: auto;
  background: #fff;
}
.wall_posts h4 {
 padding:10px 5px 8px;
 color:#F5967A;
 background-color:#FFF6ED; 
 border-top:1px solid #E1E1E1;
 border-bottom:1px solid #E1E1E1;
}

.wall_posts blockquote {
  color:#999999;
  line-height:1.5em;
  border-bottom:1px dotted #E1E1E1;
  padding:10px 5px;
  clear:both;
  overflow:hidden;
  display:block;
}

.wall_posts blockquote p {
  margin:0px;
  padding-left:65px;
  background-position:45px 0px;
}

.wall_posts blockquote img {
  width:38px;
  height:38px;
  margin:auto;
  padding:0px;
}

/*
.profile-fun  .profile-activity {
  width:30%;
  border-left:1px dotted #E1E1E1;
} 
*/
