.leftmenu {
  background-color: #fafdf9;
  border: 1px solid #999;
  border-width: 1px; }
  .leftmenu .colright {
    left: 19em;
    border-left: 1px solid #ccc; }
  .leftmenu .col1wrap {
    right: 19em; }
  .leftmenu .col1 {
    margin: 0;
    margin-left: 19em; }
  .leftmenu .col2 {
    width: 16.7em;
    right: 18em;
    margin: 1em 0; }

.rightmenu .col1 {
  border: 1px solid #999;
  border-width: 1px;
  margin: 0 0 0 17em; }
.rightmenu .colleft {
  margin-left: -17em; }
.rightmenu .col1wrap {
  padding-bottom: 0em; }
.rightmenu .col2 {
  width: 16em;
  left: 17em; }

.fullpage .col1 {
  margin: 0;
  border: 1px solid #999;
  border-width: 1px; }
