body {
  min-width: 38em; }

#colmask {
  overflow: hidden;
  position: relative; }

* html #colmask {
  overflow: visible;
  height: 1px; }

div.col-clear {
  clear: both; }

* html div.col-clear {
  height: 1.5em;
  background: #d6d6d6;
  position: relative;
  margin: 0 0 -1.5em; }

.ltr .leftmenu, .rtl .rightmenu {
  background-color: #fafdf9;
  border: 1px solid #999;
  border-width: 1px;
  padding-left: 19em; }
  .ltr .leftmenu .column,   .rtl .rightmenu .column {
    position: relative;
    float: left; }
  .ltr .leftmenu .col1,   .rtl .rightmenu .col1 {
    padding: 0 0 1001em;
    margin: 0 0 -1000em;
    width: 100%; }
  .ltr .leftmenu .col2,   .rtl .rightmenu .col2 {
    width: 17em;
    padding: 1em 1em 1001em;
    margin: 0 0 -1000em -100%;
    right: 19em;
    border-right: 1px solid #ccc; }

.ltr .rightmenu, .rtl .leftmenu {
  background-color: #fafdf9;
  border: 1px solid #999;
  border-width: 1px;
  padding-right: 19em; }
  .ltr .rightmenu .column,   .rtl .leftmenu .column {
    position: relative;
    float: right; }
  .ltr .rightmenu .col1,   .rtl .leftmenu .col1 {
    padding: 0 0 1001em;
    margin: 0 0 -1000em;
    width: 100%; }
  .ltr .rightmenu .col2,   .rtl .leftmenu .col2 {
    width: 17em;
    padding: 1em 1em 1001em;
    margin: 0 -100% -1000em 0;
    left: 19em;
    border-left: 1px solid #ccc; }

.fullpage .col1 {
  margin: 0;
  border: 1px solid #999;
  border-width: 1px; }
