/** 
 **  PAGE LIST
 **/ 

div.page_list {background: white;}
.page_list table {
  width: 100%;
  color: #979797;
}

.page_list td.last {text-align: right;}
.page_list th.last {text-align: right;}
.page_list a {color: #4986BC;}
.page_list td.date {
  background: #FFF4E8;
  color: #F28367;
  text-transform: capitalize;
  font-weight: bold;
}
.page_list td {
  padding: 0.25em;
  /* font-weight:600; this is how we indicate unread! */
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.page_list th {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 0.75em;
  padding-left: 0.5em;
  text-align: left;
}
.page_list span.status {color: red;}
.page_list span.star {color: #EBBA20; font-weight: bold;}

.page_scroll {
  height: 40em;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

