/** 
 **  PAGE LIST
 **/ 

div.page_list {background: white;}
.page_list table {
  width: 100%;
  color: #979797;
}

.page_list td.last {text-align: right;}
.page_list th.last {text-align: right;}
.page_list a {color: #4986BC;}
.page_list td.date {
  background: #FFF4E8;
  color: #F28367;
  text-transform: capitalize;
  font-weight: bold;
}
.page_list td {
  padding: 0.25em;
  /* font-weight:600; this is how we indicate unread! */
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.page_list th {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 0.75em;
  padding-left: 0.5em;
  text-align: left;
  font-size:0.8em;
  color:#C2C2C2;
}
.page_list th.selected {
  background-color: #eee;
}
.page_list span.status {color: red;}
.page_list span.star {color: #EBBA20; font-weight: bold;}

.page_scroll {
  height: 40em;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear:left;
  padding-top:none;
}

/*Page List - Menu*/
.section .table_menu{
	float:left;
}
.section .table_menu ul li{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  background:url(images/table_menu.jpg) repeat-x;
  height:26px;
}
.section .table_menu ul li a{
  margin:0;
  font-weight:bold;
  text-transform:capitalize;
  color:#667D92;
  font-size:11px;
  padding:10px;
  border:1px solid #E1E1E1;
  border-right:none;
  background:#F0EDEC url(images/background/table_menu.jpg) repeat-x; /* extract gradient*/
}
.section .table_menu ul li a.selected {
  border-bottom:none;
  background:none;
  color:#2E495D;
}
.section h2.alert{
  padding-bottom:1em;
}


/**
 ** SEARCH
 **/

div.page_search_form {
  text-align:center;
  line-height: 2.5em;
  margin-bottom: 1em;
}

/*FILTER MENU*/

.filter_menu{
	display:none;
}
.section div.round{
  background:#fff url(/images/ui/down-arrow.png) no-repeat right;
  height:26px;
  line-height:26px;
  text-align:center;
  border:1px solid #E1E1E1;
  width:140px;
  font-weight:normal;
}

/** page creation/sharing **/

table.share_page_recipients th {
  width: 10em;
}
table.share_page_recipients td {
  vertical-align: top;
}
table.share_page_recipients div.scroll {
  overflow: auto;
  height: 20em;
  width: 13em;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-size: 0.8em;
}
table.share_page_recipients div.scroll a {
  font-size: 0.8em;
}

/**
 ** PAGE CREATION
 **/

/* titlebox */
.other_contribute{
  float:right;
  margin-right:1.5em;
  height:60px;
  line-height:60px;
}
.contribute_title_page{
  height:60px;
  line-height:60px;
}
.other_contribute a, .other_contribute a:hover{
  color:#428521;
}

/*---------LEFT----------------*/
/*global*/
.create_page .left{
  margin:0;
  padding:0;
  margin-left:7px;
}
.create_page .left, .create_page .right{
  display:inline;
  float:left;
}
.create_page .left2{
  clear:both;
  float:none;
}

.create_page .left table td{/*border:1px solid blue;*/ }
/*titles*/
.create_page .left h2.info_16, .left h2.article_16, .right h2.group_16{
  color:#72899B;
  /*margin-top:0.3em;*/
}
.create_page .left h2.article_16{
	margin:20px 0;
}

/*table*/
.create_page .left table{
  margin-top:20px;
  }
.create_page .left table td input, .left table td textarea {
  margin:0;
  padding:0;
  width:340px;
  border:1px solid #E1E1E1;
  margin-bottom:20px;
}
.create_page .left table td input{
  height:26px;}

/*label*/
.create_page .left table td.label {
  padding:0; margin:0;
  text-align:right;
  color:#898989;
  font-size:1em;
  font-weight:bold;
  padding-right:1em;
  padding-bottom:none;
}
.create_page .left table td{
  padding:0;
}
.create_page td .legend{
  color:#898989;
  font-size:0.8em;
}
.create_page .article_data{
  padding:0;
}
.create_page .separation{
  border-top:1px dotted #E1E1E1;
}

/*---------RIGHT----------------*/
.create_page .right {
  padding-left:20px;
  }
.create_page .share_page h2{
  color:#898989;
  font-size:1em;
  font-weight:bold;
  margin-top:20px;
}
.create_page .right ul.tabset{
	list-style:none;
}
.create_page .right .share_page{
	padding:1em;
	border:1px solid #E1E1E1;
	margin-top:20px;
}

.create_page .right th{
/*	border:1px solid  #E1E1E1;*/

}
.create_page .right table th{
  color:#72889A;
  font-size:0.8em;
  font-weight:bold;
  text-align:left;
  padding:1em;
  background:#F3F3F1 url(/images/background/table_create_bg.jpg) repeat-x;
  border:1px solid #E1E1E1;
}
table.share_page_recipients tbody tr td div.scroll{
	border:none;
	margin:0;
	padding:0;
	border:1px solid #E1E1E1;
	border-spacing:0
	}
	
.share_page h2 em{
	color:#C43838;
	font-size:1.1em;
}
.create_article{
	text-align:center;
}

