div.page_search_form {
  text-align: center;
  line-height: 2.5em;
  margin-bottom: 1em; }
div.buttons {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  text-align: center; }

.page_list {
  background: white; }
  .page_list table {
    width: 100%;
    color: #979797;
    border-collapse: collapse; }
  .page_list td {
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
    background-color: white; }
    .page_list td.last {
      text-align: right; }
    .page_list td.date {
      background: #FFF4E8;
      color: #F28367;
      text-transform: capitalize;
      font-weight: bold; }
  .page_list th {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #ccc;
    padding: 0.75em;
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.8em;
    color: #C2C2C2; }
    .page_list th.last {
      text-align: right; }
    .page_list th.selected {
      background-color: #eee; }
  .page_list span.status {
    color: red; }
  .page_list span.star {
    color: #EBBA20;
    font-weight: bold; }

.page_scroll {
  max-height: 40em;
  overflow: auto;
  border-top: 1px solid #ccc;
  clear: left;
  padding-top: none; }

.filter_menu {
  display: none; }

.section div.round {
  background: #fff url(/images/ui/down-arrow.png) no-repeat right;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #E1E1E1;
  width: 140px;
  font-weight: normal; }

table.share_page_recipients div.scroll {
  overflow: auto;
  height: 20em;
  width: 13em;
  padding: 0.5em;
  font-size: 0.8em; }
table.share_page_recipients ul {
  margin: 0;
  padding: 0; }
  table.share_page_recipients ul li {
    padding: 0.25em 0; }

ul.participators_list li.unsaved {
  background-color: #BBFF99; }
ul.participators_list li {
  padding: 5px;
  border-bottom: 1px solid darkgrey;
  clear: left; }

.create_page .left {
  display: inline;
  float: left; }
  .create_page .left table {
    margin-top: 1em; }
    .create_page .left table td.label {
      text-align: right;
      color: #999;
      font-weight: bold;
      padding-right: 1em; }
.create_page .right {
  display: inline;
  float: left;
  padding-left: 2em; }
.create_page input[type=text], .create_page textarea {
  width: 23em;
  font-family: serif;
  font-size: 1em; }
.create_page .share_page h2 {
  color: #999;
  font-size: 1em;
  margin: 1em 0; }
.create_page .share_page ul {
  list-style: none; }

#page_sidebar {
  padding-top: 2.5em; }
  #page_sidebar a,
  #page_sidebar a:visited {
    color: #0000cc; }
  #page_sidebar h3 {
    color: #666666;
    border: 1px solid;
    border-color: #eee #bbb #bbb #eee;
    background: #e0e0e0;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.5em 0 0.5em .75em;
    margin: 2.5em 0 0.5em 0;
    -moz-border-radius: 4px; }
  #page_sidebar ul.rule {
    border-top: 1px dotted #fff;
    padding-top: 0.5em; }
  #page_sidebar ul.names li:first-child {
    border-top: 0; }
  #page_sidebar ul.names li {
    padding: 3px 0;
    border-top: 1px dotted white; }
    #page_sidebar ul.names li span {
      background-position: 100% 0;
      background-repeat: no-repeat;
      padding-right: 20px;
      margin-right: -20px; }
  #page_sidebar input.check {
    position: absolute;
    left: 0;
    margin-top: 6px; }
  #page_sidebar .tags a {
    background-color: #dde;
    padding: 0px 2px;
    line-height: 175%;
    white-space: nowrap; }
  #page_sidebar .tags a:hover {
    background-color: #eef; }

#posts {
  background: #fff;
  margin-bottom: 5px; }
  #posts .comments-head {
    border-top: 1px solid #E1E1E1;
    padding-top: 20px;
    padding-bottom: 10px; }
  #posts .post-author {
    text-align: right;
    padding-left: 10px;
    margin-right: 10px;
    color: #6E6E6C;
    font-size: 12px; }
    #posts .post-author div.username,
    #posts .post-author div.date {
      margin-right: 40px; }

table.posts {
  width: 100%;
  border-top: 1px solid #ccc; }
  table.posts .shade-even {
    background-color: #fff; }
  table.posts .shade-odd {
    background-color: #fcf9f2; }
  table.posts tr.post td {
    vertical-align: top; }
  table.posts tr.post-spacer-bottom td {
    line-height: 10px;
    border-bottom: 1px solid #ccc; }
  table.posts tr.post-spacer-top td {
    line-height: 10px; }
  table.posts textarea {
    margin-bottom: 5px; }
  table.posts td.post-body {
    border-left: 1px solid #ccc;
    padding: 0 10px; }
    table.posts td.post-body p:first-child {
      margin-top: 0; }
    table.posts td.post-body p:last-child {
      margin-bottom: 0; }
  table.posts td:hover .post_action_icon {
    display: block; }
  table.posts td .post_action_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none; }

div.title_box form .h1 {
  line-height: 1em;
  margin: 0;
  padding: 0; }
div.title_box form .h2 {
  line-height: 2em;
  margin: 0;
  padding: 1; }
div.title_box form .h3 {
  line-height: .5em;
  margin: 0;
  padding: 1; }
div.title_box .h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em; }
div.title_box .h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 3em;
  padding: 0px 0px 0px 20px; }
div.title_box .h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em; }
div.title_box #title_edit_link {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px; }
div.title_box:hover #title_edit_link {
  display: block; }

div.popup {
  background: #F3F2EE;
  border: 8px solid #666;
  z-index: 101;
  position: absolute;
  top: -32px;
  right: 43px; }
  div.popup h1 {
    background: #888;
    color: white;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #666; }
  div.popup h2 {
    color: #cc0000;
    font-size: 1.1em;
    line-height: 1em; }
  div.popup blockquote {
    margin: 0;
    padding: 1em; }
  div.popup table.share_page_recipients {
    width: 100%; }
  div.popup div.share_page_recipients_list {
    height: 15em;
    overflow-y: scroll;
    border: 1px solid #999;
    background: white; }
  div.popup div.error {
    background: #fcc;
    border: 1px solid red; }

div.popup_arrow {
  height: 29px;
  width: 15px;
  background: url(/images/ui/wedge_right.png);
  position: absolute;
  top: 24px;
  right: -23px; }

div#popup_holder {
  position: absolute;
  z-index: 100;
  display: none; }
