html,
body,
pre,
img,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: none; }

body {
  font-size: 100%; }

table {
  border-spacing: 0; }

p,
ol,
ul,
td,
div,
span {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }
