.handle {
  cursor: move; }

.not_handle {
  cursor: default; }

.tag1 {
  font-size: 1em; }

.tag2 {
  font-size: 1.1em; }

.tag3 {
  font-size: 1.3em; }

.tag4 {
  font-size: 1.5em; }

ul.plain {
  padding: 0;
  margin: 0;
  list-style: none; }

ul.floatlist li {
  float: left;
  margin-right: 1em; }

.nowrap {
  white-space: nowrap; }

a {
  text-decoration: none;
  color: #0000ee;
  outline: none; }
  a:visited {
    color: #551a8b; }
  a:active {
    color: #ff0000;
    text-decoration: none; }
  a:hover {
    color: #0000ee;
    text-decoration: underline; }
  a.dotted {
    color: black;
    text-decoration: none;
    outline: 0;
    border-bottom: 1px #999 dotted; }
  a.invert {
    color: white;
    background-color: #0000ee; }
  a.active {
    font-weight: bold; }
  a.imglink {
    text-decoration: none; }
    a.imglink span {
      text-decoration: underline; }

a[name] {
  color: black;
  text-decoration: none; }
  a[name]:hover {
    color: black;
    text-decoration: none; }

.link_line em {
  color: #ccc; }

ul.side_list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 0.5em;
  clear: left; }
  ul.side_list a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px; }
  ul.side_list.commands a {
    text-transform: capitalize; }
  ul.side_list li.small_icon {
    padding-left: 25px;
    background-position: 2px 50%; }

.tab-area {
  background-color: white;
  padding: 1em;
  border-top: 0;
  clear: left; }

ul.tabset.top {
  margin: 0;
  padding: 0;
  clear: left;
  float: left;
  width: 100%;
  height: 1%;
  list-style: none;
  background: url(/images/grey9.png) repeat-x bottom; }
  ul.tabset.top li {
    display: inline; }
  ul.tabset.top a:hover {
    text-decoration: underline; }
  ul.tabset.top a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 1em;
    line-height: 1.3em;
    padding: 0.5em 1em;
    cursor: pointer; }
    ul.tabset.top a.active {
      background: white;
      border: 1px solid #999;
      border-bottom: 0; }

input[type="hidden"] {
  display: none; }

option.indented {
  margin-left: 1em; }
option.section {
  font-weight: bold; }

label.date span {
  font-size: 0.8em; }

.fieldset textarea {
  width: 99%;
  max-width: 80em; }

label.checkbox {
  display: block;
  margin-left: 1.7em; }

input.checkbox {
  position: relative;
  top: 2px;
  margin-left: -1.6em; }

.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.round_top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px; }

.round_left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px; }

.round_right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px; }

.large_circle {
  -moz-border-radius-bottomleft: 21px;
  -moz-border-radius-bottomright: 21px;
  -moz-border-radius-topleft: 21px;
  -moz-border-radius-topright: 21px; }

.clear {
  clear: both; }

hr.clear {
  height: 0;
  border: none;
  padding: 0;
  clear: both; }
hr.thin {
  height: 0;
  border: none;
  padding: 0;
  clear: both;
  margin: 0.5em 0;
  border-bottom: 1px solid #d9d9d9; }
hr.thick {
  height: 0;
  border: none;
  padding: 0;
  clear: both;
  margin: 0.5em 0;
  border-bottom: 2px solid #d9d9d9; }

div.p {
  margin: 1em 0; }

span.break {
  font-size: 1px;
  line-height: 1px;
  float: right !important;
  float: none; }

h1.dim {
  color: #738899;
  text-transform: capitalize;
  margin: 0; }
h1.bright {
  color: #5B97CB;
  text-transform: capitalize;
  margin: 0; }
h1.alert {
  color: #CE4A48;
  text-transform: capitalize;
  margin: 0; }

h2.dim {
  color: #738899;
  text-transform: capitalize;
  margin: 0; }
h2.bright {
  color: #5B97CB;
  text-transform: capitalize;
  margin: 0; }
h2.alert {
  color: #CE4A48;
  text-transform: capitalize;
  margin: 0; }
h2.section {
  color: #333;
  margin-bottom: 0.5em;
  background-color: #dfdfdf;
  border: 1px solid #bbb;
  padding: 0.25em;
  -moz-border-radius: 6px; }
h2 span {
  font-size: 0.6em;
  white-space: nowrap;
  text-transform: uppercase; }

h3.dim {
  color: #738899;
  text-transform: capitalize;
  margin: 0; }
h3.bright {
  color: #5B97CB;
  text-transform: capitalize;
  margin: 0; }
h3.alert {
  color: #CE4A48;
  text-transform: capitalize;
  margin: 0; }
h3 span {
  font-size: 0.6em;
  white-space: nowrap;
  text-transform: uppercase; }

table.pretty {
  border-collapse: collapse;
  width: 100%; }
  table.pretty > tbody > tr.even {
    background-color: #F2F2F2; }
  table.pretty > tbody > tr.odd {
    background-color: white; }
  table.pretty > tbody > tr.unread {
    font-weight: bold; }
  table.pretty > tbody > tr > td {
    padding: 0.5em;
    border-bottom: 1px solid #e6e6e6; }
    table.pretty > tbody > tr > td img {
      vertical-align: bottom; }
  table.pretty > tbody > tr > th {
    padding: 0.5em;
    text-align: left;
    background: #FFF4E8;
    color: #F28367;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 1px solid #ccc; }
  table.pretty > tbody > tr.heading > th img {
    vertical-align: bottom; }
  table.pretty > tbody > tr.heading > th a {
    color: #333; }
  table.pretty > tbody > tr.heading > th.selected {
    background: #888; }
    table.pretty > tbody > tr.heading > th.selected a {
      color: white; }
  table.pretty a {
    text-decoration: none; }
    table.pretty a:hover {
      text-decoration: underline; }

table.plain {
  border-collapse: collapse;
  width: 100%; }
  table.plain td {
    padding: 0.5em; }
    table.plain td.label {
      text-align: right;
      font-weight: bold; }

.pagination {
  padding: 1em 0;
  text-align: center; }
  .pagination a {
    padding: 0 5px 1px 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1; }
    .pagination a:visited {
      padding: 0 5px 1px 5px;
      border: 1px solid #9aafe5;
      text-decoration: none;
      color: #2e6ab1; }
    .pagination a:hover, .pagination a:active {
      border: 1px solid #2b66a5;
      color: #000;
      background-color: #ffffe0;
      text-decoration: none; }
  .pagination span.current {
    padding: 0 5px 1px 5px;
    border: 1px solid black;
    background-color: #2e6ab1;
    color: #FFF; }
  .pagination span.disabled {
    padding: 0 5px 1px 5px;
    border: 1px solid #929292;
    color: #929292; }
