.wiki pre,
.post pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  .wiki pre code,
  .post pre code {
    display: block;
    background: #FFF6DD;
    border: solid 1px;
    border-color: #FFE8A9;
    padding: 0.5em; }
.wiki div.codetitle,
.post div.codetitle {
  background: #FFE8A9;
  color: #614B2A;
  padding: 0.25em;
  font-weight: bold; }
.wiki h1,
.post h1 {
  font-size: 24pt;
  line-height: 1.25em;
  margin-top: 1.5em;
  color: #666;
  border-bottom: 2px dotted #999;
  font-family: verdana, bitstream vera sans, helvetica, sans-serif; }
  .wiki h1:first-child,
  .post h1:first-child {
    margin-top: 0; }
.wiki h2,
.post h2 {
  font-size: 14pt;
  margin-top: 1.25em;
  line-height: 1.25em;
  border-bottom: 1px dashed #ccc; }
  .wiki h2:first-child,
  .post h2:first-child {
    margin-top: 0; }
.wiki h3,
.post h3 {
  font-size: 1.1em;
  margin-top: 0.75em; }
.wiki span.caps,
.post span.caps {
  font-size: 80%; }
.wiki p.left,
.post p.left {
  margin: 0; }
  .wiki p.left img,
  .post p.left img {
    margin-right: 1em; }
.wiki p.right,
.post p.right {
  margin: 0; }
  .wiki p.right img,
  .post p.right img {
    margin-left: 1em; }

.wiki table {
  border-collapse: collapse; }
.wiki td {
  padding: 4px;
  border: 1px solid #CCC; }
.wiki th {
  padding: 4px;
  border: 1px solid #CCC;
  background: #ddd; }
.wiki tr.odd {
  background-color: #F2F2F2; }
.wiki tr.even {
  background-color: white; }
.wiki code {
  background-color: #fff6dd; }
.wiki .wiki_section {
  position: relative; }
  .wiki .wiki_section .editsection {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 18px;
    text-transform: none;
    text-decoration: none;
    font-size: 13px;
    font-variant: normal;
    font-weight: normal;
    font-style: normal; }

div.diff {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 8px 20px;
  margin: 15px 0px; }
  div.diff p {
    margin: 0; }

del.diffmod, del.diffins {
  color: #999;
  background-color: #ddd; }

ins.diffmod, ins.diffins {
  background-color: #cfc;
  text-decoration: none;
  color: #000; }
