<br /><h2 class="bright">Next Up</h2><br />
<% responses.each do |resp| -%>
  <% if resp.user %>
    <div class="name_icon small" style="background-image: url(<%= avatar_url_for(resp.user, 'small') %>)">
      <%= I18n.t(:survey_response_by, :login => resp.user.login) %>
    </div>
  <% else %>
    <div class="name_icon small page_survey_16">
      <%= I18n.t(:survey_response_by, :login => (resp.name||resp.email||'unknown')) %>
    </div>
  <% end %>
<% end -%>

