<%

@user.login = nil
@user.save
flash_message_now :object => @user

%>

<h2>Consectetuer ad ipiscing</h2>
<p>Nullam vestibulum, velit ac vulputate imperdiet, diam dolor vestibulum eros, et molestie ipsum diam eget ligula. In varius. Vivamus at dolor in nulla feugiat posuere. Phasellus magna. Cras neque justo, commodo id, bibendum quis, ultrices eu, neque. Cras mattis neque nec neque. Sed rutrum condimentum lorem. Pellentesque vitae erat cursus pede luctus pellentesque. Duis ac ipsum in nisl ornare posuere. Integer sed dui. Sed nunc augue, iaculis vitae, facilisis vel, adipiscing vitae, libero. Proin eget magna. Aenean rhoncus ante eget urna. Etiam faucibus leo non urna adipiscing euismod.
</p><p>
Nulla mollis iaculis felis. Suspendisse nec lorem. Sed vel erat vitae lectus vestibulum rhoncus. Integer massa. Nullam euismod lorem. Mauris metus. Etiam semper laoreet sem. Integer venenatis mi ut ante. Praesent vehicula pede eu elit. Fusce quis sem eu dolor hendrerit luctus. Aliquam erat volutpat. Vivamus nisl. Ut dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum pharetra leo id odio. Vivamus lobortis orci ullamcorper felis. Cras dictum pretium erat. Phasellus eget tortor in tellus vulputate accumsan.
</p><p>
Morbi non sem vel sapien sagittis posuere. Vivamus aliquam, massa eu facilisis gravida, arcu est eleifend mi, non iaculis tortor orci fermentum lorem. Quisque eu risus a sem viverra euismod. Nunc iaculis facilisis diam. Praesent posuere leo egestas massa. In dapibus orci eget justo. Curabitur adipiscing est non augue porta aliquam. Maecenas enim justo, pulvinar non, vulputate dapibus, lacinia condimentum, risus. Duis nibh. Morbi eget orci.
</p><p>
Aliquam varius ante a nunc. Aenean tempus. In hac habitasse platea dictumst. Suspendisse potenti. Aliquam eu eros. Fusce risus elit, tincidunt vel, tincidunt sed, rutrum eu, velit. Etiam massa dolor, tincidunt sed, dapibus non, aliquam ac, ipsum. Nulla consequat sollicitudin quam. Morbi scelerisque sem sit amet mauris. Ut semper, nisl vel ultrices vehicula, sem urna aliquet justo, in adipiscing nibh nisi eu dui. Suspendisse euismod consectetuer eros. In gravida arcu venenatis tortor. Praesent euismod urna at velit consectetuer fermentum. Donec aliquet commodo arcu. Donec laoreet aliquet quam. Aenean libero. Nunc nec lorem nec dui tincidunt lobortis. Mauris nisi urna, convallis vel, volutpat vel, porta nec, ipsum.
</p><p>
Curabitur lobortis dignissim erat. Nunc eu libero nec neque ultricies mollis. Suspendisse aliquet convallis ipsum. Nunc fermentum ultrices mauris. Mauris pulvinar, lectus ut fermentum vulputate, velit elit vehicula mauris, et accumsan nisi ligula ut turpis. Sed sit amet diam. Cras elementum. Cras congue metus at nulla. Sed vulputate justo eu justo. Cras facilisis, mi nec iaculis egestas, elit libero vestibulum arcu, et dictum ipsum neque et tellus. Sed cursus nisl id tellus. Aenean eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas rutrum bibendum nunc. Nunc bibendum. 
</p>
