This is the crabgrass translation panel.

<ul>
<li><%= link_to 'edit languages', languages_path %></li>
<li><%= link_to 'edit keys', keys_path %></li>
<li><%= link_to 'edit translations', translations_path %></li>
</ul>

