This is the Crabgrass translation panel.

Choose a language to translate Crabgrass into:

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% for language in @languages %>
  <tr>
    <td><%=h language.code %></td>
    <td><%=h language.name %></td>
    <td><%= link_to 'Translate', :controller => :keys, :language => language %></td>
  </tr>
<% end %>
</table>
