<table class="contribute">
 <!-- send a message -->
  <tr>
    <td class="dim"><h2 class="dim small_icon page_message_16">Send a message</h2></td>
    <td>
      &nbsp;
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      Send a personal message sent to individual recipients
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /send a message -->
  
  <!-- start a discussion -->
  <tr>
    <td class="dim"><h2 class="dim small_icon page_discussion_16">Start a discussion</h2></td>
    <td>
      &nbsp;
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      Start a group discussion on a particular topic
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /start a discussion -->
  
  <!-- upload media -->
  <tr>
    <td class="dim"><h2 class="dim small_icon application_view_gallery_16">Upload Media</h2></td>
    <td>
      <form>
        <select class="round">
          <option>what are these</option>
        </select>
      </form>
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      Start a group discussion on a particular topic
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /upload media -->
  
  <!-- write a document -->
  <tr>
    <td class="dim"><h2 class="dim small_icon page_white_text_16">Write a document</h2></td>
    <td>
      <form>
        <select class="round">
          <option>what are these</option>
        </select>
      </form>
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      Write a text document or write an article
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /write a document -->
  
  <!-- create a survey -->
  <tr>
    <td class="dim"><h2 class="dim small_icon application_view_list_16">Create a survey</h2></td>
    <td>
      <form>
        <select class="round">
          <option>what are these</option>
        </select>
      </form>
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      Create a ranked vote or an approval vote
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /create a survey -->
  
  <!-- Assign a task -->
  <tr>
    <td class="dim"><h2 class="dim small_icon page_tasks_16">Assign a task</h2></td>
    <td>
      <form>
        <select class="round">
          <option>what are these</option>
        </select>
      </form>
    </td>
    <td rowspan="2" align="right"><a href="#"><img src="/images/png/42/plus_42.png"/></a></td>
  </tr>
  <tr>
    <td colspan="2">
      A list of to-do items
    </td>
  </tr>
  <tr>
    <td colspan="3"><hr class="thin"/></td>
  </tr>
  <!-- /create a survey -->
</table>
