<h3 class="dim">
  User Name's Wall
  <span> &bull; <a class='more' href="#">See all &raquo;</a></span>
</h3>

<form method="post" action="">
  <fieldset>
    <textarea class="round" rows="6" cols="60" name=""></textarea>
    <a href="" class="small_icon pencil_16">Post</a>
  </fieldset>
</form>

<div class="wall_posts">
<table>
  <tr><td class='date' colspan='2'>Yesterday</td></tr>

<% 3.times do %>
  <tr>
    <td class='icon'><%= avatar_for(@user, 'small') %></td>
    <td>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
      <br />
      <%= link_line(:bullet, link_to_user(@user), friendly_date(Time.now), 'delete') %>
    </td>
  </tr>
<% end %>

  <tr><td class='date' colspan='2'>This Past Week</td></tr>

<% 3.times do %>
  <tr>
    <td class='icon'><%= avatar_for(@user, 'small') %></td>
    <td>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
      <br />
      <%= link_line(:bullet, link_to_user(@user), friendly_date(Time.now), 'delete') %>
    </td>
  </tr>
<% end %>

</table>
</div>
