  <table class="profile-fun">
    <tr>
      <td class="profile-wall"><%= render :partial => 'design/profile/wall' %></td>
      <td class="profile-activity"><%= render :partial => 'design/profile/activity' %></td>
    </tr>
  </table>
