
<img class="xxlarge_avatar" src="/avatars/0/xxlarge.jpg">

<div class="info">
  <h2 class="alert">Info</h2>
  <div class="small_icon world_16"><em>Location </em>: Copenhagen, Denmark</div>
  <div class="small_icon date_16"><em>Year of birth </em>: 1991</div>
  <div class="small_icon heart_16"><em>Interest </em>: Family, Travel, Music, Politics, Outdoors,   Friends</div>
  <div class="small_icon status_online_16"><em>Member Since </em>: August 4, 2008</div>
</div>

<hr class="thick" />

<h2 class="alert">UserName's World</h2>

<div class="dash_box">
  <h3 class="dim">
    Networks
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>


<div class="dash_box">
  <h3 class="dim">
     Groups
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="https://we.riseup.net/avatars/118/small.jpg"></a><span class="round">All About Crabgrass</span></li>
    <li>
      <a href="#" style="display:block"><img src="https://we.riseup.net/avatars/1061/small.jpg"></a>
      <span class="round">UNICEF crabgrass development</span>
    </li>
  </ul>
  <br class='clear' />
</div>


<div class="dash_box">
  <h3 class="dim">
    Commmittes
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
    <li><a href="#"><img src="/avatars/0/small.jpg" alt=""></a></li>
  </ul>
  <br class='clear' />
</div>


<div class="dash_box">
  <h3 class="dim">
     Friends
     <span>&bull; <a class='more' href="#">See all &raquo;</a></span>
  </h3>
  <ul class="icon_boxes">
    <li><a href="#"><img src="https://we.riseup.net/avatars/804/small.jpg"></a><span class="round">elijah</span></li>
    <li>
      <a href="#" style="display:block"><img src="https://we.riseup.net/avatars/1188/small.jpg"></a>
      <span class="round">abie</span>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/35/small.jpg"></a>
      <span class="round">daniel</span>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/53/small.jpg"></a>
      <span class="round">sunbird</span>
    </li>
    <li>
      <a href="#"><img src="https://we.riseup.net/avatars/120/small.jpg"></a>
      <span class="round">mlc</span>
    </li>
	<li>
      <a href="#"><img src="https://we.riseup.net/avatars/1366/small.jpg"></a>
      <span class="round">gaba</span>
    </li>
	<li>
      <a href="#"><img src="https://we.riseup.net/avatars/165/small.jpg"></a>
      <span class="round">brianr</span>
    </li>
	<li>
      <a href="#"><img src="https://we.riseup.net/avatars/176/small.jpg"></a>
      <span class="round">suqzi</span>
    </li>
	<li>
      <a href="#"><img src="https://we.riseup.net/avatars/238/small.jpg"></a>
      <span class="round">yossarian</span>
    </li>
	<li>
      <a href="#"><img src="https://we.riseup.net/avatars/280/small.jpg"></a>
      <span class="round">mikel</span>
    </li>
  </ul>
  <br class='clear' />
</div>
		
		

	

