<div id="page_list">

  <div>
    <h2 class="bright">Username's Recent Work</h2><span>&bull; <a href="#">more &raquo;</a></span></h2>
  </div>

	<div class="table_menu">
	  <ul>
	    <li><a class="selected" href="#">All</a></li>
		<li><a href="#">Top Rated</a></li>
		<li><a href="#">Most Viewed</a></li>
		<li><a href="#">Highest Contributors</a></li>
    </ul>
	</div>

  <div class="page_scroll">
    <%= render :partial => 'design/group_home/page_list' %>
  </div>
	
</div>



