<% content_for(:html_head) do %>
  <%= group_search_rss %>
<% end %>

<% @title_box = content_tag :h1, 'tags' %>

<p><%= render :partial => 'groups/search/tags', :locals => {:limit => false, :see_all_url => false} %></p>

<div>
  <% if @pages.any? %>
    <%= render :partial => 'pages/list', :locals => {:heading => false, :full_width => true} %>
  <% end %>
</div>

