/* the white content area of the main column*/
.col1 {
  background: white;
  border: 1px solid #999;
}

/* wings */

.wing {
  background-color: #f1f1f1;
  border: 1px solid white;
  -moz-border-radius: 4px;
  webkit-border-radius: 2px;
}

.rightmenu .wing, .holygrail .col3 .wing {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  webkit-border-top-left-radius: 0;
  webkit-border-bottom-left-radius: 0;
  border-left: 0;
}

.leftmenu .wing, .holygrail .col2 .wing {
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  webkit-border-top-right-radius: 0;
  webkit-border-bottom-right-radius: 0;
  border-right: 0;
}

/* sidebar headings */
.col2 h2, .col3 h2, .col2 h3, .col3 h3 {
  color: #999;
}

/* sidebar list hover */
ul.side_list li:hover {
  background-color: #cdf;
}

/* title box */
.title_box {
  background: #E6F2FF;
  border: 2px solid white;
}
.title_box h1, .title_box .h1 {
  color: #669;
}
.title_box h1 img {
  vertical-align: middle;
}
.title_box h2 {
  font-family: arial;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0px 0 3px 0;
  padding: 0;
}
.title_box h2 span {
  font-size: 0.8em;
  margin-left: 1em;
}

