.col2
  %h4.orange20-border-btm.subheading= I18n.t(:wiki)
  - wiki = @profile.wiki || @profile.create_wiki
  = render :partial => 'widgets/wiki', :locals => {:wiki => wiki, :editable => may_update_profile?, :no_title => true}
