<% render :partial => 'me/messages/tabs' %>

<div class="say_box">
<%= render(
  :partial => 'common/say_form',
  :locals => {
    :submit => I18n.t(:say_message_button), 
    :url => my_public_messages_path,
    :text => current_user.current_status
  }
) %>
</div>

<%= render :partial => 'messages/time_sorted_list' %>

