%h1 Soundcloud Status
%div.stats_container
  - if @me
    %h2 Connection
    %dl
      %dt You are logged into soundcloud as
      %dd= @me.username
  - else
    %h2 No Connection established
    = link_to "Connect to soundcloud!", new_admin_soundcloud_path
