<% index ||= params[:index] || random_dom_id -%>
<% dom_id = "profile_location_#{index}" -%>
<tr id="<%= dom_id %>" class='data_row'>
  <td>
    <input id="profile_locations_<%= index %>_country_name" size="40" value="<%=h location.country_name %>" type="text" maxlength="100" name="profile[locations][<%= index %>][country_name]" class="textInput" style="width:136px;" />
    <div class="input_label"><%= 'country'[:location_country] -%></div>
  </td>
</tr>
<tr><td><div class='spacer'></div><div class='spacer'></div></td></tr>
