<% form_tag(url_for(:controller => 'person',
		    :action => 'add_wall_message',
		    :id => @user.login)) do -%>
  <fieldset>
  <%= text_area :post, :body, :size => '50x6', :class=> 'round' %>
  <a><%= submit_tag :post.t, :class => 'small_icon pencil_16' %></a> 
  </fieldset>
<% end -%>
