<tr>
  <td class='icon'><%= avatar_for(wall_post.user, 'small') %></td>
  <td>
     <%= link_to_user(wall_post.user) %>
     <%= force_line_breaks wall_post.body_html.gsub(/\A<p>|<\/p>\Z/,'') %><br/>
     <%= link_line(:bullet, friendly_date(wall_post.created_at), delete_wall_post(wall_post)) %>
  </td>
</tr>

