<% form_tag(url_for(:controller => 'person',
		    :action => 'add_wall_message',
		    :id => @user.login)) do -%>
  <fieldset>
  <%= text_area :post, :body, :size => '40x2' %>
  <a><%= submit_tag :post.t %></a><br/><br/> 
  </fieldset>
<% end -%>
