<%= render :partial => @tabs %>

<% @title_box = capture do -%>
  <% if @profile.public? -%>
    <%= :profile_public_description.t %>
  <% elsif @profile.private? -%>
    <%= :profile_private_description.t %>
  <% end -%>
<% end -%>

<!-- begin profile form -->
<% form_tag do -%>

<div class='profile'>
<%= render :partial => 'form' %>
</div>

<p style='text-align:right'>
<%= submit_tag 'Save Changes'.t, :name => 'save' %>
</p>

<% end -%>
<!-- end profile form -->

