<%= render :partial => @tabs %>

<% @title_box = capture do -%>
<h1><%= "Settings for {user}"[:my_settings, {:user => current_user.display_name}] %></h1>
<% end -%>

<!-- begin profile form -->
<% form_tag do -%>

<div class='profile'>
<%= render :partial => 'form' %>
</div>

<p style='text-align:right'>
<%= submit_tag 'Save Changes'.t, :name => 'save' %>
</p>

<% end -%>
<!-- end profile form -->

