<%
  after_load_js = %Q[
   after_load_function = function() {
     Field.focus('add_names');
  }]
%>
<%=javascript_tag(after_load_js) %>
<% form_tag confirmation_url do -%>
  <%=@confirmation_text%>
  <%=submit_tag 'Confirm'%>
<% end -%>
</form>
