<% @title_box = content_tag :h1, title %>
<div class="dialog"><table class="center"><tr><td>
  <div class='details'><%= details %></div>
  <blockquote>
    <%= body %>
  </blockquote>
</td></tr></table></div>

