<% @title_box = content_tag :h1, title %>
<div class="dialog"><table class="center"><tr><td>
<% if error %>
 <div class='error'><%= error %></div>
<% else %>
  <div class='details'><%= details %></div>
  <blockquote>
    <%= body %>
  </blockquote>
<% end %>
</td></tr></table></div>

