%ul
  - settings[:mark].try.each_index do |index|
    %li
      - mark = settings[:mark].fetch(index)
      - caption = I18n.t(mark[:translation]).capitalize
      = link_to_function caption, action_bar_submit_mark_function(mark[:name]), :class => "#{ index == 0 ? 'first' : '' }"
