- text = '' if text.nil?
- cols = (@user == current_user) ? '50' : '25'

- if logged_in?
  - form_tag(url, :id => 'say') do
    %div#say_box
      %div.speech
        = text_area_tag 'post[body]', text, :id => 'say_text', :class => 'textinput', :cols => cols, :onfocus=>'setRows($("say_text"), 5)', :onblur=>'setRows($("say_text"), 1)'
        = submit_tag submit, :class => 'submit'
        - if defined?(recipient) && !recipient.blank?
          %p= I18n.t(:wall_say_form_submit_caption, :user => recipient.display_name)
