// TODO: Fix this shity var assignament
- text = '' if text.nil?
- submit = 'submit' if submit.nil?
- recipient = false if recipient.nil?
- url = '' if url.nil?
- cols = (@user == current_user) ? '50' : '25'

- if logged_in?
  =# avatar_for(current_user, :xsmall) unless @user == current_user
  - form_tag(url, :id => 'say') do
    - if recipient
      %h3 Recipient
      = text_field_tag 'id', params[:id], :id => 'recipient_name', :onkeypress => eat_enter, :class => 'textinput'
      = autocomplete_users_tag('recipient_name')
      %h3 Message

    %div#say_box
      %div.speech
        = text_area_tag 'post[body]', text, :id => 'say_text', :class => 'textinput', :cols => cols, :onfocus=>'setRows($("say_text"), 5)', :onblur=>'setRows($("say_text"), 1)'
        = submit_tag submit, :class => 'submit'
