%ul
  - settings[:select].try.each_index do |index|
    %li
      - selection = settings[:select].fetch(index)
      = link_to_function I18n.t(selection[:translation]), selection[:function], :class => "#{ index == 0 ? 'first' : '' }"
