<%- @info_box = capture do -%>
  <table class="columns three_sections">
  <tr>
     <td colspan="2" class="say_box"><%= @message_box %></td>
  </tr>
  <tr>
    <%- length = @activities.size -%>
    <%- half = (length/2.0).ceil %>
    <td class="left">
      <%= render :partial => 'activity/list', :locals => {:activities => @activities[0..(half-1)]} %>
    </td>
    <td class="right">
      <%= render :partial => 'activity/list', :locals => {:activities => @activities[(half)..(length-1)]} %>
      <div class='align_right'><%= link_to(I18n.t(:see_more_link) + ARROW, @more_activity_url) if @more_activity_url%></div>
    </td>
  </tr>
  </table>
<%- end -%>
