<table class='set_status'><tr>
<% form_tag url_for(:controller => '/me/dashboard', :action => 'add_status_message') do -%>
  <td><strong><%=h current_user.display_name %>...</strong></td>
  <td style='width:100%'>
    <%= text_field :post, :body, :value =>  @current_status || "", :style=>'width:100%' %>
    <%# "What are you doing right now?"[:set_status_messsage] %>
  </td>
  <td><a><%= submit_tag "Set Status"[:set_status_button] %></a></td>
<% end %>
</tr></table>
