%ul
  %li.first
    =link_to 'PAGES', pages_path
  %li
    =link_to 'SOCIAL ACTIVITY', '#' #activity_path
  %li.current
    =link_to 'MESSAGES', messages_path
  %li
    =link_to 'REQUESTS', '#' #requests_path
