<%# @title_box_class = 'tabs' -%>
<%- @title_box = capture do -%>
  <h1><%= I18n.t(:my_dashboard) %></h1>
  <%# Formy.tabs do |f|
    f.tab do |t|
      t.label I18n.t(:recent_activity)
      t.url me_url(:controller => 'dashboard', :action => nil)
      t.selected action?(:index)
    end
    f.tab do |t|
      t.label 'Public Messages'
      t.url me_url(:controller => 'dashboard', :action => 'public_messages')
      t.selected action?(:public_messages)
    end
    f.tab do |t|
      t.label 'Private Messages'
      t.url me_url(:controller => 'dashboard', :action => 'private_messages')
      t.selected action?(:private_messages)
    end
  end %>
<%- end -%>



