= edit_tool_page title_for_edit( "event" )
-#.page.event.edit
  - form_for :page, @page, :url => event_path(@page), :html => {:method => :put } do |f|
    = render :partial => 'pages/form', :locals => { :f => f }
    - f.fields_for :page_data, @page.data do |ff|
      = render :partial => 'form', :locals => { :f => ff }
    = submit_tag 'Save', :name => 'update'

