/* this is the css for the iframe inside the html editor. */

body {
  color: #707070;
  font-size: 12px;
  line-height: 1.75em; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  pre code {
    display: block;
    background: #FFF6DD;
    border: solid 1px;
    border-color: #FFE8A9;
    padding: 0.5em; }

h1, h2 {
  margin-bottom: 8px;
  margin-top: 12px;
  padding-bottom: 6px; }

h1 {
  font-size: 20pt;
  line-height: 1.25em;
  color: #534741;
  border-bottom: 1px solid #bbbbbb;
  font-family: verdana, bitstream vera sans, helvetica, sans-serif; }

h2 {
  font-size: 14pt;
  color: #707070;
  line-height: 1.25em;
  border-bottom: 1px dotted #bbbbbb; }

h3, h4 {
  font-size: 12pt; 
  color: #7d7d7d; 
  margin-top: 0.75em; 
  margin-bottom: 10px; }

span.caps {
  font-size: 80%; }

p.left {
  margin: 0; }
  p.left img {
    margin-right: 1em; }
p.right {
  margin: 0; }
  p.right img {
    margin-left: 1em; }

table {
  border-collapse: collapse; 
  clear: both; }

td {
  padding: 4px;
  border: 1px solid #CCC; }

th {
  padding: 4px;
  border: 1px solid #CCC;
  background: #ddd; }

tr.odd {
  background-color: #F2F2F2; }
tr.even {
  background-color: white; }

blockquote {
  border-left: 6px solid #ddd;
  margin-left: 0;
  padding-left: 1.5em;
  font-style: italic; }

code { background-color: #fff6dd; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

ul, ol { padding-left: 1.5em; }
