%h3.col-heading.orange20-bg.col-margin-top Quickfinder
.col1.padding.orange05-bg.left
  %h4.subheading Industrial Policy and Studies
  %ul.angle-quote
    %li Industrial sector studies
    %li Youth and microfinance
  %h4.subheading Support to institutions for industry, business, trade, environment and energy
  %ul.angle-quote
    %li Rehabilitation of technical/ vocational training institutions
    %li Laboratories for testing and metrology
    %li Afripanet: Investment Promotion Agencies Subcontracting Exchanges
    %li Youth Communication Hubs
  %h4.subheading Support to industrial enterprises and micro, small and medium businesses
  %ul.angle-quote
    %li Export consortia
