<p><%= link_to '&laquo;&nbsp;'+I18n.t(:back), announcements_path %>

<h2>Edit Announcement <i>"<%= @page.title %>"</i></h2>

<% form_tag({:controller => '/announcement_page', :action => 'update', :id => @page.id}) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end -%>
