%div{:id=>'city_text', :style=>"display: #{display}"}
  = text_field(object, method, {:onblur => onblur, :name => name, :id=> 'city_text_field'})
  = spinner('city')
%br
%div#city_results_box{:style=>"display: none"}
