<%= form_tag('/groups/directory/search') %>
Country: <%= select_search_countries('select_state_id') %>
<div id='state_dropdown' style='display: none'>
  State/Province: <select name='state_id' id='select_state_id'></select>
</div>
<div id='city_text' style='display: none'>
City: 
</div>
<div id='city_results' style='display:none'>
</div>
<div id='submit_loc' style='display: none'>
<%= submit_tag('filter by location') %>
</div>
</form>

