= country_dropdown('profile','country_id', :entity_id => @profile.entity_id)
=# state_dropdown('profile','state_id', @profile.country_id)
%br
= city_text_field('profile','geo_city_name')
%br
= city_id_field('profile', 'city_id') 

