<ul class='plain'>
<li id='select_country'>Country: 
  <%= country_dropdown('profile','country_id') %>
</li>
<li id='state_dropdown' style='display: none'>State/Province: 
  <%= state_dropdown('profile','state_id', @profile.country_id) %>
</li>
<li id='city_text' style='display: none'>City: <%= city_text_field('profile','geo_city_name') %>
<%= city_id_field %>
</li>
</ul>

