<ul class='plain'>
<li id='select_country'>Country: 
  <%= country_dropdown('profile','country_id') %>
</li>
<%= state_dropdown('profile','state_id', @profile.country_id) %>
<%= city_text_field('profile','geo_city_name') %>
<%= city_id_field %>
</ul>

