  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <title><%=h title_from_context %></title>
  <!-- begin styling -->
  <%= crabgrass_stylesheets %>
  <!-- end styling -->
  <%= crabgrass_javascripts %>

