<div class="account_links">
<% if logged_in? -%>

  <%= link_to I18n.t(:menu_link_account), me_url(:action => 'edit') %> &bull;
  <%= link_to I18n.t(:menu_link_logout) + ' '  + current_user.display_name, :controller => '/account', :action => 'logout' %>
  <%= call_hook :top_right_links %>

<% elsif !@login_form_already_rendered -%>

  <%
    strings = {
      :login           => I18n.t(:login),
      :username        => I18n.t(:username),
      :password        => I18n.t(:password),
      :forgot_password => I18n.t(:forgot_password_link),
      :create_account  => I18n.t(:signup_link),
      :redirect        => params[:redirect] || request.request_uri,
      :token           => form_authenticity_token
    } 
    options = {
      :may_signup => may_signup?
    }
  %>
  <span>
    <%= link_to_function(I18n.t(:login), "loginDialog(#{strings.to_json}, #{options.to_json})") %>
    <%# javascript_tag "loginDialog(#{strings.to_json}, #{options.to_json})" %>
  </span>
 
<% end -%>
</div>
