<%
  popup_url = url_for( :controller => 'account', :action => 'show_login_popup')
%>
<div class="account_links">
<% if logged_in? -%>
  <%= link_to 'Account'[:menu_link_account], me_url(:action => 'edit') %>
  &bull;
  <%= link_to "Logout"[:menu_link_logout] + ' '  + current_user.display_name, :controller => '/account', :action => 'logout' %>
  <%= call_hook :top_right_links %>
<% elsif !@login_form_already_rendered -%>
  <span>
 
<%= link_to_modalbox(popup_url, 'Login'[:login], {:redirect => params[:redirect] || request.request_uri}) %>
</span>  
<% end -%>
</div>
