- inside_layout 'base' do

  - content_for :banner do
    = render :partial => '/admin/base/banner' 

  %section#admin-content
    %table.left_layout
      %tr
        %td.left_column
          = render :partial => '/admin/base/navigation'
        %td#content
          = yield
