- inside_layout 'base' do

  //- content_for :banner do
  //  = render :partial => '/admin/base/banner' 

  %section#admin-content
    - content_for :left_sidebar do
      = render :partial => '/admin/base/navigation'
    = yield
