<%= render :file => 'layouts/head' %>

<div id="main">
  <div id='message'>
    <%= display_messages %>
  </div>
  <div id='breadcrumbs'>
    <%= link_to_breadcrumbs %>
  </div>
  <div id='content'>
    <%= @content_for_layout %>
  </div>
</div>

<%= render :file => 'layouts/foot' %>

