!!!
%html{:dir=>language_direction}
  = render :partial => '/layouts/base/head'
  %body{:class=>language_direction}
    %div#page
      %header.page
        =render :partial => '/layouts/base/header'
      %div#content
        %div#content-container
          %div#content-wrap
            %aside#identity-info
              = yield :sidebar
            %div#main-content
              = yield
      %footer.page
        footer

          