- inside_layout 'base' do
  - content_for :banner do
    %section#identity-name
      = render :partial => '/groups/navigation/banner'

  - content_for :info_box do
    = render :partial => 'groups/navigation/menu'
  = yield

