<% inside_layout 'application' do -%>
<% if @sidebar -%>
<div id='navbar'>
  <%= render :partial => @sidebar %>
</div>
<% end -%>
<div id='maincolumn' style="<%="margin-left: 0" unless @sidebar %>">
  <%= yield %>
</div>
<% end -%>

