<html>
<head>
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'ui' %>
  <%= stylesheet_link_tag 'navigation' %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'errors' %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="<%=main_class||=''%>">

<!--
structure from
http://www.contentwithstyle.co.uk/Articles/17/a-css-framework
-->

<div id="page">
  <div id="masthead" class="clearfix">
    <%= render 'layouts/masthead' %>

    <div id="topnav-outer"><div id="topnav" class="clearfix">
    <%= render 'layouts/menu' %>
    </div></div><!--end menu -->

  </div><!--end header -->


  <div id="content" class="clearfix">
