- inside_layout 'base' do
  - content_for :banner do
    %section#identity-name
      - banner = @active_tab.to_s + '/navigation/banner'
      = render :partial => banner

  - content_for :info_box do
    - menu = @active_tab.to_s + '/navigation/menu'
    = render :partial => menu
  = yield

