- inside_layout 'base' do
  - content_for :banner do
    %section#identity-name
      = avatar_for((@parent || @group || @user), 'medium', :class => "left")
      - banner = banner_partial_for(@active_tab)
      = render :partial => banner

  - content_for :secondary_nav do
    - menu = menu_partial_for(@active_tab)
    = render :partial => menu
  = yield

