<div class="colmask rightmenu">
  <div class="colleft">
    <div class="col1wrap">
      <div class="col1 main_column">
<!-- main column start -->
<%= yield %>
<!-- main column end -->
      </div>
    </div>
    <div class="col2 right_column">
<!-- right column start -->
<%= @right_column %>
<!-- right column end -->
        </div>
    </div>
</div>

