<%# render :partial => 'layouts/messages' %>
<div id="colmask" class="rightmenu selfclear">
  <div class="column col1">
  <%= yield %>
  </div><!-- /.col1 -->
  <div class="column col2">
  <%= @right_column %>
  </div><!-- /.col2 -->
  <div class="col-clear"></div>
</div><!-- /#colmask -->