<% inside_layout 'application' do -%>
<!-- begin me -->
<%= render :partial => 'tabs' %>
<div id='tabarea'>
  <%= yield %>
  <p style="clear:both; padding-top: 2em"></p>
</div> <!-- end tab area -->
<!-- end me -->
<% end -%>

