<% @rightbar = render :partial => 'pages/sidebar' -%>
<% inside_layout 'application' do -%>
<div id='maincolumn' class='rightbar' style="<%=sidebar_space%>">
  <%= sidebar %>
  <div id='title'>
    <div id='breadcrumbs'><%= link_to_breadcrumbs %></div>
    <%= render :partial => 'pages/title' -%>
  </div>
  <%= yield %>
  <%= render :partial => 'pages/assets' %> 
  <%= render :partial => 'posts/list' if @show_posts %>  
  <br style='clear: both' />
</div>
<% end -%>

