- inside_layout 'base' do
  - content_for :banner do
    %section#identity-name
      = avatar_for(@user, 'medium', :class => "left")
      = render :partial => 'banner'

  - content_for :secondary_nav do
    = render :partial => 'menu'
  = yield

