<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render :partial => 'layouts/headmatter' %>
</head>

<body class="<%=body_class||=''%>">
<div id="container">

<div id="main">
  <div id='message'>
    <%= display_messages %>
  </div>
  
  <%= yield %>
</div>
</div><!-- end container -->
</body>
</html>

