<%- sortable = true if sortable.nil? -%>
<li id='<%=dom_id(task)%>' class='task <%= sortable ? "handle" : ""%>'>
<%= render :partial => 'task_list_page/inner_task_show', :locals => {:task => task} -%>
</li>

