<h2>dual memberships</h2>

<p>Members of group <b><%=@group.parent.name%></b> who should also be in committee <b><%=@group.short_name%></b></p>

<blockquote>
<% form_tag(:action => 'update', :id => @group) do -%>
  <div id='test'>
  <%= collection_multiple_select('group', 'user_ids', @group.parent.users, :id, :login, :outer_class=>'plainlist floatlist') %>
  <p style='clear:left'>
  <%= submit_tag "Save" %>
  </p>
  </div>
<% end -%>
</blockquote>
