<tr>
  <td><%= link_to_user membership.user, :avatar => 'small' %></td>
  <td><%= friendly_date membership.created_at %></td>
  <% if @site.tracking %>
  <td><%= friendly_date membership.visited_at %></td>
  <td><%= membership.total_visits %></td>
  <% end %>
<!--  <td><%= membership.join_method %></td> -->
  <td><%= membership.user.may?(:admin,@group) ? 'coordinator'.t : '' %></td>
</tr>

