<div class='wing'>
  <h3><%= 'Membership'.t %></h3>
  <ul class='side_list'>
    <%= content_tag(:li, list_membership_link) if may_see_members? %>
    <%= content_tag(:li, join_group_link) if join_group_link %>
    <%= content_tag(:li, leave_group_link) if leave_group_link %>
    <%= content_tag(:li, invite_link) if invite_link %>
    <%= content_tag(:li, requests_link) if requests_link %>
  </ul>
<%= render :partial => 'group/side_navigation' %>
</div>
